#{set 'Styles'} 
 
#{stylesheet 'bootstrap-datetimepicker.min.css' /} 
 
#{/set}
#{extends 'main.html' /}
#{set title:'inputFrom.html' /}



<form class="form-horizontal" role="form" action="@{Meal.doOrder}" method="POST">
  <div class="row">
    <div class="col-md-6">
      <h4 class="color1">订餐服务流程</h4>
      <h5 class="ml30 mt20 mb20">请选择菜品</h5>
       <div class="table-responsive">
        <table class="table table-bordered ml30">
          <thead class="table-top">
            <tr>
              <th colspan="2">今日供应</th>
              <th>价格</th>
              <th>数量/规格</th>
            </tr>
          </thead>
          <tbody>
        #{list items:foodname,as:'f'}	
          #{if f.shop_name==shopName} 
            <tr>
              <td   colspan="2">${f.dishes}</td>
              <td> $<input type="text" id="price${f.id}" value="${f.price}" disabled style="border:0px;background-color:white;width:40px;" /></td>
              <td style="argin-left:10px;">
      			   <input type="button" id="${f.id}btnsub" value="-" onclick="sub(this.id)"  />
      			   <input type="text" name="number"  id="txt${f.id}"  value="0" onfocus="fun_background(this.id)" onblur="fun_onblur(this.id)" onchange="fun_onchange1(this.id)" onclick="fun_onchange(this.id)" style="width:40px;background-color:#e2e2e2;" />
                   <input type="button" id="${f.id}btnadd" value="+" onclick="add(this.id)" />
                   <input style="argin-right:20px;" class="hide" type="checkbox"  id="FoodName${f.id}" name="foodId" 
                   value="${f.id}" ${flash.FoodName=="f.id"?"checked":"checked"}></td>
              </tr>
            #{/if}
          #{/list}
          </tbody>
          <thead class="table-top" style="background-color:#FFFFFF;">
            <tr>
              <th  colspan="4">订单总额:<span style="color:red;">$<input type="text" id="total" name="money" value="${flash.money}"  style="border:0px;background-color:white;font-size:14px;color:red;font-weight: bold;width:40px;" /></span></th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="form-group">
        <label for="inputPassword3"  class="col-sm-2 control-label">备注</label>
        <div class="col-sm-8">
          <textarea class="form-control" rows="3" id="note" name="note" placeholder="是否有忌口，或其他要求">${flash.note}</textarea>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
		<h5 class="mt40 mb20">联系方式</h5>
		<div class="form-group">
    <label  class="col-sm-3 control-label fwn">电话</label>
    <div class="col-sm-6">
      <input type="text" id="phone" name="phone" value="${flash.phone}" class="form-control" >
    </div>
  </div>
   <div class="form-group">
    <label  class="col-sm-3 control-label fwn">QQ</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="QQ" name="QQ" value="${flash.QQ}" >
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-3 control-label fwn">微信</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="weixin" name="weixin" value="${flash.weixin}" >
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-3 control-label fwn">邮箱</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="email" name="email" value="${flash.email}" >
    </div>
  </div>
 
 <div class="form-group mt40">
    <label  class="col-sm-3 control-label">取餐时间</label>
    <div class="col-sm-6">
           <input  type="text"  readonly class="form_datetime form-control" name="meals_date" value="${flash.meals_date}">  
    </div>
  </div>
 
  
  
   <div class="form-group">
    <label  class="col-sm-3 control-label">取餐地点</label>
    <div class="col-sm-6">
    <div id="3333"></div>
      <input type="text" class="form-control" id="address" name="address" value="${flash.address}" >
    </div>
  </div>

	</div>
  </div>
  <div class="col-md-4 col-md-offset-4 mt40">
  <input type="submit" class="btn btn-primary btn-lg btn-block" value="提交订单">
  </div>
</form>

#{set 'Scripts'} 

#{script 'bootstrap-datetimepicker.js' /}
#{script 'bootstrap-datetimepicker.fr.js' /}

 
<script type="text/javascript">
$('.form_datetime').datetimepicker({
    //language:  'fr',
    weekStart: 1,
    todayBtn:  1,
	autoclose: 1,
	todayHighlight: 1,
	startView: 2,
	forceParse: 0,
    showMeridian: 1
});
 var total = 0;
var old = 0;
var flag = 0;
  function fun_background(data){
	$("#" + data).css("background-color","#fff");
	old = parseInt($("#" + data).val());
 }
 
 function fun_onblur(data){
	 
	var now = parseInt($("#" + data).val());
	 
	 
	if(isNaN(now)) {
		now = 0;
	}
	if(isNaN(old)) {
		old = 0;
	}
	if(now != old) {
		if(now <= 0) {
			now = 0;
		}
		data = data.replace("txt","price");
		var price = $("#" + data).val();
		total += (now - old) * price;
	} 
	$("#total").val(total);
	if(parseInt($("#" + data).val()) == 0) {
		$("#" + data).css("background-color","#e2e2e2");
	}
	
 }
 
function fun_onchange(data) {
	
	var i = parseInt($("#" + data).val());
	$("#" + data).keyup(function() {
		$("#" + data).val($("#" + data).val().replace(/[^\d]/g,''));
		var j = 1
		if($("#" + data).val() == "" || $("#" + data).val() == null || $("#" + data).val() == "-") {
			j = 0;
		} 
		var i = parseInt($("#" + data).val());
		if(isNaN(i) && j == 1) {
			$("#" + data).val(0);
			$("#" + data).css("background-color","#e2e2e2");
		}
		if(typeof(i) == "number") {
			if(i >= 1) {
				$("#" + data).css("background-color","#fff");
			} else if(i < 0 ) {
				alert("亲人，请受我一拜！！！");
				$("#" + data).val(0);
				$("#" + data).css("background-color","#e2e2e2");
			}else if(i==0){
			$("#" + data).css("background-color","#e2e2e2");
			}
		}
		 
	});
	
}

function fun_onchange1(data) {
	 
	$("#" + data).blur(function() {
		var i = parseInt($("#" + data).val());
		if(isNaN(i)) {
			$("#" + data).val(0);
			$("#" + data).css("background-color","#e2e2e2");
		}
		if(parseInt($("#" + data).val()) < 1) {
			 
			$("#" + data).val(0);
			$("#" + data).css("background-color","#e2e2e2");
		} else {
			$("#" + data).val(parseInt($("#" + data).val()));
			$("#" + data).css({"background-color":"#fff","color":"#69c"});
		}
	});
	$("#" + data).change(function() {
		if(parseInt($("#" + data).val()) < 1) {
		 
			$("#" + data).val(0);
			$("#" + data).css("background-color","#e2e2e2");
		} else {
			$("#" + data).css({"background-color":"#fff","color":"#69c"});
		}
	});
}
 
function add(data) {
 
	var i = parseInt(data);
	var result = parseInt($("#txt" + i).val()) + 1;
	
	if(result <=0){
		result=0;
	}else if(result>0){
	
		$("#txt" + i).css({"background-color":"#fff","color":"#69c"});
	}
	
	total += parseInt($("#price" + i).val());
	$("#total").val(total);
	$("#txt" + i).val(result);
 
}

function sub(data) {
	var i = parseInt(data);
	var result = parseInt($("#txt" + i).val()) - 1;
	if(parseInt($("#txt" + i).val()) >= 1) {
		flag = 1;
		$("#txt" + i).addClass("test");
	}else if($("#txt" + i).val() == 0){
		flag = 0;
	}
	if(result < 1){
	$("#txt" + i).css("background-color","#e2e2e2");
		result=0;
	}else if(result>0){
	
		$("#txt" + i).css({"background-color":"#fff","color":"#69c"});
	}
	if(result >= 0 && $("#txt" + i).hasClass("test")) {
		total -= parseInt($("#price" + i).val());
	}
	if(flag == 1) {
		$("#txt" + i).removeClass("test")
	}
	$("#total").val(total);
	$("#txt" + i).val(result);
	 
}
 

</script>
#{/set}