
#{extends 'main.html' /}
#{set title:'changeProfile.html' /}

      <link href=" @{'public/jcrop/css/main.css'}" rel="stylesheet" type="text/css">
        <link href="  @{'public/jcrop/css/jquery.Jcrop.min.css'}" rel="stylesheet" type="text/css">

        <!-- add scripts -->
        <script src="  @{'public/jcrop/js/jquery.min.js'}"></script>
        <script src=" @{'public/jcrop/js/jquery.Jcrop.min.js'}"></script>
        <script src="  @{'public/jcrop/js/script.js'}"></script>
 

<div> 
<div class="row" >
<div class="col-md-4"> 
<h3>当前形象：</h3>
</div>   
<div class="col-md-6"> 
<img  src="${user.profile}" style="width:148px;" class="img-polaroid" />
</div>
</div>
 
  <div class="row" >
		<div class="col-md-2">  
		<h3>更换形象：</h3>
		</div>   
		<div class="col-md-4">  
        <div class="demo">
         
 
                <!-- upload form -->
                <form id="upload_form" enctype="multipart/form-data" method="post" action="@{SimpleUsers.doChangeProfile}" onsubmit="return checkForm()">
                    <!-- hidden crop params -->
                     <input type="hidden" id="x1" name="left">
                    <input type="hidden" id="y1" name="top">
                    <input type="hidden" id="x2" name="height">
                    <input type="hidden" id="y2" name="width">
					<input type="hidden" name="id" value="${user.id}" />
                        <h4>第一步:请选择头像</h4>
                    <div><input type="file"  name="f" id="image_file" onchange="fileSelectHandler()"></div>

                    <div class="error"></div>

                    <div class="step2">
                      <h4>第二步:请对头像进行剪切</h4>
                        <img id="preview" >
 				
                        <div class="info hide" >
                            <label>File size</label> <input type="text" id="filesize" name="filesize">
                            <label>Type</label> <input type="text" id="filetype" name="filetype">
                            <label>Image dimension</label> <input type="text" id="filedim" name="filedim">
                            <label>W</label> <input type="text" id="w" name="w">
                            <label>H</label> <input type="text" id="h" name="h">
                        </div>
						<br/>
						 
                        <input type="submit" value="上传">
                    </div>
                </form>
               
              </div>
               </div>
        </div>
        </div>
     <div class="clearfix"></div>
