#{extends 'main.html' /} #{set title:'edumail.html' /} 
#{form @authEduMail(),method:'post',class:'form-horizontal'}
<h4 class="col-md-offset-2">
	验证EDU邮箱 <small>  
</h4>
<div class="form-group ${errors.forKey('eduMail') ? 'has-error' : ''}">
	<label for="eduMail" class="col-md-2 control-label">EDU邮箱</label>
	<div class="col-md-3 ">
		<input type="text" name="eduMail" value="${edumail}" id="eduMail" class="form-control" />
	</div>
	<span class="col-md-3">#{error 'eduMail' /}</span>
</div>
<div class="form-group">
	<div class="col-md-offset-2 col-md-3">
		<a href="@{SimpleUsers.updateProfile}" class="btn btn-default ">跳过</a><input type="submit" class="btn btn-primary col-md-offset-1" value="验证">
	</div>
</div>

#{/form}
<div class="col-md-6 col-md-offset-2">
    <h3>为什么要验证EDU邮箱</h3>
    
       	 以.edu结尾的邮箱是独一无二的、作为美国学生的身份证明，在验证过edu邮箱以后您的账户将会有相应的认证图标。我们鼓励您用edu邮箱来验证身份，以获得在奥噗更加真实的服务。
</div>
     