#{extends 'main.html' /} #{set title:'fogetPassword.html' /}
	#{form @doForgetPassword(),method:'post',class:'form-horizontal'}
	<h4 class="col-md-offset-2">重置密码</h4>
	<div class="form-group">
		<label for="email" class="col-md-2 control-label">邮箱：</label>
		<div class="col-md-3">
			<input type="email" class="form-control" id="email" name="email" placeholder="" value="${flash.email}" />
			<span class="error">#{error 'email' /}</span>
		</div>
	</div>

	<div class="form-group">
	<div class="col-md-offset-2 col-md-3">
		<button type="submit" class="btn btn-primary  ">验证</button>
	</div>
		
	</div>
	#{/form}
