#{extends 'main.html' /} #{set title:'已参加的活动' /} #{include 'SimpleUsers/infoCenterTop.html' /}
<div class="row mg-top-3">
	#{include 'SimpleUsers/infoCenterNav.html' /}
	<div class="col-md-8 ">
		<ul class="nav nav-tabs">
			<li class="${tag=='publish'?'active':''}">
				<a href="@{SimpleUsers.publishedActivity}">已发布活动</a>
			</li>
			<li class="${tag=='join'?'active':''}">
				<a href="@{SimpleUsers.joinedActivity}">已参加活动</a>
			</li>
			<li class="${tag=='like'?'active':''}">
				<a href="@{SimpleUsers.likedActivity}">已关注活动</a>
			</li>
		</ul>
		<div class="mg-top-2">
		#{if activities.isEmpty()}您还未参加任何活动，<a href="@{Activities.index}">去看看</a>。#{/if}#{else}
		%{String date = new Date().format("yyyy-MM-dd")}%
		
		#{list items:activities,as:'a'}
		#{if date > a.activity.time.last().date}
		活动结束，去<a href="/activity/detail/${a.activity.id}#comment">晒晒 </a>你的此次活动经历吧？
		#{/if}
		<div style="border: solid 1px #e2e2e2;padding: 15px;padding-left:30px;">
			<h4>
				我参加了活动：
				<a href="@{Activities.detail(a.activity.id)}"> ${a.activity.name} </a>
				
			</h4>
			<a href="@{Activities.detail(a.activity.id)}">
				<img alt="" style="width:150px;margin-bottom:15px; " src="${a.activity.poster}" class="img-polaroid">
			</a>
			<br>
			<span style="font-size:12px;">${a.joinedAt} </span>
			
			<span style="margin-left:30px;font-size:12px;">（<a href="@{Activities.allJoinner(a.activity.id)}">${a.activity.joiner.size()}人报名参加 ， </a>
				${a.activity.joiner.size()}人 关注， ${a.activity.views}人浏览）${a.isAllown?"已":"暂未"}通过审核。
		
		</span>
		</div>
		#{/list}
		#{/else}
		
		</div>
	</div>
</div>