#{extends 'main.html' /} #{set title:'登录' /}
#{if flash.notconfirmed}
<div class="alert alert-danger">
<strong>邮箱尚未验证</strong>，<a href="@{SimpleUsers.resendConfirmation(flash.notconfirmed)}">重新发送</a>邮件。
</div>
#{/if}
#{form @authenticate(),method:'POST',id:'login',class:'form-horizontal'}
<h4 class="col-md-offset-2"> 登录奥噗</h4>
<div class="form-group  ${errors.forKey('email') ? 'has-error' : ''}">
	<label for="email" class="col-md-2 control-label">邮箱：</label>
	<div class="col-md-3">
		<input type="email" class="form-control" id="email" name="email" placeholder="" value="${flash.email}" />
	</div>
	<span class="col-md-3">#{error 'email' /}</span>
</div>
<div class="form-group  ${errors.forKey('password') ? 'has-error' : ''}">
	<label for="password" class="col-md-2 control-label">密码：</label>
	<div class="col-md-3 ">
		<input type="password" name="password" class="form-control" id="password" placeholder="" />
	</div>
	<span class="col-md-3">#{error 'email' /}</span>
</div>
<div class="form-group">
	<div class="col-md-offset-2 col-md-3">
		<div class="checkbox">
			<label> <input type="checkbox"> 记住我 | #{a @forgetPassword()}忘记密码？#{/a}
			</label>
		</div>
	</div>
</div>
<div class="form-group">
	<div class="col-md-offset-2 col-md-3">
		<a href="@{SimpleUsers.signup}" class="btn btn-primary ">注册</a><button type="submit" class="btn btn-success col-md-offset-1 ">登录</button>
	</div>
</div>
#{/form}
 #{if flash.notconfirmed}

#{/if}
