#{extends 'main.html' /}
#{set title:'signup.html' /}
<form class="form-horizontal"  action="@{SimpleUsers.register}"  method="post"  accept-charset="${_response_encoding}">
 <h4 class="col-md-offset-2" >注册</h4>
<div class="form-group ">
	<label for="email" class="col-md-2 control-label">邮箱</label>
	<div class="col-md-3 ">
		<input type="email" name="email" value="${flash.email}" id="email" class="form-control" />
	</div>
	<span class="col-md-3">#{error 'email' /}</span>
</div>

<div class="form-group ">
	<label for="name" class="col-md-2 control-label">昵称</label>
	<div class="col-md-3 ">
		<input type="text" name="name" id="name" value="${flash.name}" class="form-control" />
	</div>
	<span class="col-md-3">#{error 'name' /}</span>
</div>

<div class="form-group ">
	<label for="password" class="col-md-2 control-label">密码</label>
	<div class="col-md-3 ">
		<input type="password" class="form-control" name="password" value="${flash.password}" id="password" />
	</div>
	<span class="col-md-3">#{error 'password' /}</span>
</div>


<div class="form-group ">
	<label class="col-md-2 control-label">性别</label>
	<div class="col-md-3 ">
		<input type="radio"  name="gender" id="female" value="女" ${flash.gender=="女"?"checked":""}  >
		<label for="female" >女</label>
		<input type="radio"  name="gender" id="male" value="男" ${flash.gender=="男"?"checked":""} >
		<label for="male">男</label>
	</div>
	<span class="col-md-3">#{error 'gender' /}</span>
</div>

<div class="form-group">
<div class="col-md-offset-2 col-md-3">
<input type="submit" class="btn btn-primary btn-block" value="注册" id="signupButton" />
</div>
</div>
</form>
