.activity-item .thumbnail>a>img{
	width:100%;
	
}
.orders .btn{
	border:1px solid #CCC;
}
.tags>a{
	margin: 15px;
}
.tags>span{
	margin:15px;
	color:#333;
}
a.detailed{
	height:300px;
}
.list{
	font-size:12px;
}
.detail{
	height:26px;
}
 
.ac_wid{
	width:600px;
}
.map{
	
	height:210px;
}
a{
text-decoration:none !important;
}
 
.pic-leftTitle{
color:#C0B9B9;
}
.canyuNO{
	color:#336699;
}