.activity-item .thumbnail>a>img{
	width:100%;
	
}
.orders .btn{
	border:1px solid #CCC;
}
.tags>a{
	margin: 15px;
}
.tags>span{
	margin:15px;
	color:#333;
}
a.detailed{
	height:300px;
}
.list{
	font-size:12px;
}
.detail{
	height:50px;
}