.activity-item .thumbnail>a>img {
	width: 100%;
}

.orders .btn {
	border: 1px solid #CCC;
}

.tags>a {
	margin: 15px;
}

.tags>span {
	margin: 15px;
	color: #333;
}

a.detailed {
	height: 300px;
}

.list {
	font-size: 12px;
}

.details {
	margin-bottom: 5px;
}

.ac_wid {
	width: 600px;
}

.map {
	height: 210px;
}

a {
	text-decoration: none !important;
}

.pic-leftTitle {
	color: #333;
}

.canyuNO {
	color: #336699;
}

.activity-item-frontpage {
	font-size: 11px;
}

.activity-item-frontpage  .thumbnail {
	border: none;
}

.activity-item-frontpage img {
	width: 100%;
	border: 1px solid #CCC;
}

.activity-item-frontpage .profile img {
	width: 40px;
}

.order .checked {
	background: #EEE;
}
img{
opacity:1;
filter:alpha(opacity=40);
}
img:hover{
opacity:0.8;
 
}
。mp-top-2-1 img:hover{
opacity:1;
 
}
