.slide {
	position: absolute;
}
.slide .carousel-inner>.item>img, .carousel-inner>.item>a>img{
	height:450px;
}
.logo {
	position: absolute;
	left:15%;
	top:100px;
	
}

.login {
	position: absolute;
	background-color:rgba(0,0,0,0.6);
	height:450px;
	left:70%;
	color:#fff;
	
}
.login form{
	margin-top:100px;
}
.header{
	
	height:450px;
}
