@charset "utf-8";



.navbar-op {
	background-color: #336699;
	border-radius: 0;
	border: 0;
}
.main-beta{
	position: relative; 
	left: -13px;
top: 3px;
}
 
.mg-top-2{
	color:#333;
}
.navbar-nav>li {
	padding: 0 1px;
}

.navbar-op .navbar-nav>li>a {
	color: #FFF;
}

.navbar-op .navbar-nav>li>a:hover,.navbar-op .navbar-nav>li>a:focus {
	color: #FFF;
	background-color: #6699cc;
}

.navbar-op .navbar-nav  .active {
	color: #FFF;
	background-color: #6699cc;
}

.navbar-op .navbar-nav  .active:hover {
	background-color: #6699cc;
}


.global-search .form-control {
	height: 25px;
	background-color: #000;
	border-radius: 0;
	border: 0px;
	margin-left: 50px;
	color: #FFF;
}

.global-search .btn {
	margin-left: 45px;
	border-radius: 0;
	background-color: #336699;
	border: 1px solid #000;
	color: #FFF;
	font-size: 12px;
	font-family: Arial;
	padding: 3px 8px;
}
.container-op {
	padding: 20px;
	margin: 20px auto;
	border: 1px solid #ccc;
	background-color: #FFF;
}
.icon-bar {
background-color: #fff;
}
.container-op1 {
 
	padding: 20px;
	margin: 20px auto;
	border: 1px solid #ccc;
	background-color: #FFF;
}
img.profile-lg{
	height:150px;
}
img.profile-md{
	height:90px;
}
img.profile-sm{
	height:30px;
}

.bs-callout-info{
background-color: #f4f8fa;
border-color: #bce8f1;margin: 20px 0;margin-top:0px;
padding: 20px;
border-left: 3px solid #eee;
}
.navbar-collapse {
max-height: 426px;}
