@charset "utf-8";

html {
	_text-overflow: ellipsis
}

ul,ol,li,dl {
	list-style-type: none
}

em,i,dfn,cite,strong,small {
	font-style: normal
}

fieldset,img,button,input,select,option {
	vertical-align: middle
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

.weiduduan {
	width: 100%;
	margin: 0 auto
}

#banner {
	width: 100%;
	height: 450px;
	background: #000;
	overflow: hidden;
	position: absolute
}

#banner_img {
	display: block;
	position: relative
}

#banner_img li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-position: center;
	background-size: cover;
	display: none
}

#banner_img li.item1 {
	background-image: url(../images/img_1.png);
	display: block
}

#banner_img li.item2 {
	background-image: url(../images/img_2.png)
}

#banner_img li.item3 {
	background-image: url(../images/img_3.png)
}

#banner_img li.item4 {
	background-image: url(../images/img_4.png)
}

#banner_img li.item5 {
	background-image: url(../images/img_5.png)
}

#banner_img .ad_img {
	position: absolute;
	right: 10px;
	top: 80px;
	width: 506px;
	height: 404px
}

#banner_img .ad_txt {
	position: absolute;
	left: 10px;
	top: 170px;
	color: #fff;
	text-shadow: 1px 1px rgba(51,51,51,.3)
}

#banner_img .ad_txt h2 {
	font: 700 36px/60px Microsoft YaHei
}

#banner_img .ad_txt a {
	display: block;
	width: 100px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin-top: 10px;
	background: #fff;
	color: #666
}

#banner_ctr {
	position: absolute;
	width: 960px;
	height: 122px;
	margin-left: -90px;
	left: 35%;
	bottom: -75px;
	z-index: 1
}

#banner_ctr ul {
	width: 100%
}

#banner_ctr li {
	float: left;
	display: inline-block;
	height: 27px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer
}

#drag_ctr {
	position: absolute;
	cursor: pointer;
	left: 0;
	width: 24px;
	height: 32px;
	bottom: 90px;
	background: url(../images/kk1.png) no-repeat;
	z-index: 1
}

.wrapper {
	width: 986px;
	margin: 0 auto;
	position: relative;
	height: 450px
}

#banner_ctr li.styclsa {
	line-height: 27px;
	background: url(../images/kk.png) no-repeat;
	height: 27px;
	color: #fff;
	font-size: 12.48px;
	padding: 0;
	width: 24px;
	margin: 0 auto;
	overflow: hidden;
	zoom: 1
}

#banner_ctr li.astysa {
	color: #fff;
	font-size: 12.48px;
	text-align: center
}

.slide {
	position: absolute
}

.slide .carousel-inner>.item>img,.carousel-inner>.item>a>img {
	height: 450px
}

.logo {
	top: 100px
}

.index-beta {
	position: relative;
	top: -13px;
	right: 12px
}

.login {
	background-color: rgba(0,0,0,.6);
	height: 450px;
	color: #fff
}

.index_dl {
	margin-top: 55%
}

.header {
	height: 450px
}

.hot-list {
	margin-bottom: 70px
}

.index-content-ul {
	line-height: 32px;
	font-size: 15px;
	padding-left: 0
}

.index-content-ul li span {
	background-color: #69c;
	font-weight: 400
}

.hot-list p {
	padding: 5px 0
}

.activity {
	position: relative;
	height: 165px;
	overflow: hidden;
	font-size: 12px
}

.activity .poster img {
	width: 100%
}

.activity .poster {
	position: relative;
	top: 0
}

.activity .titles {
	position: absolute;
	background: #000;
	opacity: .5;
	height: 24px;
	bottom: 0;
	color: #FFF;
	width: 100%
}

.activity .detail {
	position: absolute;
	background: #428bca;
	width: 100%;
	height: 165px;
	top: 165px;
	color: #FFF;
	cursor: pointer
}

.activity .detail p {
	padding: 5px 10px 0
}

#banner_ctr {
	margin: 0;
	padding: 0;
	border: 0
}

#drag_ctr {
	margin-left: 40px
}

.hd_small {
	margin-top: 12px
}

.index_row {
	width: 100%
}

.user_exit {
	padding: 15px
}

.user_exit {
	margin-top: 20%
}

.user_exit_infocenter {
	margin-left: 6%;
	margin-top: 15%
}

hr {
	margin-top: 0
}

body {
	color: #000;
	background: #f3f3f3;
	font-family: "풕턼환쥌",Tahoma,Verdana,Arial,sans-serif
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family: "풕턼환쥌",Tahoma,Verdana,Arial,sans-serif
}

.container-op {
	font-size: 14px
}

.main-bottom {
	padding-top: 0;
	padding-bottom: 0
}

.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px
}

.navbar-brand {
	padding: 5px;
	padding-top: 4px
}

.navbar-brand>img {
	height: 31px
}

.global-search {
	margin-top: 8px;
	margin-bottom: 0
}

.form-control,.btn,.alert,.img-thumbnail {
	border-radius: 2px
}

.alert {
	padding: 10px
}

hr {
	border-color: #ccc
}

.navbar-op-footer {
	background-color: #369;
	color: #FFF
}

.navbar-op-footer .nav>li>a,.navbar-op-footer .nav>li>a:hover,.navbar-op-footer .nav>li>a:focus {
	padding: 10px 15px 8px;
	color: #FFF;
	background: 0;
	color: #FFF
}

.navbar-op-footer .navbar-text {
	margin: 10px 15px 8px
}

.navbar-no-bg>li>a,.navbar-no-bg>li>a:hover,.navbar-no-bg>li>a:focus {
	background: 0
}

.mg-top-3 {
	margin-top: 30px
}

.mg-top-2 {
	margin-top: 20px
}

.mg-top-1 {
	margin-top: 10px
}

.modal-header {
	background: #369;
	color: #FFF
}

.close {
	color: #FFF;
	font-weight: bolder;
	font-size: 28px;
	opacity: 1
}

.modal-dialog {
	padding-top: 100px
}

li {
	list-style: none
}

.img-w-3 img {
	width: 32px
}

.img-w-4 img {
	width: 48px
}

.img-w-5 img {
	width: 48px
}

.img-w-9 img {
	width: 90px
}

.img-w-15 img {
	width: 150px
}

.img-w-20 img {
	width: 200px
}

.img-border img {
	border: 1px solid #CCC
}

.suffix {
	width: 1%;
	color: red;
	float: left
}

.sfont {
	padding-left: 2px
}

.qaw {
	width: 70%
}

.overflow-100 {
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

.card-title {
	background-color: #ccf
}

.qatitle {
	padding-top: 15px
}

.userinforleft {
	float: left;
	text-align: right
}

.font-14 {
	font-size: 14px
}

.col-md-7 .input-group-lg {
	padding-top: 40px
}

.ltt {
	border-bottom: 1px solid #e2e2e2
}

.ltt li {
	margin: 21px 50px;
	position: relative
}

.ltt li img {
	position: absolute;
	left: 14px;
	bottom: -22px
}

.bbp {
	margin: 16px 0 10px 20px
}

.guanzhu-question {
	color: #999;
	font-size: 12px
}

.guanzhu-num {
	background-color: #FFF;
	height: 40px;
	width: 60px;
	text-align: center;
	border-left: 1px solid #646464;
	border-top: 1px solid #646464;
	border-right: 1px solid #646464;
	border-bottom: 0 solid #646464
}

.now_page {
	background-color: #369!important;
	color: #fff!important
}

.huida-num {
	background-color: #369;
	height: 40px;
	width: 60px;
	text-align: center;
	border-left: 1px solid #646464;
	border-top: 1px solid #646464;
	border-right: 1px solid #646464;
	border-bottom: 1px solid #646464
}

ul {
	list-style: none
}

.trend {
	padding: 20px;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC
}

.font-12 {
	font-size: 12px
}

.overflow-2 {
	height: 40px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical
}

span {
	font-size: 12px
}

.linkf {
	font-size: 14px!important;
	color: #999
}

a:link {
	text-decoration: none
}

.sinfc {
	TEXT-DECORATION: none;
	text-indent: 2em;
	color: #300;
	line-height: 25px
}

.sqinfo {
	padding-bottom: 5px
}

.activity .detail {
	border: 1px solid #CCC;
	padding: 10px
}

.qfont {
	font-family: museo-slab,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13.5!important;
	font-weight: 700;
	color: inherit!important;
	text-rendering: optimizelegibility
}

.ql {
	padding-left: 10px
}

.infocenter_left2 {
	border-bottom: 1px solid #e2e2e2
}

.infocenter_left2_pic {
	width: 128px;
	margin: 30px
}

.infocenter_8 {
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
	padding: 0;
	min-height: 500px
}

.infocenter_left_content {
	text-align: center
}

.infocenter_title {
	color: #369;
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 20px
}

.infocenter_content_user {
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 20px;
	padding-top: 20px
}

.infocenter_activity_pic {
	width: 150px;
	margin-bottom: 15px
}

.infocenter_users,.infocenter_users1 {
	color: #369
}

.infocenter_users1 {
	margin-left: 20px
}

.infocenter_right2 {
	border-bottom: 1px solid #e2e2e2;
	padding-left: 0
}

.gotop {
	width: 55px;
	height: 55px
}

.gobackTop {
	width: 50px;
	height: 80px;
	float: left;
	position: fixed;
	right: 10px;
	bottom: 100px
}

.infocenter_1 {
	margin-right: 0;
	margin-left: -22px;
	margin-top: -20px
}

.center_left {
	margin-left: 30px
}

.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px
}

.nav-tabs1 {
	margin-left: -15px
}

.form-group1 {
	width: 33%
}

.mp-top-2 {
	position: relative
}

.mp-top-2-1 {
	position: absolute;
	z-index: 999
}

.nav-tabs li a {
	background-color: #ddd
}

.now_page {
	background-color: #4b7390!important;
	color: #fff!important
}

blockquote small:before {
	content: ''!important
}

.goy-h3 {
	color: #333
}

.gy-fb {
	float: right;
	margin-top: -50px
}

.b-1 {
	height: 229px;
	position: relative;
	border-bottom: 1px solid #e2e2e2;
	border-top: 1px solid #e2e2e2
}

.b-2 {
	width: auto;
	margin-left: 4%;
	margin-top: 3%
}

.b-pic {
	height: 140px;
	width: 200px;
	margin-right: 20px;
	float: left
}

.gy-title {
	margin-top: 17px;
	margin-left: 30px
}

.b-5 {
	text-align: left;
	float: left;
	margin-left: 150px;
	margin-top: -20px
}

.goy-3 {
	display: block;
	height: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical
}

.edit_pic {
	width: 200px;
	height: 140px;
	margin: 30px;
	margin-left: 80px
}

.goy-a {
	color: #666!important;
	font-size: 12px
}

.goy-4 {
	position: absolute;
	top: 180px;
	left: 220px;
	font-size: 12px
}

.goy-5 {
	margin-left: 5px
}

.goy-6 {
	font-size: 12px;
	margin-left: 40px
}

.wr {
	float: right;
	width: 360px
}

.wr-1 {
	margin-left: 80px
}

.userinforcontent1 {
	margin-bottom: 10px
}

.right-pic {
	float: left;
	margin-right: 10px
}

.link {
	color: #999
}

.oppcontent-2 {
	width: 1024px;
	margin: 20px auto;
	background-color: #FFF
}

.op-left {
	width: 720px;
	float: left
}

.op-1 {
	margin: 30px
}

.op-1-1 {
	margin-left: 20%
}

#div1 {
	float: left;
	color: #369;
	margin-left: 38%
}

#div2 {
	float: left;
	color: #369
}

#div3 {
	margin-left: 38%;
	margin-bottom: 10%
}

.op-4 {
	float: left
}

.p-1 {
	text-indent: 8mm
}

.pl-1 {
	margin-top: 50px
}

.pl-2 {
	color: #39A5A5;
	font-size: 18px;
	font-weight: 600
}

.pl-3 {
	color: #999;
	float: right
}

.pl-4 {
	width: 560px
}

.pl-5 {
	float: right;
	margin-bottom: 30px;
	padding-left: 24px;
	padding-right: 24px
}

.pl-small {
	color: #167272;
	font-weight: 700
}

.edit_text {
	width: 70%;
	height: 38px!important;
	margin-bottom: 50px;
	margin-left: 80px
}

.edit_t {
	width: 798px;
	height: 80px;
	margin-bottom: 50px;
	margin-left: 80px;
	margin-top: 10px
}

.op-right {
	width: 320px;
	float: left;
	margin-left: 50px
}

.op-right1 {
	margin-top: 50px;
	font-size: 16px;
	display: block;
	font-weight: 600
}

.op-right2 {
	margin-top: 10px;
	height: 60px;
	width: 90px;
	margin-right: 10px;
	float: left
}

.op-right3 {
	padding-top: 10px
}

.op-right4 {
	margin-top: 10px
}

.op-left1 {
	width: 700px;
	float: left
}

.op-left2 {
	width: 660px;
	float: right
}

.op-title {
	float: left;
	font-size: 14px;
	margin-right: 20px;
	position: absolute
}

.op-c,.op-c1 {
	float: left;
	font-size: 14px
}

.we-btn,.we-btn1 {
	float: left;
	font-size: 14px;
	margin-left: 76px;
	margin-top: 20px;
	margin-bottom: 30px
}

.we-btn1 {
	margin-left: 30px
}

.float-1 {
	clear: both
}

.pagination ul>li>a,.pagination ul>li>span {
	float: left;
	padding: 4px 12px;
	line-height: 20px;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd
}

.pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span {
	background-color: #4b7390!important;
	color: #fff
}

.paging {
	border-left-width: 1px;
	color: #999;
	margin-left: 5px;
	font-size: 12px
}

.sh_title {
	float: left;
	color: #369
}

.sh_explain {
	margin-top: 26px;
	margin-left: 25px
}

.sh_explain span {
	margin-left: 47px;
	color: #333
}

.sh_content {
	clear: both;
	border-top: 1px solid #e2e2e2;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #369
}

.sh_4 {
	color: #333
}

.sh_bottom {
	position: absolute;
	margin-left: 63px;
	margin-top: 63px
}

.sh_width {
	width: 720px
}

.sh_head {
	min-height: 110px;
	float: left
}

.sh_head_pic {
	margin-right: 20px;
	width: 86px
}

.sh_name {
	position: relative;
	color: #333
}

.male {
	width: 14px
}

.activity-item .thumbnail>a>img {
	width: 100%
}

.orders .btn {
	border: 1px solid #CCC
}

.tags>a {
	margin: 15px
}

.pic-height {
	display: block;
	height: auto
}

.top-thum-a {
	display: block;
	height: 220px
}

.tags>span {
	margin-top: -4px;
	margin-right: 5px;
	color: #333
}

.thumbnail {
	overflow: hidden;
	padding: 6px
}

.top-tuijian {
	position: absolute;
	z-index: 999;
	top: 0
}

.height-47 {
	height: 47px;
}

a.detailed {
	height: 300px
}

.list {
	font-size: 12px
}

.details {
	margin-bottom: 2px
}

.ac_wid {
	width: 600px
}

.map {
	height: 210px
}

a {
	text-decoration: none!important
}

.pic-leftTitle {
	color: #333
}

.canyuNO {
	color: #369
}

.activity-item-frontpage {
	font-size: 11px;
	padding-left: 0;
	padding-right: 0
}

.activity-item-frontpage .thumbnail {
	border: 0;
	padding: 0;
	margin-left: 25px;
	width: 165px
}

.top-title {
	color: #666;
	margin-bottom: 5px
}

.profile .row {
	margin-top: 5px
}

.marginT5 {
	margin-top: 5px
}

.activity-cards {
	width: 104.6%
}

.mp-top-2-1 .img-responsive {
	position: absolute;
	top: 21px
}

.activity-card {
	width: 19%;
	margin-right: 10px
}

.activity-card .thumbnail {
	border-radius: 0;
	width: 99%;
	height: 365px;
	margin-top: 20px;
	position: relative
}

.caption {
	padding-left: 7px
}

.activity-name-width {
	margin-top: -4px
}

.activity-name {
	margin-bottom: 15px;
	font-size: 17px
}

.card-buttom {
	margin-top: 4px
}

.card-user {
	width: 32px
}

.card-time {
	margin-top: -6px
}

.card-time p {
	margin: 0
}

.card-time img {
	width: 32px;
	border: 0
}

.card-time span {
	position: relative;
	white-space: pre;
	top: 2px
}

.top-cssa {
	margin-bottom: 0;
	margin-top: 1px
}

.activity-item-frontpage img {
	width: 100%;
	border: 1px solid #CCC
}

.activity-item-frontpage .profile img {
	width: 32px;
	border: 0
}

.order .checked {
	background: #EEE
}

img {
	opacity: 1;
	filter: alpha(opacity=40)
}

img:hover {
	opacity: .8
}몪mp-top-2-1 img:hover {
	opacity: 1
}

.navbar-op {
	background-color: #369;
	border-radius: 0;
	border: 0
}

.main-beta {
	position: relative;
	left: -13px;
	top: 3px
}

.mg-top-2 {
	color: #999
}

.navbar-nav>li {
	padding: 0 1px
}

.navbar-op .navbar-nav>li>a {
	color: #FFF
}

.navbar-op .navbar-nav>li>a:hover,.navbar-op .navbar-nav>li>a:focus {
	color: #FFF;
	background-color: #69c
}

.navbar-op .navbar-nav .active {
	color: #FFF;
	background-color: #69c
}

.navbar-op .navbar-nav .active:hover {
	background-color: #69c
}

.global-search .form-control {
	height: 25px;
	background-color: #000;
	border-radius: 0;
	border: 0;
	margin-left: 50px;
	color: #FFF
}

.global-search .btn {
	margin-left: 45px;
	border-radius: 0;
	background-color: #369;
	border: 1px solid #000;
	color: #FFF;
	font-size: 12px;
	font-family: Arial;
	padding: 3px 8px
}

.container-op {
	padding: 20px;
	margin: 20px auto;
	border: 1px solid #ccc;
	background-color: #FFF
}

.icon-bar {
	background-color: #fff
}

.container-op1 {
	padding: 20px;
	margin: 20px auto;
	border: 1px solid #ccc;
	background-color: #FFF
}

.container-op2 {
	position: relative;
	padding-left: 0;
	padding-top: 23px;
	padding-bottom: 23px;
	padding-right: 0;
	border: 1px solid #ccc;
	background-color: #FFF
}

img.profile-lg {
	height: 150px
}

img.profile-md {
	height: 90px
}

img.profile-sm {
	height: 30px
}

.bs-callout-info {
	background-color: #f4f8fa;
	border-color: #bce8f1;
	margin: 20px 0;
	margin-top: 0;
	padding: 20px;
	border-left: 3px solid #eee
}

.navbar-collapse {
	max-height: 426px
}

body {
	color: #000;
	background: #f3f3f3;
	font-family: "풕턼환쥌",Tahoma,Verdana,Arial,sans-serif
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family: "풕턼환쥌",Tahoma,Verdana,Arial,sans-serif
}

.container-op {
	font-size: 14px
}

.main-bottom {
	padding-top: 0;
	padding-bottom: 0
}

.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px
}

.navbar-brand {
	padding: 5px;
	padding-top: 4px
}

.navbar-brand>img {
	height: 31px
}

.form-control,.btn,.alert,.img-thumbnail {
	border-radius: 2px
}

.alert {
	padding: 10px
}

hr {
	border-color: #ccc
}

.navbar-op-footer {
	background-color: #369;
	color: #FFF
}

.navbar-op-footer .nav>li>a,.navbar-op-footer .nav>li>a:hover,.navbar-op-footer .nav>li>a:focus {
	padding: 10px 15px 8px;
	color: #FFF;
	background: 0;
	color: #FFF
}

.navbar-op-footer .navbar-text {
	margin: 10px 15px 8px
}

.navbar-no-bg>li>a,.navbar-no-bg>li>a:hover,.navbar-no-bg>li>a:focus {
	background: 0
}

.mg-top-3 {
	margin-top: 30px
}

.mg-top-2 {
	margin-top: 20px
}

.mg-top-1 {
	margin-top: 10px
}

.modal-header {
	background: #369;
	color: #FFF
}

.close {
	color: #FFF;
	font-weight: bolder;
	font-size: 28px;
	opacity: 1
}

.modal-dialog {
	padding-top: 100px
}

li {
	list-style: none
}

.img-w-3 img {
	width: 32px
}

.img-w-4 img {
	width: 48px
}

.img-w-5 img {
	width: 48px
}

.img-w-9 img {
	width: 90px
}

.img-w-15 img {
	width: 150px
}

.img-w-20 img {
	width: 200px
}

.img-border img {
	border: 1px solid #CCC
}

.color1 {
	color: #336699;
}

.color2 {
	color: #6699cc;
}

.color3 {
	color: 6699ff;
}

.color4 {
	color: #999999;
}

.color5 {
	color: #333333;
}

.color6 {
	color: #33cc33;
}

.size1 {
	font-size: 24px;
}

.size2 {
	font-size: 16px;
}

.size3 {
	font-size: 14px;
}

.size4 {
	font-size: 12px;
}

.avatar1 {
	width: 128px;
}

.avatar2 {
	width: 88px;
}

.avatar3 {
	width: 40px;
}

.avatar4 {
	width: 32px;
}

.avatar5 {
	width: 128px;
}