.suffix {
	width: 1%;
	color: #FF0000;
	float: left;
}

.sfont {
	padding-left: 2px;
}

.qaw {
	width: 70%;
}

.woqu {
	width: auto;
	margin-left: -15%;
}

.qatitle {
	padding-top: 15px;
}

.userinforleft {
	float: left;
	width: 88px;
	padding-top: 50px;
	text-align: right;
}

.userinforright {
	text-align: left;
	width: 426px;
	font-size: 8px;
	margin-left: -11%;
}

.guanzhu-question {
	color: #999999;
	font-size: 12px;
}

.guanzhu-num {
	background-color: #FFFFFF;
	height: 40px;
	width: 60px;
	text-align: center;
	border-left: 1px solid rgb(100,100,100);
	border-top: 1px solid rgb(100,100,100);
	border-right: 1px solid rgb(100,100,100);
	border-bottom: 0px solid rgb(100,100,100);
}

.huida-num {
	background-color: #4b7390;
	height: 40px;
	width: 60px;
	text-align: center;
	border-left: 1px solid rgb(100,100,100);
	border-top: 1px solid rgb(100,100,100);
	border-right: 1px solid rgb(100,100,100);
	border-bottom: 1px solid rgb(100,100,100);
}

ul {
	list-style: none;
}
.trend{
	padding:20px;
	border-bottom:1px solid #CCC;
	border-left:1px solid #CCC;
}
.profile img{
}

span{
font-size:12px;
}
.linkf{
font-size:14px !important; 
color:#999999;
}
a:link { 
text-decoration: none;
}
.sinfc{
TEXT-DECORATION:none;
text-indent:2em; 
color:#330000;
line-height:25px;
}
.sqinfo{
border-bottom:1px solid #dddddd;
margin-left:10px; 
padding-bottom:5px; 
width:60%;
}


.activity .detail{
	border:1px solid #CCC;
	background:#fafafa;
	margin:10px;
	padding:10px;
}
.qfont{
font-family:museo-slab,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-size:13.5 !important;
font-weight:bold;
color:inherit !important;
text-rendering:optimizelegibility;
}
.ql{
padding-left:10px;
}
.sq{
padding-top:5px;
}

.infocenter_left2{
border-bottom: 1px solid #e2e2e2;
}
.infocenter_left2_pic{
width:163px;
margin-top:30px;
}
.infocenter_8{
border-left:1px solid #e2e2e2;
border-right:1px solid #e2e2e2;}
.infocenter_left_content{
text-align:center}
.infocenter_title{
color:#336699;border-bottom: 1px solid #e2e2e2;padding-bottom: 20px;}
.infocenter_content_user{
border-bottom:1px solid #e2e2e2;padding-bottom: 20px;padding-top: 20px;}
.infocenter_activity_pic{
width:150px;margin-bottom:15px; }
.infocenter_users,.infocenter_users1{
color:#336699}
.infocenter_users1{
margin-left:20px;}
.infocenter_right2{border-bottom: 1px solid #e2e2e2;padding-left:0px;}
.infocenter_1{
	margin-right: 0px;
margin-left: -22px;
margin-top: -20px;
}


