#{extends 'main.html' /}
#{set title:'changePassword.html' /}
<div>
 <h4 id="title" >修改密码</h4>
<form  action="@{CSSAs.doChangePassword}" method="POST" accept-charset="${_response_encoding}" class="form-horizontal ">
	<div class="form-group ">
			<label class="col-sm-2 control-label">当前密码</label>
			<div class="col-sm-4">
			<input type="password" name="currentPassword" value="${flash.currentPassword}"  class=" form-control" />  <span>#{error 'currentPassword' /}</span>
			</div>
			</div>
	<div class="form-group ">
			<label class="col-sm-2 control-label">新密码</label>
			<div class="col-sm-4">
			<input type="password" name="password" value="${flash.password}"  class=" form-control" />  <span>#{error 'password' /}</span> 
			</div>
			</div>
	<div class="form-group ">
			<label class="col-sm-2 control-label">重复密码</label>
			<div class="col-sm-4"><input type="password" name="password2" value="${flash.password2}" class=" form-control"  />  <span>#{error 'password2' /}</span>
			</div>
			</div>
<div class="form-group ">
   <div class="col-sm-offset-2 col-sm-10">
<input type="submit" class=" btn btn-info" value="更改"> 
</div>
</div>

</form>
</div>
 <div style="clear:both;"></div>
