#{extends 'main.html' /}
#{set title:'changePassword.html' /}
<div>
 <h4 id="title" >修改密码</h4>
<form  action="@{CSSAs.doChangePassword}" method="POST" accept-charset="${_response_encoding}" class="form-horizontal ">
	<div class="control-group ">
			<label class="control-label">当前密码</label>
			<div class="controls">
			<input type="password" name="currentPassword" value="${flash.currentPassword}" />  <span>#{error 'currentPassword' /}</span>
			</div>
			</div>
	<div class="control-group ">
			<label class="control-label">新密码</label>
			<div class="controls">
			<input type="password" name="password" value="${flash.password}" />  <span>#{error 'password' /}</span> 
			</div>
			</div>
	<div class="control-group ">
			<label class="control-label">重复密码</label>
			<div class="controls"><input type="password" name="password2" value="${flash.password2}" />  <span>#{error 'password2' /}</span>
			</div>
			</div>
<input type="hidden" name="id" value="${id}"  />
<div class="control-group ">
<div class="controls">
<input type="submit" class=" btn btn-info" value="更改"> 
</div>
</div>

</form>
</div>
 <div style="clear:both;"></div>
