#{extends 'main.html' /}
#{set title:'fogetPassword.html' /}

<div>
<form method="post" action="@{CSSAs.doForgetPassword}" class="form-horizontal "  accept-charset="${_response_encoding}">
<div class="control-group">
 
 <label class="control-label">请输入注册邮箱</label>
 <div class="controls">
<input type="text" name="email" value="${flash.email}" /><span>#{error 'email' /}</span>
 
</div>
</div>
<div class="control-group">
   <div class="controls">
<input type="submit" class="btn btn-info" value="提交"> 
</div>
</div>
</form>
</div>