#{extends 'main.html' /} #{set title:'个人中心' /} #{set 'Styles'}
#{stylesheet 'user.css' /} #{/set} #{include
'CSSAs/infoCenterTop.html' /}

<div class="row mg-top-3">
	#{include 'CSSAs/infoCenterNav.html' /}
	<div class="col-md-8">
		<ul class="nav nav-tabs nav-tabs1" >
			<li class="active"><a>#{if isInfoCenter} 我 #{/if}#{else} TA #{/else}的最新动态</a></li>
		</ul>
	
		<div class=" mg-top-5">
			#{list items:trends,as:'trend'}
			<div class=" trend row">
				#{if trend.type.equals("activity")}
				<div class="col-md-1 profile ">
					<a class="img-border img-w-5">
						<img src="${trend.orderCSSA==null?trend.orderSU.profile:trend.orderCSSA.profile}" />
					</a>
				</div>
				<div class="activity col-md-11">
					<h5 style="margin-top:0px;" class="text-muted"><a>${trend.orderCSSA==null?trend.orderSU.name:(trend.orderCSSA.school.name+"CSSA")}</a>
					${trend.action}活动：
					</h5>
				 
						 
							
							<h4><a href="@{Activities.detail(trend.a.id)}" target="_blank"> ${trend.a.name}</a></h4>
							 
						 
						<p class="text-muted overflow-2">
							 
								${trend.a.intro.raw()}
						</p>
						 
						<ul class="list-inline text-muted font-12">
							  <li>发起人:<a href="">${trend.relationCSSA==null?trend.relationSU?.name:(trend.relationCSSA?.school?.name+"CSSA")} </a></li>
							<li>${trend.a.time.first().date}</li>
							<li>参加(${trend.a.joiner.size()})</li>
							
							<li> 关注(${trend.a.liker.size()})</li>
							<li> 评论(${trend.a.comment.size()})</li>
							
							
							</ul>
			
						</div>
					 	#{/if} #{elseif trend.type.equals("qa")}
			<div class="row">
				<div class="col-md-1 profile ">
					<a class="img-border img-w-5">
						<img src="${trend.orderCSSA==null?trend.orderSU.profile:trend.orderCSSA.profile}" />
					</a>
				</div>
			<div class="activity col-md-11 text-muted">
				<h5 style="margin-top:0px;" class="text-muted">${trend.orderCSSA==null?trend.orderSU.name:(trend.orderCSSA.school.name+"CSSA")}回答了问题</h5>
			<h4><a href="@{QuestAnsw.showQuesInfo(trend.q.id)}">${trend.q.title}</a></h4>
				<p class="text-muted overflow-2">
					 	 
							${trend.q.content.raw()}
						</p>
						 
			<ul class="list-inline text-muted font-12" >
							 
							<li>${trend.time}</li>
							<li> 关注(${trend.q.focusNum})</li>
							<li> 评论(${trend.q.answerNum})</li>
							
							</ul>
			</div>
					
		</div>
				#{/elseif} #{elseif trend.type.equals("fq")}
				
				<div class=" row">
				<div class="col-md-1 profile ">
					<a class="img-border img-w-5">
						<img src="${trend.orderCSSA==null?trend.orderSU.profile:trend.orderCSSA.profile}" />
					</a>
				</div>
			<div class="activity col-md-11 text-muted">
				<h5 style="margin-top:0px;" class="text-muted">${trend.orderCSSA==null?trend.orderSU.name:(trend.orderCSSA.school.name+"CSSA")}回答了问题</h5>
			<h4><a href="@{QuestAnsw.showQuesInfo(trend.q.id)}">${trend.q.title}</a></h4>
				<p class="text-muted overflow-2">
					 	 
							${trend.q.content.raw()}
						</p>
						 
			<ul class="list-inline text-muted font-12">
							 
							<li>${trend.time}</li>
								<li> 关注(${trend.q.focusNum})</li>
							<li> 评论(${trend.q.answerNum})</li>
							
							</ul>
			</div>
					
		</div>
				
				
				 
				#{/elseif} #{elseif trend.type.equals("addques")}
				<div class="  row">
				<div class="col-md-1 profile ">
					<a class="img-border img-w-5">
						<img src="${trend.orderCSSA==null?trend.orderSU.profile:trend.orderCSSA.profile}" />
					</a>
				</div>
			<div class="activity col-md-11 text-muted">
				<h5 style="margin-top:0px;" class="text-muted">${trend.orderCSSA==null?trend.orderSU.name:(trend.orderCSSA.school.name+"CSSA")}发布了一条问答</h5>
			<h4><a href="@{QuestAnsw.showQuesInfo(trend.q.id)}">${trend.q.title}</a></h4>
				<p class="text-muted overflow-2">
					 	 
							${trend.q.content.raw()}
						</p>
						 
			<ul class="list-inline text-muted font-12" >
							 
							<li>${trend.time}</li>
								<li> 关注(${trend.q.focusNum})</li>
							<li> 评论(${trend.q.answerNum})</li>
							
							</ul>
			</div>
					
		</div>
				#{/elseif} #{elseif trend.type.equals("praise")}
				<div class=" row">
				<div class="col-md-1 profile ">
					<a class="img-border img-w-5">
						<img src="${trend.orderCSSA==null?trend.orderSU.profile:trend.orderCSSA.profile}" />
					</a>
				</div>
			<div class="activity col-md-11 text-muted">
				<h5 style="margin-top:0px;" class="text-muted">${trend.orderCSSA==null?trend.orderSU.name:(trend.orderCSSA.school.name+"CSSA")}赞了 ${trend.relationCSSA==null?trend.relationSU.name:(trend.relationCSSA.school.name+" CSSA")} </h5>
			<h4><a href="@{QuestAnsw.showQuesInfo(trend.q.id)}">${trend.q.title}</a></h4>
				<p class="text-muted overflow-2">
					 	 
							${trend.q.content.raw()}
						</p>
						 
			<ul class="list-inline text-muted font-12">
							 
							<li>${trend.time}</li>
								<li> 关注(${trend.q.focusNum})</li>
							<li> 评论(${trend.q.answerNum})</li>
							
							</ul>
			</div>
					
		</div>
				 
				#{/elseif}
				#{elseif trend.type.equals("wel")}
				
				
				<div class="row">
				<div class="col-md-1 profile ">
					<a class="img-border img-w-5">
						<img src="${trend.orderCSSA==null?trend.orderSU.profile:trend.orderCSSA.profile}" />
					</a>
				</div>
			<div class="activity col-md-11 text-muted">
				<h5 style="margin-top:0px;" class="text-muted">你关注了公益活动</h5>
			<h4><a href="@{Charities.welfare(trend.w.id)}">${trend.w.title}</a></h4>
				<p class="text-muted overflow-2" style="">
					 	 
							${trend.w.content.raw()} 
						</p>
						 
			<ul class="list-inline text-muted font-12">
							 
							<li>${trend.time}</li>
							<li> 关注(${trend.w.likerCount})</li>
							 
							<li>浏览(${trend.w.views})</li>
							</ul>
			</div>
					
		</div>
				
				
					 
				#{/elseif}
		</div>
		#{/list}
	</div>

</div>
</div>
