#{extends 'main.html' /}
#{set title:'likedActivity.html' /}

 #{include 'CSSAs/infoCenterTop.html' /}
<div class="row mg-top-3">
	#{include 'CSSAs/infoCenterNav.html' /}
	<div class="col-md-8 ">
		<ul class="nav nav-tabs">
			<li class="${tag=='publish'?'active':''}">
				<a href="@{CSSAs.publishedActivity}">已发布活动</a>
			</li>
			
			<li class="${tag=='like'?'active':''}">
				<a href="@{CSSAs.likedActivity}">已关注活动</a>
			</li>
		</ul>
		<div class="mg-top-2">
		#{if activities.isEmpty()}您还未关注任何活动，<a href="@{Activities.index}" target="_blank">去看看</a>。#{/if}#{else}
		#{list items:activities,as:'a'}
		<div style="border: solid 1px #e2e2e2;padding: 15px;padding-left:30px;">
			<h4>
			我关注了活动：
				<a href="@{Activities.detail(a.activity.id)}" target="_blank"> ${a.activity.name} </a>
				
			</h4>
			<a href="@{Activities.detail(a.activity.id)}" target="_blank">
				<img alt="" style="width:150px;margin-bottom:15px;" src="${a.activity.poster}" class="img-polaroid">
			</a><br>
				<span style="font-size:12px;"> ${a.likedAt}</span>
				<span style="margin-left:30px;font-size:12px;">（<a href="@{Activities.allJoinner(a.activity.id)}" target="_blank">${a.activity.joiner.size()}人报名参加 ， </a>
				${a.activity.joiner.size()}人 关注， ${a.activity.views}人浏览）</span>
			
			
			
			</div>
		#{/list}
		#{/else}
		
		</div>
	</div>
</div>