#{extends 'main.html' /}
#{set title:'login.html' /}

 <h4 class="col-md-offset-2" >Login</h4>
 
<form id="login" action="@{CSSAs.authenticate}" method="POST"  class="form-horizontal" accept-charset="${_response_encoding}">
 
	<div class="form-group">
		<label  class="col-md-2 control-label">Email</label>
		<div class="col-md-3 ">
		<input type="text" name="email" value="${flash.email}" class="col-md-12 " id="email" />
		</div>
		</div>
	 
	 
	<div class="form-group">
		<label  class="col-md-2 control-label">Password</label>
		<div class="col-md-3">
		<input type="password" name="password" value="" class="col-md-12" id="password" />
		</div>
		</div>
  
	<div class="form-group">
	<label  class="col-md-2 control-label"> </label>
		<div class="col-md-3">
			<input type="submit" class="btn btn-info" class="col-md-3 " value="Login" id="loginButton" />
			<a href="@{CSSAs.forgetPassword}" style="margin-left:80px;">忘记密码?</a> 
			</div>
		</div>
	 
	 
</form>
 


#{if flash.notconfirmed}
	<p>
		邮箱未见证，重新<a class="action" href="@{Cssas.resendConfirmation(flash.notconfirmed)}">发送</a>邮件。
	</p>
#{/if}