#{extends 'main.html' /}
#{set title:'resetPassword.html' /}

<div>
<form  action="@{CSSAs.doResetPassword}" method="POST" accept-charset="${_response_encoding}">
<p><label>新密码</label><input type="password" name="password" value="${flash.password}" />  <span>#{error 'password' /}</span></p>
<p><label>重复密码</label><input type="password" name="password2" value="${flash.password2}" />  <span>#{error 'password2' /}</span></p>
<input type="hidden" name="id" value="${id}"  />
<input type="submit" value="更改"> 

</form>
</div>