<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8 " />
	<meta name="viewport" content="width=device-width initial-scale=1.0">
	
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="@{'/public/stylesheets/op-theme.css'}" />
	<link rel="stylesheet" href="@{'/public/stylesheets/main.css'}" />
	<link rel="stylesheet" href="@{'/public/stylesheets/font-awesome/css/font-awesome.min.css'}" />
	<link rel="stylesheet" href="@{'/public/stylesheets/msg.css'}" />
</head>

<body class="msg-mod-body">
	<div class="notification-top-bar">
		<div class="msg-mod-title">发站内信</div>
	</div>

	<form id="composeForm" method="POST" action="@{Messaging.sendMail}">
		<div class="compose-form-field">
			<label>收信人 </label>${userName}<br/>
		</div>
		<div class="compose-form-field">
			<label>标题 </label><input name="title" type="text"/><br/>
		</div>
		<div class="compose-form-field">
			<label>内容 </label><textarea id="content" name="content"></textarea>
		</div>
		<input name="userType" value="${userType}" type="hidden"/>
		<input name="userID" value="${userID}" type="hidden"/>
		<button id="sendMailButton" class="btn btn-primary">发送</button>
	</form>
</body>