#{extends 'main.html' /} 

<!-- 左侧导航 -->
<div class="col-md-2 col-sm-2 col-xs-2 msg-left-nav">
	<div class="msg-nav-title">消息中心</div>
	<ul id="navMenu" class="msg-nav-list text-center">
		<a id="mailBtn" href="@{Messaging.mail}"><li class="selected">
			<img src="/public/images/msg/msg_icon_mail.png"/><span> 站内信箱<span id="navMailCount">#{if mailCount>0}(${mailCount})#{/if}</span></span>
		</li></a>
		<a id="notificationsBtn" href="@{Messaging.notification}"><li>
			<img src="/public/images/msg/msg_icon_notification.png"/><span> 系统通知<span id="navNotificationCount">#{if notificationCount>0}(${notificationCount})#{/if}</span></span>
		</li></a>
	</ul>
</div>



<!-- 内容 -->
<div class="col-md-8 col-sm-8 col-xs-8 msg-content-wrapper">
	<div class="notification-top-bar">
		<div class="msg-mod-title">发站内信</div>
	</div>

	<form id="composeForm" method="POST" action="@{Messaging.sendMail}">
		<div class="compose-form-field">
			<label>收信人 </label>${userName}<br/>
		</div>
		<div class="compose-form-field">
			<label>标题 </label><input name="title" type="text"/><br/>
		</div>
		<div class="compose-form-field">
			<label>内容 </label><textarea id="content" name="content"></textarea>
		</div>
		<input name="userType" value="${userType}" type="hidden"/>
		<input name="userID" value="${userID}" type="hidden"/>
		<button id="sendMailButton" class="btn btn-primary">发送</button>
	</form>
</div>
<!-- 右侧广告 -->

<div class="col-md-2 col-sm-2 col-xs-2 advertisement msg-ad-wrapper">
	<img src="/public/images/msg/msg_ad.png"  class="img-responsive"/>
</div>
#{set 'Scripts'}
	<script	type="text/javascript" src="@{'/public/javascripts/mustache-min.js'}"></script>
	<script type="text/javascript" src="@{'/public/javascripts/messaging.js'}"></script>
#{/set}