#{extends 'main.html' /} #{set 'Styles'}
<link rel="stylesheet" href="@{'/public/stylesheets/msg.css'}" />
#{/set}

<!-- 左侧导航 -->
<div class="msg-left-nav">
	<div class="msg-nav-title">消息中心</div>
	<ul id="navMenu" class="msg-nav-list">
		<a id="mailBtn" href="@{Messaging.mail}" target="msg-iframe"><li>
			<img src="/public/images/msg/msg_icon_mail.png"/><span> 站内信箱<span id="navMailCount">#{if mailCount>0}(${mailCount})#{/if}</span></span>
		</li></a>
		<a id="notificationsBtn" href="@{Messaging.notifications}" target="msg-iframe"><li>
			<img src="/public/images/msg/msg_icon_notification.png"/><span> 系统通知<span id="navNotificationCount">#{if notificationCount>0}(${notificationCount})#{/if}</span></span>
		</li></a>
<!-- 		<a id="announcementBtn" href="@{Messaging.announcements}" target="msg-iframe"><li> -->
<!-- 			<img src="/public/images/msg/msg_icon_announcement.png"/><span> 奥噗公告</span> -->
<!-- 		</li></a> -->
<!-- 		<a id="settingsBtn" href="@{Messaging.settings}" target="msg-iframe"><li> -->
<!-- 			<img src="/public/images/msg/msg_icon_setting.png"/><span> 消息设置</span> -->
<!-- 		</li></a> -->
	</ul>
</div>

<!-- 右侧广告 -->
<div class="msg-ad-wrapper">
	<img src="/public/images/msg/msg_ad.png"/>
</div>

<!-- 内容 -->
<div class="msg-content-wrapper">
	<iframe id="contentFrame" class="msg-content-container" name="msg-iframe"></iframe>
</div>


#{set 'Scripts'}
	<script type="text/javascript">
		$(document).ready(function(){
			$("#navMenu").children().click(function(event){
				$("#navMenu a li").removeClass("selected");
				$(event.currentTarget).children().addClass("selected");
			});
			$("#mailBtn li").addClass("selected");
			
			#{if frameSrc}
				$("#contentFrame").attr("src", "${frameSrc}");
			#{/if}
			#{else}
				$("#contentFrame").attr("src", "@{Messaging.mail}");
			#{/else}
		});
		
		function updateMessageCounts(mailCount, notificationCount) {
			if (mailCount > 0) {
				$("#navMailCount").html("(" + mailCount + ")");
			} else {
				$("#navMailCount").html("");
			}
			
			if (notificationCount > 0) {
				$("#navNotificationCount").html("(" + notificationCount + ")");
			} else {
				$("#navNotificationCount").html("");
			}
			
			if (mailCount + notificationCount > 0) {
				$("#mailCount").html(mailCount + notificationCount);
			} else {
				$("#mailCount").html("");
			}
		}
		
	</script>
#{/set}