<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8 " />
	<meta name="viewport" content="width=device-width initial-scale=1.0">
	<link rel="stylesheet" href="@{'/public/stylesheets/bootstrap-combined.no-icons.min.css'}" />
	<link rel="stylesheet" href="@{'/public/stylesheets/op-theme.css'}" />
	<link rel="stylesheet" href="@{'/public/stylesheets/main.css'}" />
	<link rel="stylesheet" href="@{'/public/stylesheets/font-awesome/css/font-awesome.min.css'}" />
	<link rel="stylesheet" href="@{'/public/stylesheets/msg.css'}" />
</head>

<body class="msg-mod-body">
	<!-- 顶部功能区 -->
	<div class="notification-top-bar">
		<div class="msg-mod-title">系统通知</div>
	</div>
	
	<!-- 消息列表 -->
	<div id="notificationList"/>
	
	<!-- 模板 -->
	<script id="notificationTmpl">
		<div class="notification-wrapper">
			{{tmplID}}
		</div>
		<hr/>
	</script>
	
	<!-- JS -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script	type="text/javascript" src="@{'/public/javascripts/mustache-min.js'}"></script>
	<script type="text/javascript" src="@{'/public/javascripts/messaging.js'}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			showNotifications();
		});
	</script>
</body>

</html>