#{extends 'main.html' /}  

<!-- 左侧导航 -->
<div class="col-md-2 col-sm-2 col-xs-2 msg-left-nav">
	<div class="msg-nav-title">消息中心</div>
	<ul id="navMenu" class="msg-nav-list text-center">
		<a id="mailBtn" href="@{Messaging.mail}"><li>
			<img src="/public/images/msg/msg_icon_mail.png"/><span> 站内信箱<span id="navMailCount">#{if mailCount>0}(${mailCount})#{/if}</span></span>
		</li></a>
		<a id="notificationsBtn" href="@{Messaging.notification}"><li class="selected">
			<img src="/public/images/msg/msg_icon_notification.png"/><span> 系统通知<span id="navNotificationCount">#{if notificationCount>0}(${notificationCount})#{/if}</span></span>
		</li></a>
	</ul>
</div>



<!-- 内容 -->
<div class="col-md-8 col-sm-8 col-xs-8 msg-content-wrapper">
	<!-- 顶部功能区 -->
	<div class="notification-top-bar">
		<div class="msg-mod-title">系统通知</div>
	</div>
	
	<!-- 消息列表 -->
	<div id="notificationList"></div>
</div>


<!-- 右侧广告 -->
<div class="col-md-2 col-sm-2 col-xs-2 advertisement msg-ad-wrapper">
	<img src="/public/images/msg/msg_ad.png" class="img-responsive"/>
</div>



<!-- 模板 -->
<script id="notificationTmpl">
	<div class="notification-wrapper {{^isRead}}notification-unread{{/isRead}}">
		<div class="notification-title">{{title}}</div>
		<div class="notification-content">{{{content}}}</div>
		<div class="notification-time">{{time}}</div>
		<span class="notification-delete">删除</span>
	</div>
	<hr/>
</script>

#{set 'Scripts'}
	<script	type="text/javascript" src="@{'/public/javascripts/mustache-min.js'}"></script>
	<script type="text/javascript" src="@{'/public/javascripts/messaging.js'}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			showNotifications();
		});
	</script>
#{/set}