#{extends 'main.html' /}
#{set title:'editSuccessful.html' /}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv='refresh' content='3;URL= http://www.opporlink.com/questansw/searchpage?flag=1&pageSize=10&currentPage=1'>

<div class="span5 offset3" style="margin-top: 110px;margin-bottom: 237px;margin-left:320px;">
<img src="@{'public/images/ok.png'}" style="float:left; margin-top: -15px;">
<h4 style="color:#5282a5">您好，您的问题已经修改成功!
<br>
<span id="div1" style="color:#5282a5;margin-left:0px;"></span><span style="color:#5282a5" id="div2">秒后自动跳转问答首页</span></h4>
</div>

 