#{extends 'main.html' /}
#{set title:'searchPage.html' /}
#{set 'Styles'}
<link rel="stylesheet" href="/public/stylesheets/scrollpagination.css" />
<link rel="stylesheet" href="/public/stylesheets/activity.css" />
#{/set}
<script type="text/javascript" src="../../../public/javascripts/allunivlist.js"></script>
<script type="text/javascript"> 
$(document).ready(function(){
	var idnum;
	var sub;
	$("a.kuaishuhuida").hide();
	$("a.guanzhu-question").click(function(){
		if($(this).next().hasClass('hide')){
		$(this).next().removeClass('hide');
		   // idnum=$(this).attr('idnum');
		   // sub = '#sub'+idnum;
		}else{
			$(this).next().addClass('hide');
		}
	});
});
	var school = "";
	$(function (){
		$.each(allUnivList,function (j,m){
		if(j==0 || j==7){
			$("#gj").append("<a href='javascript:void(0);' onclick='getSheng("+j+",\""+m.name+"\")'>"+m.name+"</a>");			
		}		
			//$("#gj").append("<a href='javascript:void(0);' style='margin: 8px;'  onclick='getSheng("+j+",\""+m.name+"\")'>"+m.name+"</a>");			
		});
	});
	//获得每个国家的省份
	function getSheng(aid,name){
	school = name;
		$("#sheng").show();
		$("#list").html('');
		$("#sheng").html('');
		if (allUnivList[aid].provs.length == 0){
			$("#sheng").append("很抱歉！暂时没有数据（只提供了中国和美国的学校信息)");
		}
		else
		{
			$.each(allUnivList[aid].provs,function (j,m){				
				$("#sheng").append("<a href='javascript:void(0);' style='margin: 10px;' onclick='getSchool("+aid+","+j+",\""+m.name+"\")'>"+m.name+"</a>");
			});
		}
	}
	//获得每个省份的学校
	function  getSchool(gid,pid,name){
	school = school.substring(0,2);
	school += " - "+name;
	$("#list").show();
		$("#list").html('');
		$.each(allUnivList[gid].provs[pid].univs,function (k,l){
			$("#list").append("<a  style='width:270px;display:block;float:left; margin:10px;'>"+l.name+"</a>");
		});
		$("#list").append("<br style='clear:both;' />");
			
	}
	$("#list a").live("click",function (){
		$("#gj").hide();
		$("#list").hide();
		$("#sheng").hide();
		school += " - "+$(this).text();
		$("#txtSc").val(school);
		//alert($("#txtSc").val());
		
		
	});
	$("#txtSc").live("click",function (){
		$("#gj").show();
		$("#list").hide();
		$("#sheng").hide();
	});	
	
	
$('#modal').on('hidden', function() {
    $(this).removeData('modal');
});
	
</script>
 



<form class="form-inline" role="form" action="@{QuestAnsw.searchQues}" method="post">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">Email address</label>
    <input type="text" class="form-control" placeholder="输入你想知道的问题..." id="ques" name="ques"  value="${flash.ques}" style="width:373px;">
  </div>
  <button type="submit" class="btn  btn-primary">搜索问题</button>
  <a type="button" href="@{QuestAnsw.QuesIndex}" class="btn btn-info">我要提问</a>
</form>

<dl class="dl-horizontal" style="margin-top:30px;">
  <dt style="width:30px;">标签</dt>
  <dd style="margin-left:45px;">
	  	#{list items:t,as:'tag'}
			<a class="btn btn-default" href="@{QuestAnsw.searchTag(tag.tagName)}" role="button" style="border-radius:20px">${tag.tagName}</a>
	    #{/list}
  </dd>
</dl>
	 
<form class="form-inline" role="form" action="@{QuestAnsw.searchSchool}" method="post" style="margin-top:30px;">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">Email address</label>
    <input type="text" class="form-control" placeholder="点击选择学校"  id="txtSc" name="school"
    value="${flash.school}" readonly  style="width:373px; cursor:auto;background-color:#FFFFFF;"  />
  </div>
  <button type="submit" class="btn   btn-primary">搜索学校</button>
</form>
<div id="gj" style="width:373px; border:1px #5885a5 solid; padding:10px; overflow:hidden; line-height:25px; display:none;"></div>
<div id="sheng" style="width:373px; word-break:break-all; border:1px #5885a5 solid; padding:10px; overflow:hidden; line-height:25px;display:none;"></div>
<div id="list" style="width:373px; border:1px #5885a5 solid; padding:10px; overflow:hidden; line-height:25px;display:none; height:300px; overflow-y:auto;"></div>	 

  
</div>
<div class="container container-op">
		<div class="group1">
				#{list items:qArticles,as:'qa'}
				<div style="width:665px;">
				<i class=" icon-lightbulb"></i><span><a href="@{QuestAnsw.showQuesInfo(qa.ques.id)}" style="font-size:15px;">${qa.ques.title}</a></span>
				</div>
					<div  class="sqinfo">
					#{if qa.ques.usertype == "cssa"}
					<a href="@{CSSAs.preview(qa.ques.userid)}" data-target="#modal" data-toggle="modal">
						<img src="${qa.ques.userprofile}" style="width:30px;float:right;padding-top:10px;">
					</a>
					#{/if}
					#{else}
						<a href="@{SimpleUsers.preview(qa.ques.userid)}" data-target="#modal" data-toggle="modal">
							<img src="${qa.ques.userprofile}" style="width:30px;float:right;padding-top:10px;">
						</a>
					#{/else}
						<label class="userinforleft">
						
							<div class="guanzhu-num">
								<a class="guanzhuNO2">${qa.ques.answerNum}</a>
								<div>
									<p style="color:rgb(100,100,100);font-size:12px;">回答</p>
								</div>
							</div>
							<div class="huida-num">
								<a style="color:white;">${qa.ques.focusNum}</a>
								<div>
									<p style="color:white;font-size:12px;">关注</p>
								</div>
							</div>
						</label>
						<div class="controls userinforright">
							<ul style="	margin-left:110px; width:400px;" >
								<li class="sq">
									<i class="icon-bookmark-empty"></i>
									<span class="keywords" style="TEXT-DECORATION:none; color:#CCCCCC;" >${qa.ques.label}</span>
								</li>
								<li class="sq">
								<i class="icon-user-md"></i>
								<strong>${qa.ques.username}</strong>，${qa.ques.selfIntro}</li>
								<li  class="sq">
									<div style="text-overflow:ellipsis;overflow:hidden; height:43px;color:rgb(100,100,100);">
										<span >${qa.ques.content.raw()}</span>
									</div>
								</li>
								<li class="sq">
									<a href="@{QuestAnsw.fcousOnQuestion(qa.ques.id)}" class="guanzhu-question">
										<img src="/public/images/focus.png">
										关注问题
									</a>
									<a href="@{QuestAnsw.showQuesInfo(qa.ques.id)}" class="guanzhu-question">
										<img src="/public/images/answer.png">
										<span>我来回答</span>
									</a>
								</li>
							</ul>	
						</div>
						</div>
			 	 	 #{/list}
			 	 	 
				 <div class="row-fluid">
					<div class="span12" style="margin-left:10%;">
						<div class="pagination">
							<ul class="pagination pagination-lg ">
							  <li ><a href="@{QuestAnsw.Quespaging(1)}">&laquo;</a></li>
							  #{list items:1..pageCount,as:'page'}
							  	<li ><a href="@{QuestAnsw.Quespaging(page)}">${page}</a></li>
							  #{/list}
							  <li ><a href="@{QuestAnsw.Quespaging(pageCount)}">&raquo;</a></li>
							</ul>
				       </div>
				   </div>
				</div>
			</div>
 <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
