#{extends 'main.html' /}
#{set title:'searchPage.html' /}
#{set 'Styles'}
<link rel="stylesheet" href="/public/stylesheets/scrollpagination.css" />
<link rel="stylesheet" href="/public/stylesheets/activity.css" />
 <link href="/public/stylesheets/media-queries.css" rel="stylesheet"/>
#{/set}
<script type="text/javascript" src="@{'public/javascripts/allunivlist.js'}"></script>
<script type="text/javascript"> 
$(document).ready(function(){
	var idnum;
	var sub;
	$("a.kuaishuhuida").hide();
	$("a.guanzhu-question").click(function(){
		if($(this).next().hasClass('hide')){
		$(this).next().removeClass('hide');
		   // idnum=$(this).attr('idnum');
		   // sub = '#sub'+idnum;
		}else{
			$(this).next().addClass('hide');
		}
	});
});
	var school = "";
	$(function (){
		$.each(allUnivList,function (j,m){
		if(j==0 || j==7){
			$("#gj").append("<a href='javascript:void(0);' onclick='getSheng("+j+",\""+m.name+"\")'>"+m.name+"</a>");			
		}		
			//$("#gj").append("<a href='javascript:void(0);' style='margin: 8px;'  onclick='getSheng("+j+",\""+m.name+"\")'>"+m.name+"</a>");			
		});
	});
	//获得每个国家的省份
	function getSheng(aid,name){
	school = name;
		$("#sheng").show();
		$("#list").html('');
		$("#sheng").html('');
		if (allUnivList[aid].provs.length == 0){
			$("#sheng").append("很抱歉！暂时没有数据（只提供了中国和美国的学校信息)");
		}
		else
		{
			$.each(allUnivList[aid].provs,function (j,m){				
				$("#sheng").append("<a href='javascript:void(0);' style='margin: 10px;' onclick='getSchool("+aid+","+j+",\""+m.name+"\")'>"+m.name+"</a>");
			});
		}
	}
	//获得每个省份的学校
	function  getSchool(gid,pid,name){
	school = school.substring(0,2);
	school += " - "+name;
	$("#list").show();
		$("#list").html('');
		$.each(allUnivList[gid].provs[pid].univs,function (k,l){
			$("#list").append("<a  style='width:270px;display:block;float:left; margin:10px;'>"+l.name+"</a>");
		});
		$("#list").append("<br style='clear:both;' />");
			
	}
	$("#list a").live("click",function (){
		$("#gj").hide();
		$("#list").hide();
		$("#sheng").hide();
		school += " - "+$(this).text();
		$("#txtSc").val(school);
		//alert($("#txtSc").val());
		
		
	});
	$("#txtSc").live("click",function (){
		$("#gj").show();
		$("#list").hide();
		$("#sheng").hide();
	});	
	
	
$('#modal').on('hidden', function() {
    $(this).removeData('modal');
});
</script>
<form class="form-inline" role="form" action="@{QuestAnsw.searchQues(1,ques,1,5)}" method="post">
  <div class="form-group form-group1" >
    <label class="sr-only" for="exampleInputEmail2">Email address</label>
    <input type="text" class="form-control" placeholder="输入你想知道的问题..." id="ques" name="ques"  value="${flash.ques}"  >
  </div>
  <button type="submit" class="btn  btn-primary">搜索问题</button>
  <a type="button" href="@{QuestAnsw.QuesIndex}" class="btn btn-info">我要提问</a>
</form>

<dl class="dl-horizontal" style="margin-top:30px;">
  <dt style="width:40px;">标签:</dt>
  <dd style="margin-left:45px;">
	    #{list items:t,as:'tag'}
	  		#{if tag.id == tagid}
			<a class="btn btn-default" href="@{QuestAnsw.searchTag(1,tag.tagName,1,5)}" role="button" style="margin-top:5px;border-radius:20px;background-color:#6699cc;" >${tag.tagName}</a>
			#{/if}
			#{else}
			 <a class="btn btn-default" href="@{QuestAnsw.searchTag(1,tag.tagName,1,5)}" role="button" onMouseOver="this.style.backgroundColor='#6699cc'" onMouseOut="this.style.backgroundColor='#ccc'"  style="margin-top:5px;border-radius:20px;background-color:#ccc;"  >${tag.tagName}</a>
			#{/else}
	    #{/list}
	    
  </dd>
</dl>
	 
<form class="form-inline" role="form" action="@{QuestAnsw.searchSchool(1,school,1,5)}" method="post" style="margin-top:30px;">
  <div class="form-group form-group1">
    <label class="sr-only" for="exampleInputEmail2">Email address</label>
    <input type="text" class="form-control" placeholder="点击选择学校"  id="txtSc" name="myschool"
    value="${flash.school}" readonly  style="cursor:auto;background-color:#FFFFFF;"  />
    <div id="gj"  class="form-control" style=" border:1px #5885a5 solid; padding:10px; height:100%; line-height:25px; display:none;"></div>
    <div id="sheng" class="form-control" style="word-break:break-all; border:1px #5885a5 solid; padding:10px;height:100%; line-height:25px;display:none;"></div>
	<div id="list"  class="form-control" style=" border:1px #5885a5 solid; padding:10px; height:100%; line-height:25px;display:none; height:300px; overflow-y:auto;"></div>
  </div>
  <button type="submit" class="btn btn-primary">搜索学校</button>
</form>
	 
 
<div class="btn-group order" style="margin-top:20px;">
	#{if sign=="searchPage"}
		<a href="@{QuestAnsw.searchPage(1,1,5)}"><button type="button" class="btn btn-default btn-sm checked">默认排序</button></a>
		<a href="@{QuestAnsw.searchPage(2,1,5)}"><button type="button" class="btn btn-default btn-sm ">发布时间<i class=" icon-arrow-down"></i></button></a>
		<a href="@{QuestAnsw.searchPage(3,1,5)}"><button type="button" class="btn btn-default btn-sm  ">回答数量 <i class=" icon-arrow-down"></i></button></a>
		<a href="@{QuestAnsw.searchPage(4,1,5)}"><button type="button" class="btn btn-default btn-sm">关注人数 <i class=" icon-arrow-down"></i></button></a>
	#{/if}
	#{elseif sign=="searchTag"}
		<a href="@{QuestAnsw.searchTag(1,tagname,1,5)}"><button type="button" class="btn btn-default btn-sm checked">默认排序</button></a>
		<a href="@{QuestAnsw.searchTag(2,tagname,1,5)}"><button type="button" class="btn btn-default btn-sm ">发布时间<i class=" icon-arrow-down"></i></button></a>
		<a href="@{QuestAnsw.searchTag(3,tagname,1,5)}"><button type="button" class="btn btn-default btn-sm  ">回答数量 <i class=" icon-arrow-down"></i></button></a>
		<a href="@{QuestAnsw.searchTag(4,tagname,1,5)}"><button type="button" class="btn btn-default btn-sm">关注人数 <i class=" icon-arrow-down"></i></button></a>
	#{/elseif}
	#{elseif sign=="searchQues"}
		<a href="@{QuestAnsw.searchQues(1,ques,1,5)}"><button type="button" class="btn btn-default btn-sm checked">默认排序</button></a>
		<a href="@{QuestAnsw.searchQues(2,ques,1,5)}"><button type="button" class="btn btn-default btn-sm ">发布时间<i class=" icon-arrow-down"></i></button></a>
		<a href="@{QuestAnsw.searchQues(3,ques,1,5)}"><button type="button" class="btn btn-default btn-sm  ">回答数量 <i class=" icon-arrow-down"></i></button></a>
		<a href="@{QuestAnsw.searchQues(4,ques,1,5)}"><button type="button" class="btn btn-default btn-sm">关注人数 <i class=" icon-arrow-down"></i></button></a>
	#{/elseif}
	#{elseif sign=="searchSchool"}
		<a href="@{QuestAnsw.searchSchool(1,school,1,5)}"><button type="button" class="btn btn-default btn-sm checked">默认排序</button></a>
		<a href="@{QuestAnsw.searchSchool(2,school,1,5)}"><button type="button" class="btn btn-default btn-sm ">发布时间<i class=" icon-arrow-down"></i></button></a>
		<a href="@{QuestAnsw.searchSchool(3,school,1,5)}"><button type="button" class="btn btn-default btn-sm  ">回答数量 <i class=" icon-arrow-down"></i></button></a>
		<a href="@{QuestAnsw.searchSchool(4,school,1,5)}"><button type="button" class="btn btn-default btn-sm">关注人数 <i class=" icon-arrow-down"></i></button></a>
	#{/elseif}
</div>




<div class="container container-op1">
<div class="group1">
			<div  class="sqinfo col-md-8">	
				#{if contentIsEmpty}
  					<img src="../public/images/kong.png">
  	 			#{/if}
			 #{else}
			  <h3 class="text-primary" style="margin-top:0px;">热门问答</h3>
			 <hr>
							
			#{list items:qArticles,as:'qa'}
				<p style="font-size:16px;"><a href="@{QuestAnsw.showQuesInfo(qa.ques.id)}" target="_blank">${qa.ques.title}</a>
 
 			#{if qa.ques.usertype == "cssa"}
					<a href="@{CSSAs.preview(qa.ques.userid)}" data-target="#modal" data-toggle="modal"  title="${qa.ques.username}">
					 <img src="${qa.ques.userprofile}" style="width:30px;float:right;">
					</a>
					#{/if}
					#{else}
						<a href="@{SimpleUsers.preview(qa.ques.userid)}" data-target="#modal" data-toggle="modal" title="${qa.ques.username}">
							<img src="${qa.ques.userprofile}" style="width:30px;float:right;"> 
						</a>
					#{/else}
 
 
					
					</p>
					
						<label class="userinforleft">
							<div class="guanzhu-num">
								<a class="guanzhuNO2">${qa.ques.answerNum}</a>
								<div>
									<p style="color:rgb(100,100,100);font-size:12px;">回答</p>
								</div>
							</div>
							<div class="huida-num">
								<a style="color:white;">${qa.ques.focusNum}</a>
								<div>
									<p style="color:white;font-size:12px;">关注</p>
								</div>
							</div>
						</label>
						<div class="controls userinforright">
							<ul style="	margin-left:40px; width:75%;" >
								<li class="sq">
									<span class="keywords" style="TEXT-DECORATION:none; color:#CCCCCC;" >标签：
									<span class="text-primary">${qa.ques.label}</span>
									</span>
								</li>
							<li class="sq">
									 
									<span class="keywords">
									<span style="font-size:14px;"><strong>${qa.ques.username}</strong></span>
							 
									</span>
								</li>
							
								
								<li  class="sq" style="width:100%">
									<div  style="text-overflow:ellipsis;overflow:hidden; height:43px;color:rgb(100,100,100);
										text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp:2; -webkit-box-orient: vertical;">
										<span style="color: black;">${qa.ques.content.raw()}</span>
									</div>
								</li>
								<li class="sq">
									<a href="@{QuestAnsw.fcousOnQuestion(qa.ques.id)}" class="guanzhu-question">
										<img src="/public/images/focus.png">
										关注问题
									</a>
									<a href="@{QuestAnsw.showQuesInfo(qa.ques.id)}" class="guanzhu-question">
										<img src="/public/images/answer.png">
										<span>我来回答</span>
									</a>
								</li>
							</ul>	
							<hr>
						</div>
						
			 	 	 #{/list}
			 	 	 #{/else}
			 	 	 </div>
			 	 	 <div class="col-md-3 col-md-offset-1">
						  <h3 class="text-primary" style="padding-bottom:10px;margin-top:0px;">最佳答案</h3>
						  <div class="row" style="margin-top:10px;">
						   #{list items:topUser,as:'tu'}
							  	<div class="col-md-12" >
							  	#{if tu.usertype == "cssa"}
							  		<a href="@{CSSAs.preview(tu.userid)}" data-target="#modal" data-toggle="modal" title="${tu.username}">
							  			<img src="${tu.userprofile}" class="pull-left" style="padding-right:10px; width:57px;">
							  		</a>
							  	#{/if}
							  	#{else}
							  	    <a href="@{SimpleUsers.preview(tu.userid)}" data-target="#modal" data-toggle="modal" title="${tu.username}">
							  			<img src="${tu.userprofile}" class="pull-left" style="padding-right:10px; width:57px;">
							  		</a>
							  	#{/else}
							  		 <p class="text-primary" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:69%;margin-bottom: 0px;display:block;">
							  			<a href="@{QuestAnsw.showQuesInfo(tu.quesid)}">${tu.quesTitle}</a>
							  		 </p>
							  		 <p>
							  		 	<img src="@{'public/images/1-2.PNG'}">
							  		 <span class="text-muted">${tu.praiseNum}</span>
							  		 </p>
							  	</div>
						  	#{/list}
		     </div>
				   <hr>
				    <h3 class="text-primary" style="padding-bottom:10px;margin-top:0px;">热门问答</h3>
 					#{list items:topQues,as:'tq'}
 					  <p style="margin-bottom:0px;">
				   		 <a href="@{QuestAnsw.showQuesInfo(tq.id)}" style="font-size:14px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:100%;display:block;">${tq.title}</a>
				      </p>
				    <p>
				     <span class="text-muted">${tq.focusNum}个回答</span>
				    </p>
					#{/list}
			 </div>
			 #{if contentIsEmpty}
			 	<a></a>
			 #{/if}
			 #{else}
					<div class="col-md-6">
						<div class="pagination" style="margin:0px;">
							#{if pageCount == 1 || pageCount == 0}
							<a></a>
							#{/if}
							#{else}
								#{if sign=="searchPage"}
									<ul class="pagination" style="margin:0px;">
									#{if currentPage==1}
									  <li ><a href="@{QuestAnsw.searchPage(flag,1,5)}">&laquo;</a></li>
									 #{/if}
									 #{elseif currentPage>1}
									  <li ><a href="@{QuestAnsw.searchPage(flag,currentPage-1,5)}">&laquo;</a></li>
									 #{/elseif}
									 %{for(int i=inter[0];i<=inter[1];i++){}%
									 	<li ><a class="${i==currentPage?'now_page':''}" href="@{QuestAnsw.searchPage(flag,i,5)}">${i}</a></li>
									 %{}}%
									 <!--  #{list items:1..pageCount,as:'page'}
									  	<li ><a href="@{QuestAnsw.searchPage(flag,page,5)}">${page}</a></li>
									  #{/list} -->
									  #{if currentPage>=pageCount}
									  <li ><a href="@{QuestAnsw.searchPage(flag,pageCount,5)}">&raquo;</a></li>
									  #{/if}
									   #{elseif currentPage < pageCount}
									   <li ><a href="@{QuestAnsw.searchPage(flag,currentPage+1,5)}">&raquo;</a></li>
									   #{/elseif}
									</ul>
								#{/if}
								#{elseif sign=="searchTag"}
									<ul class="pagination" style="margin:0px;">
									#{if currentPage==1}
									<li ><a href="@{QuestAnsw.searchTag(sortFlag,tagname,1,5)}">&laquo;</a></li>
									#{/if}
									#{elseif currentPage>1}
									 <li ><a href="@{QuestAnsw.searchTag(sortFlag,tagname,currentPage-1,5)}">&laquo;</a></li>
									#{/elseif}
									%{for(int i=inter[0];i<=inter[1];i++){}%
									<li ><a class="${i==currentPage?'now_page':''}"  href="@{QuestAnsw.searchTag(sortFlag,tagname,i,5)}">${i}</a></li>
									%{}}%
									#{if currentPage>=pageCount}
									<li ><a href="@{QuestAnsw.searchTag(sortFlag,tagname,pageCount,5)}">&raquo;</a></li>
									#{/if}
									#{elseif currentPage < pageCount}
									<li ><a href="@{QuestAnsw.searchTag(sortFlag,tagname,currentPage+1,5)}">&raquo;</a></li>
									#{/elseif}
									</ul>
								#{/elseif}
								#{elseif sign=="searchQues"}
									<ul class="pagination" style="margin:0px;">
									#{if currentPage==1}
									<li ><a href="@{QuestAnsw.searchQues(quesSortFlag,ques,1,5)}">&laquo;</a></li>
									#{/if}
									#{elseif currentPage>1}
									<li ><a href="@{QuestAnsw.searchQues(quesSortFlag,ques,currentPage-1,5)}">&laquo;</a></li>
									#{/elseif}
									%{for(int i=inter[0];i<=inter[1];i++){}%
									<li ><a class="${i==currentPage?'now_page':''}"  href="@{QuestAnsw.searchQues(quesSortFlag,ques,i,5)}">${i}</a></li>
									%{}}%
									#{if currentPage>=pageCount}
									<li ><a href="@{QuestAnsw.searchQues(quesSortFlag,ques,pageCount,5)}">&raquo;</a></li>
									#{/if}
									#{elseif currentPage < pageCount}
									<li ><a href="@{QuestAnsw.searchQues(quesSortFlag,ques,currentPage+1,5)}">&raquo;</a></li>
									#{/elseif}
									</ul>
								#{/elseif}
								#{elseif sign=="searchSchool"}
									<ul class="pagination" style="margin:0px;">
									#{if currentPage==1}
									<li ><a href="@{QuestAnsw.searchSchool(shoolSortFlag,myschool,1,5)}">&laquo;</a></li>
									#{/if}
									#{elseif currentPage>1}
									<li ><a href="@{QuestAnsw.searchSchool(shoolSortFlag,myschool,currentPage-1,5)}">&laquo;</a></li>
									#{/elseif}
									%{for(int i=inter[0];i<=inter[1];i++){}%
									<li ><a class="${i==currentPage?'now_page':''}"  href="@{QuestAnsw.searchSchool(shoolSortFlag,myschool,i,5)}">${i}</a></li>
									%{}}%
									#{if currentPage>=pageCount}
									<li ><a href="@{QuestAnsw.searchSchool(shoolSortFlag,myschool,pageCount,5)}">&raquo;</a></li>
									#{/if}
									#{elseif currentPage < pageCount}
									<li ><a href="@{QuestAnsw.searchSchool(shoolSortFlag,myschool,currentPage+1,5)}">&raquo;</a></li>
									#{/elseif}
									
									</ul>
								#{/elseif}
							#{/else}
				       </div>
				   </div>
				   #{/else}
				</div>
</div>	 
 <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

</script>
#{set 'Scripts'}
<script type="text/javascript">
$('body').on('hidden.bs.modal', '.modal', function () {
    $(this).removeData('bs.modal');
});
</script>
#{/set}

