#{extends 'main.html' /}
#{set title:'searchPage.html' /}
#{set 'Styles'}
<link rel="stylesheet" href="/public/stylesheets/scrollpagination.css" />
<link rel="stylesheet" href="/public/stylesheets/Activity-index.css"/>
#{/}
<script type="text/javascript" src="../../../public/javascripts/allunivlist.js"></script>
<script type="text/javascript" src="../../../public/javascripts/jquery-1.7.2.min.js"></script>
<script type="text/javascript"> 

$(document).ready(function(){
	var idnum;
	var sub;
	$("a.kuaishuhuida").hide();
	$("a.guanzhu-question").click(function(){
		if($(this).next().hasClass('hide')){
		$(this).next().removeClass('hide');
		   // idnum=$(this).attr('idnum');
		   // sub = '#sub'+idnum;
		}else{
			$(this).next().addClass('hide');
		}
	});
});
	var school = "";
	$(function (){
		$.each(allUnivList,function (j,m){		
			$("#gj").append("<a href='javascript:void(0);' style='margin: 8px;'  onclick='getSheng("+j+",\""+m.name+"\")'>"+m.name+"</a>");			
		});
	});
	//获得每个国家的省份
	function getSheng(aid,name){
	school = name;
		$("#sheng").show();
		$("#list").html('');
		$("#sheng").html('');
		if (allUnivList[aid].provs.length == 0){
			$("#sheng").append("很抱歉！暂时没有数据（只提供了中国和美国的学校信息)");
		}
		else
		{
			$.each(allUnivList[aid].provs,function (j,m){				
				$("#sheng").append("<a href='javascript:void(0);' style='margin: 10px;' onclick='getSchool("+aid+","+j+",\""+m.name+"\")'>"+m.name+"</a>");
			});
		}
	}


	//获得每个省份的学校
	function  getSchool(gid,pid,name){
	school = school.substring(0,2);
	school += " - "+name;
	$("#list").show();
		$("#list").html('');
		$.each(allUnivList[gid].provs[pid].univs,function (k,l){
			$("#list").append("<a  style='width:270px;display:block;float:left; margin:10px;'>"+l.name+"</a>");
		});
		$("#list").append("<br style='clear:both;' />");
			
	}
	$("#list a").live("click",function (){
		$("#gj").hide();
		$("#list").hide();
		$("#sheng").hide();
		school += " - "+$(this).text();
		$("#txtSc").val(school);
		//alert($("#txtSc").val());
		
		
	});
	$("#txtSc").live("click",function (){
		$("#gj").show();
		$("#list").hide();
		$("#sheng").hide();
	});	
	
	
		//快速回答
	function quickAnswer(cid,qid){		
		var comments=#{jsAction @QuestAnsw.comments(':qid',':comment')  /}
		var comment =  document.getElementById(cid).value;
		var show = "show"+qid;
		var textAc = "comment"+qid;
		 $.get(comments({qid:qid,comment:comment}),
		function(data) {
			 document.getElementById(show).innerText = data;
			 document.getElementById(textAc).value ="";
		});
	}
	
	
</script>
<div class="classify NO1">
			<dl class="classify-dl clearfix">
				<dd class="list-fy">
					<form action="@{QuestAnsw.searchQues}" method="post" class="form-search" style="margin-left:-27px;margin-bottom:1px;">
						<input class="span2" placeholder="输入你想知道的问题..."
						 type="text" id="ques" name="ques"  value="${flash.ques}"  style="border:1px #5885a5 solid; width:250px;height:25px;">
						<button type="submit" class="btn btn-info" style="border:1px #5885a5 solid; height:35px; margin-left:20px;">搜索问题</button>		
					</form>
				 </dd>
				 <dd class="list-fy" style="margin-left:0px;">
					 	<a  href="@{QuestAnsw.QuesIndex}" ><button class="btn btn-info" style="height:35px;">我要提问</button></a>
				  </dd>
		  </dl>
	
		<dl class="classify-dl clearfix">
				<dt class="list-tit" style="margin-left:40px;">
					<img src="/public/img/category.png">标签:
				</dt>
				#{list items:t,as:'tag'}
					<dd class="list-fy on" style="margin-left:30px;">
						<a class=" ${tag==tag.tagName?'QuestAnsw':''}    address" href="@{QuestAnsw.searchTag(tag.tagName)}">${tag.tagName}</a>
					</dd>
				#{/list}
			 
	    </dl>
	  
	  <dl class="classify-dl clearfix controls">
	  		<div style="width:487px; overflow:hidden;">
				<form action="@{QuestAnsw.searchSchool}" method="post" class="form-search" style="margin-bottom:1px;">
					<input class="span2"  type="text" id="txtSc" style=" width:373px; height:13px; border:1px #5885a5 solid; padding:10px; overflow:hidden; " 
				    name="school" value="${flash.school}" placeholder="单击此处以选择学校"  class="form-control" readonly/>
				    
				    <button type="submit" class="btn btn-info" style="border:1px #5885a5 solid; height:35px;">搜索学校</button>		
				</from>
				<div id="gj" style="width:373px; border:1px #5885a5 solid; padding:10px; overflow:hidden; line-height:25px; display:none;"></div>
				<div id="sheng" style="width:373px; word-break:break-all; border:1px #5885a5 solid; padding:10px; overflow:hidden; line-height:25px;display:none;"></div>
				<div id="list" style="width:373px; border:1px #5885a5 solid; padding:10px; overflow:hidden; line-height:25px;display:none; height:300px; overflow-y:auto;"></div>
			</div>
	   </dl>
    <!-- 
	 	 <dl class="btn-group" style="padding-left:45px; padding-bottom:10px;" data-toggle="buttons-radio">
					  <a class="btn"  style="width:120px; height:17px;line-height:15px;font-size:12px;">默认(时间)排序<img  src="/public/images/searchpageArrow.png"/></a>
					  <a class="btn" href="@{QuestAnsw.Quespaging}"style="width:100px; height:17px;line-height:15px;font-size:12px;">回答数量<img  src="/public/images/searchpageArrow.png"/></a>
					  <a class="btn" href="@{QuestAnsw.Quespaging}" style="width:100px; height:17px;line-height:15px;font-size:12px;">关注热度<img  src="/public/images/searchpageArrow.png"/></a>
		</dl>
    -->
</div>
<div class="classify NO1">
		<div  class="group1">
				#{list items:qArticles,as:'qa'}
					<div style="border-bottom:1px solid #dddddd;margin-left:20px; padding-bottom:5px; width:600px;">
			 	 	 <label class="woqu">
							<a class="tiezi-title" href="@{QuestAnsw.showQuesInfo(qa.ques.id)}" style="TEXT-DECORATION:none;" ><h5>${qa.ques.title}</h5></a>
					</label>
						<label class="userinforleft">
							<div class="guanzhu-num">
								<a class="guanzhuNO2">${qa.ques.answerNum}</a>
								<div>
									<p class="muted">回答</p>
								</div>
							</div>
							<div class="huida-num">
								<a class="guanzhuNO3">${qa.ques.focusNum}</a>
								<div>
									<p class="muted">关注</p>
								</div>
							</div>
							
						</label>
						<div class="controls userinforright" style="">
							<ul style="	margin-left:177px; width:363px;" >
								<li>
									<a class="muted"> 标签:</a>
									<a class="keywords" style="TEXT-DECORATION:none;">${qa.ques.label}</a>
								</li>
								<li ><h5>${qa.ques.username}，${qa.ques.selfIntro}</h5></li>
								<li class="qatitlea" style="height: 44px;overflow: hidden;">	
										
										#{if qa.comments?.comment == null}
											<span class="qatitlea" style="color:#CC0033;" >还没人回答</span>
										#{/if}
										#{else}
											<span class="qatitlea"  >
												${qa.comments?.comment.raw()}
											</span>
										#{/else}
										
								</li>
								<li>
									<a href="@{QuestAnsw.fcousOnQuestion(qa.ques.id)}" class="guanzhu-question">
										<img src="/public/images/focus.png">
										关注问题
									</a>
									
									#{if qa.comments?.userid == userId || qa.comments?.usertype == userType}
										<a href="@{QuestAnsw.editComent(userId, userType,qa.ques.id)}">
											<i class="icon-edit"></i>修改答案
										</a>
									#{/if}
									#{else}						
									<a class="guanzhu-question" idnum="${qa.comments?.quesid}">
										<img src="/public/images/answer.png">
										我来回答${qa.comments?.id}
									</a>
									#{/else}
									<div  class="kuaishuhuida hide" style="width:364px; height:100px;">
									<div  id="show${qa.ques.id}" style="width:363px;"></div>
										<form id="comments${qa.ques.id}"  action="@{QuestAnsw.comments}" method="POST" style=" width:365px;">
											<input type="hidden"  name="quesid" value="${qa.comments?.quesid}" >
											<textarea rows="2" style="width:350px;" id="comment${qa.ques.id}" name="comment" value="${flash.comment}"></textarea>
											<input class="btn btn-info tiwen-btn" type="button" value="发布回答" 
											onclick="quickAnswer('comment${qa.ques.id}','${qa.ques.id}')"
											style="float:right; height:30px; margin-top:5px;" id="sub${qa.ques.id}"> 
										</form>
									</div>
								</li>
							</ul>	
						</div>
						</div>
			 	 	 #{/list}
			 	 	 
			 <div class="row-fluid">
					<div class="span12" style="margin-left:10%;">
						<div class="pagination">
						<ul>
								<li>
									<a href="@{QuestAnsw.Quespaging(1)}" class="paging">首页</a>
								</li>
								<!-- 
								<li>
									<a href="@{QuestAnsw.Quespaging(pageNum)}" class="paging">上一页</a>
								</li>
								 -->
								#{list items:1..pageCount,as:'page'}
									<li>
										<a href="@{QuestAnsw.Quespaging(page)}" class="paging">${page}</a>
									</li>
								#{/list}
								<!--  
								<li>
									<a href="@{QuestAnsw.Quespaging(pageNum)}" class="paging">下一页</a>
								</li>
								-->
								<li>
									<a href="@{QuestAnsw.Quespaging(pageCount)}" class="paging">末页</a>
								</li>
							</ul>
						</div>
			 	 	</div>
			 	 </div>
			 	 	 
			 </div>
</div>








<section id="flat" class="showcase">
            <hgroup>
                <h3>Flat Buttons</h3>
            </hgroup>

            <section class="gallery">
                <ul>
                    <li><a href="#" class="button button-rounded button-flat">press me</a></li>
                    <li><a href="#" class="button button-rounded button-flat-primary">press me</a>  </li>
                    <li><a href="#" class="button button-rounded button-flat-action">press me</a>   </li>
                    <li><a href="#" class="button button-rounded button-flat-highlight">press me</a></li>
                    <li><a href="#" class="button button-rounded button-flat-caution">press me</a>  </li>
                    <li><a href="#" class="button button-rounded button-flat-royal">press me</a>  </li>
                </ul>
                <ul>
                    <li><a href="#" class="button button-pill button-flat">press me</a></li>
                    <li><a href="#" class="button button-pill button-flat-primary">press me</a>  </li>
                    <li><a href="#" class="button button-pill button-flat-action">press me</a>   </li>
                    <li><a href="#" class="button button-pill button-flat-highlight">press me</a></li>
                    <li><a href="#" class="button button-pill button-flat-caution">press me</a>  </li>
                    <li><a href="#" class="button button-pill button-flat-royal">press me</a>  </li>
                </ul>
                <ul>
                    <li><a href="#" class="button button-flat">press me</a></li>
                    <li><a href="#" class="button button-flat-primary">press me</a>  </li>
                    <li><a href="#" class="button button-flat-action">press me</a>   </li>
                    <li><a href="#" class="button button-flat-highlight">press me</a></li>
                    <li><a href="#" class="button button-flat-caution">press me</a>  </li>
                    <li><a href="#" class="button button-flat-royal">press me</a>  </li>
                </ul>
                <ul>
                    <li><a href="#" class="button button-circle button-flat">press me</a></li>
                    <li><a href="#" class="button button-circle button-flat-primary">press me</a>  </li>
                    <li><a href="#" class="button button-circle button-flat-action">press me</a>   </li>
                    <li><a href="#" class="button button-circle button-flat-highlight">press me</a></li>
                    <li><a href="#" class="button button-circle button-flat-caution">press me</a>  </li>
                    <li><a href="#" class="button button-circle button-flat-royal">press me</a>  </li>
                </ul>
            </section>

            <pre class="prettyprint linenums">&lt;a href="#" class="button button-rounded button-flat-primary"&gt;press me&lt;/a&gt;
&lt;a href="#" class="button button-pill button-flat-primary"&gt;press me&lt;/a&gt;
&lt;a href="#" class="button button-flat-primary"&gt;press me&lt;/a&gt;
&lt;a href="#" class="button button-circle button-flat-primary"&gt;press me&lt;/a&gt;</pre>
        </section>

