#{extends 'main.html' /}
#{set title:'showQuesInfo.html' /}
#{set 'Styles'}
<link href="../../public/stylesheets/user.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="../../../public/javascripts/nicEdit.js"></script>
#{/}
	<script language="javascript" type="text/javascript">
		bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
		function showPraise(){
			
		}
	</script>
<div style="width:700px; float:left;">
		 <div style="width:600px;">
				#{list items:fQ,as:'findListQues'}
				<ul style="padding-bottom:5px; padding-left:0px;"  >
					<li  class="qatitle">	
						<i class=" icon-lightbulb"></i>
						<span  style="font-size:17px; color:#000000; font-weight:bold;" class="ql">${findListQues.title}</span>
						#{if isSimple}
							#{if UserQues}
								<a  class="btn btn-link linkf"  href="@{QuestAnsw.editQues(findListQues.id)}">
						 	 	<i class="icon-edit"></i>修改</a>
						 		<a  class="btn btn-link linkf"  href="@{QuestAnsw.deleteQues(findListQues.id)}">
						 	 	<i class="icon-remove-sign"></i>删除</a>
							#{/if}
						#{/if}
						#{elseif isCSSA}
							#{if CssaQues}
								<a  class="btn btn-link linkf"   href="@{QuestAnsw.editQues(findListQues.id)}">
						 	 	<i class="icon-edit"></i>修改</a>
						 		<a  class="btn btn-link linkf"   href="@{QuestAnsw.deleteQues(findListQues.id)}">
						 	 	<i class="icon-remove-sign"></i>删除</a>
						 	 #{/if}
						#{/elseif}
						 #{else}
						 	<span><span>
						 #{/else}
					</li>
				
					<li class="qatitle">
						<i class="icon-bookmark-empty"></i>	<span  class="ql">${findListQues.label}</span>
					</li>
					<li class="qatitle">
						<i class="icon-user"></i><span class="qatitlea linkf ql">${findListQues.username}，${findListQues.selfIntro}</span>
					</li>
				
					<li class="qatitle" style="padding-bottom:25px;">
					<i class="icon-spinner icon-spin"></i>
						<div class="qatitlea linkf sinfc"  >
						${findListQues.content.raw()}
						</div>
					</li>
					<li class="qatitle"   style="border-top:1px solid #dddddd;  border-bottom:1px solid #dddddd; padding-bottom:15px;">
						<span style="font-weight:bold;">${findListQues.answerNum}</span>个回答
					</li>
			 	</ul>
			 	#{/list}
		  </div>
		 
		  <div style="  width:560px; margin-left:40px;">
		 		#{list items:listCom,as:'ac'}
			 		<ul style="border-bottom:1px solid #dddddd; padding-bottom:15px;">
					 		<li class="" style="margin-left:-40px;">
				    			<h5>
				    				#{if ac.usertype == "cssa"}
				    				<a id="userInfo${ac.userid}" href="@{CSSAs.preview(ac.userid)}" data-target="#modal" data-toggle="modal" style="color:#336699;">
				    				<img  src=${ac.userprofile} class="op2-right2" style="height:30px; width:30px;"> ${ac.username}：</a>
				    				<span class="text-muted">${ac.userSelfIntro}</span>
				    				#{/if}
				    				#{else}
				    					<a id="userInfo${ac.userid}" href="@{SimpleUsers.preview(ac.userid)}" data-target="#modal" data-toggle="modal" style="color:#336699;">
				    					<img  src=${ac.userprofile} class="op2-right2" style="height:30px; width:30px;"> ${ac.username}：</a>
				    					<span class="text-muted">${ac.userSelfIntro}</span>	
				    				#{/else}
				    			</h5>
				    			 <span >
				    			 <a href="@{QuestAnsw.notAgree(ac.id,ac.quesid)}" title="点击赞同"><img src="/public/images/1-2.png"> ${ac.praiseNum}票 ,</a>
				    			 <span style="color:#999999;font-size:10px; margin-left:10px;">${ac.date}</span>
				    			 <div style="float:right;margin-top:-30px;">
	 								
								 </div> 
				    		</li>
				    		<li class="qatitle" style="line-height:25px; margin-left:-40px;">
				    			<div style="TEXT-DECORATION:none; text-indent:2em; font-size:12px ; color:#000000;  font-family:'Helvetica Neue',Helvetica,Arial,Sans-serif';" >${ac.comment.raw()}</div>
				    		</li>
		  	   	    </ul>
		  	   #{/list}	
	  	  </div> 		
  			
	  		<div style="margin-left:40px;padding-bottom:50px; width:600px;">
	  		 #{if isSimple}
	  		 	#{if UserQues}
	  		 		#{list items:fQ,as:'findListQues'}
	  		 			<span style="line-height: 50px;margin-left:50px;">用户不能回答自己的问题但是可以对自己的问题进行
	  		 			<a href="@{QuestAnsw.editQues(findListQues.id)}">修改或者补充</a></span>
	  		 		#{/list}
	  		 	#{/if}
	  		 	#{elseif UserComments}
	  		 		<span style="line-height: 50px;margin-left:50px;">一个问题你只能回答一次，但你可以对  
						#{list items:fQ,as:'findListQues'}
							<a style="color:#259;" href="@{QuestAnsw.editComent(comentUserid, comentUsertype,findListQues.id)}">
							<u><big> 现有的回答</big></u></a>  
							进行修改</span>
						#{/list}
	  		 	#{/elseif}
	  		 	#{else}
	  		 		<li class="qatitle" style="padding-bottom:15px; padding-top:8px; color:#336699">
					  		${comentUsername} ,回答问题
					 	</li>
					 	<form id="comments" action="@{QuestAnsw.addComent}" method="post">
						 	#{list items:fQ,as:'findListQues'}
						 		<input type="hidden"  id="quesid" name="quesid" value="${findListQues.id}" />
							#{/list}
					 		<textarea rows="5" style="width:570px;" id="area1" name="comment" value="${flash.comment}"></textarea>
						 	<input type="submit" id="submitbutton" value="发布回答" class="btn btn-primary"  
						 	style="width:80px;" />
					 	</form>
	  		 	#{/else}
	  		 #{/if}
	  		 #{elseif isCSSA}
	  		 	#{if CssaQues}
	  		 		#{list items:fQ,as:'findListQues'}
	  		 			<span style="line-height: 50px;margin-left:50px;">用户不能回答自己的问题,但是可以对自己的问题进行
	  		 			<a href="@{QuestAnsw.editQues(findListQues.id)}">修改或者补充</a></span>
	  		 		#{/list}
	  		 	#{/if}
	  		 	#{elseif CssaComment}
	  		 		<span style="line-height: 50px;margin-left:50px;">一个问题你只能回答一次，但你可以对  
						#{list items:fQ,as:'findListQues'}
							<a style="color:#259;" href="@{QuestAnsw.editComent(comentUserid, comentUsertype,findListQues.id)}">
							<u><big> 现有的回答</big></u></a>  
							进行修改</span>
						#{/list}
	  		 	#{/elseif}
	  		 	#{else}
	  		 			<li class="qatitle" style="padding-bottom:15px; padding-top:8px; color:#336699">
					  		${comentUsername} ,回答问题
					 	</li>
					 	<form id="comments" action="@{QuestAnsw.addComent}" method="post">
						 	#{list items:fQ,as:'findListQues'}
						 		<input type="hidden"  id="quesid" name="quesid" value="${findListQues.id}" />
							#{/list}
					 		<textarea rows="5" style="width:570px;" id="area1" name="comment" value="${flash.comment}"></textarea>
						 	<input type="submit" id="submitbutton" value="发布回答" class="btn btn-primary"  
						 	style="width:80px;" />
					 	</form>
	  		 	#{/else}
	  		 #{/elseif}
	  		 #{else}
	  		 	<li class="qatitle" style="padding-bottom:15px; padding-top:8px; color:#336699">
					  		${comentUsername} ,回答问题
					 	</li>
					 	<form id="comments" action="@{QuestAnsw.addComent}" method="post">
						 	#{list items:fQ,as:'findListQues'}
						 		<input type="hidden"  id="quesid" name="quesid" value="${findListQues.id}" />
							#{/list}
					 		<textarea rows="5" style="width:570px;" id="area1" name="comment" value="${flash.comment}"></textarea>
						 	<input type="submit" id="submitbutton" value="发布回答" class="btn btn-primary"  
						 	style="width:80px;" />
					 	</form>
	  		 #{/else}
			</div>
</div>

<div style="float:left;">
   #{list items:fQ,as:'fidid'}
	<div class="op-right1">
	#{if isSimple}
		#{if UserFocusQues}
		<a class="btn btn-default" href="@{QuestAnsw.cancelFqcusQues(fidid.id)}">取消关注</a>
		#{/if}
		#{else}
			<a class="btn btn-primary" href="@{QuestAnsw.fcousOnQuestion(fidid.id)}" >关注问题</a>
		#{/else}
	#{/if}
	#{elseif isCSSA}
		#{if CSSAFocusQues}
		<a class="btn btn-default" href="@{QuestAnsw.cancelFqcusQues(fidid.id)}">取消关注</a>
		#{/if}
		#{else}
			<a class="btn btn-primary" href="@{QuestAnsw.fcousOnQuestion(fidid.id)}" >关注问题</a>
		#{/else}
	#{/elseif}
	#{else}
		<a class="btn btn-primary" href="@{QuestAnsw.fcousOnQuestion(fidid.id)}" >关注问题</a>
	#{/else}
	
	</div>
	<label class="op-17">
		<span class="op-18">
			<a href="@{QuestAnsw.allFollowers(fidid.id)}">${fidid.focusNum}</a>
		<span>
		<span class="op-13">人关注该问题</span>
		</span></span>
	</label>
	#{/list}
	 <div>
	  #{list items:FQ,as:'fidid'}
	  
	  #{if fidid == "cssa"}
	  	<a href="@{CSSAs.preview(fidid.userid)}" data-target="#modal" data-toggle="modal">
	  	<img  src=${fidid.userprofile} class="op2-right2" style="height:30px; width:30px;"></a>
	  #{/if}
	  #{else}
	 		<a href="@{SimpleUsers.preview(fidid.userid)}" data-target="#modal" data-toggle="modal">
	 		<img  src=${fidid.userprofile} class="op2-right2" style="height:30px; width:30px;"></a>
	  #{/else}
	 	
	  #{/list}
	 </div> 
</div>
<div style=" clear:both;"></div>	
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
