#{extends 'main.html' /}
#{set title:'userQues.html' /}
<link href="../../public/stylesheets/user.css" rel="stylesheet" media="screen">

<div class="row">
	<div class=" col-md-2">

		<a href="@{SimpleUsers.changeProfile(user.id)}">
			<img class="img-thumbnail profile-lg" src="${user.profile}">
		</a>

	</div>
	<div class="col-md-8">
		<h3>
			${user.name}
			<small> &nbsp; <a href="@{SimpleUsers.ChangeEmail(user.id)}"> 登陆邮箱 </a>/ <a href="@{SimpleUsers.changePassword()}"> 密码</a></small>
		</h3>
		<h6>
			<span>
				#{if user.age}
					<span class="text-primary"> ${user.age} </span>
					 岁，
				 #{/if}
			    
			    #{if user.birthday}
			    	#{if user.dispBirthday}
					生日是<span class="text-primary"> ${user.birthday} </span>
					#{/if}
				 #{/if}
			    
			    #{if user.hometown}
			    	 来自 <span class="text-primary"> ${user.hometown} </span>, 
			    #{/if} 
			    
			    #{if user.homeNow}
			    	现居住<span class="text-primary"> ${user.homeNow} </span>, 
			    #{/if} 
			    
			    #{if user.school}
			     <span> 学校 </span>
			    	 <span class="text-primary"> ${user.school} </span> ,
			    #{/if} 
			    
			    #{if user.major}
			     <span>专业 </span>
			    	 <span class="text-primary"> ${user.major} </span> ,
			    #{/if} 
			    
			    #{if user.admissionTime}
			     <span>入学时间 </span>
			    	 <span class="text-primary"> ${user.admissionTime} </span> ,
			    #{/if} 
			    
			    #{if user.qq}
			    	#{if user.dispQQ}
			    	
			     <span>QQ </span>
			    	 <span class="text-primary"> ${user.qq} </span> ,
			    	 #{/ if}
			    #{/if} 
			    
			    #{if user.ralationship}
			    	<span> 感情状况 </span> 
			    	<span class="text-primary"> ${user.ralationship} </span> , 
			    #{/if} 
			    
			    #{if user.contract} 
			    	#{if user.dispContract}
			    	<span> 手机号 </span> 
			    	<span class="text-primary"> ${user.contract} </span>
			    	#{/if} 
			    #{/if}
			    
			</span>
		</h6>
		<h5>
			签名：${user.selfIntro?user.selfIntro:'无'} &nbsp;
			<a href="@{SimpleUsers.eduMail}" >
				<i class="icon-edit">完善资料</i>
			</a>
		</h5>
		<p>
			<a class="btn btn-primary " href="@{Activities.create}">
				<i class="icon-flag"></i> 发起活动
			</a>
			<a class="btn btn-primary " href="@{QuestAnsw.QuesIndex}">
				<i class="icon-question-sign"></i> 我要提问
			</a>
		</p>

	</div>
</div>

<div class="row mg-top-3">
	<div class="col-md-2">
		<ul class="list-group">
			<li class="list-group-item">
				<a class="use-f-a16" href="@{SimpleUsers.publishedActivity}" onClick="activity()">
					<i class="icon-flag"></i> 我的活动
				</a>
			</li>
			<li class="list-group-item">
				<a class="use-f-a16 HD" href="@{QuestAnsw.userQues}" onClick="ques()">
					<i class="icon-comments-alt"></i> 我的问答
				</a>
			</li>
		</ul>
	</div>
	<div class="col-md-8">


		<div class="bs-docs-example XX" id="activity">
			<ul id="myTab" class="nav nav-tabs">
				<li class="active">
					<a href="#home" data-toggle="tab">我发布的问题</a>
				</li>
				<li>
					<a href="#profile" data-toggle="tab">我回答的问题</a>
				</li>
				<li>
					<a href="#profile1" data-toggle="tab">我关注的问题</a>
				</li>

			</ul>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="home">
					#{list items:UQues,as:'q'}
						<li style="list-style:none; border-top: solid 1px #e2e2e2;padding: 10px;">
							<h5><a href="@{QuestAnsw.showQuesInfo(q.id)}">${q.title}</a></h5>
						</li>
					#{/list}
				</div>
				
				<div class="tab-pane fade" id="profile">
					#{list items:UComment,as:'q'}
						<li style="list-style:none;border-top: solid 1px #e2e2e2;padding: 10px;">
							<h5><a href="@{QuestAnsw.showQuesInfo(q.quesid)}">${q.quesTitle}</a></h5>
						</li>
					#{/list}		
				</div>
				<div class="tab-pane fade" id="profile1">
					#{list items:FQues,as:'q'}
						<li style="list-style:none;border-top: solid 1px #e2e2e2;padding: 10px;">
							<h5><a href="@{QuestAnsw.showQuesInfo(q.quesId)}">${q.quesTitle}</a></h5>
						</li>
					#{/list}
				</div>
			</div>
		</div>

	</div>

</div>
<div class="float-1"></div>

