#{extends 'main.html' /}
#{set title:'edit.html'/}
  #{set 'Styles'}
	<link rel="stylesheet" href="@{'public/stylesheets/wel.css'}" />
    <link href="@{'public/stylesheets/font-awesome/css/font-awesome.css'}" rel="stylesheet">
	<link href="@{'public/stylesheets/index.css'}" rel="stylesheet">
	#{/set}
	
		<!-- 这里是标题-->
	 
	<!--正文部分-->
	 <div class="oppcontent-2" >
	 	<div class="op-left1"  >
			<form action="@{Charities.update(pageNo)}"  method="post"  id="index" enctype="multipart/form-data"   >
			<div class="op-left2"  >
		 
			<h3>发布公益性文章</h3>
 			<input type="hidden" name="pageNo" value="${pageNo}" />
		 <div  class="op-title">修改标题</div>
		 
			<input type="text" class="edit_text"   placeholder="请输入文章标题......"
			  name="w.title" value="${w.title}" /><br/>
			
		 
			 <div  class="op-title">修改封面</div>
			 
 		 
			     <input type="file" name="f" style="width:798px;margin-left:80px;" onchange="previewImage(this)" />     
					<div id="preview" style="margin-left:80px;">
					    <img id="imghead"  name="f1"   src="${w.f}">
					</div>
								 
			 
			  <div  class="op-title"  >公益说明</div>
		 
			<textarea style="" class="edit_t"
			  name="w.generalize">${w.generalize}</textarea>
			
			
			
			
			<div class="float-1"></div>
		
		  <div class="op-c">修改内容</div>
		 
				  
				<input type="hidden" name="w.id" value="${w.id}" />
		 
			
			
<div class="container">
  <div class="hero-unit" style="width: 800px;margin-left: 77px;">
  <div class="pull-right">
 
    
  </div>
	 
 	 
			  <textarea cols="50" id="area1" style="width:550px;" rows="10" name="w.content" value="${flash.content}" >${w.content.raw()} </textarea>
  
	 
  </div>
 
</div>
 
			<div class="float-1"></div>
					<input type="submit" class="we-btn btn-large btn-primary" id="tijiao" value="提交修改" > 
			 </div>
			</form>
		</div>
	  
	  <div style="clear:both;"></div>
	 
	 </div>	 
		<!--这里是底部-->
#{set 'Scripts'}
<script type="text/javascript" src="@{'/public/javascripts/nicEdit.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/pic.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/key.js'}"></script>
 <script type="text/javascript">
//<![CDATA[
  bkLib.onDomLoaded(function() {
        new nicEditor().panelInstance('area1');
        
  });
  //]]>
  </script>
 
					 
					#{/set}