#{extends 'main.html' /}
#{set title:'welfare.html'/}
 
	<link rel="stylesheet" href="@{'public/stylesheets/wel.css'}" />
 
<div class="clearfix"></div>

<div class="span5 offset3" style="margin-top: 110px; margin-bottom: 237px; margin-left: 320px;">
	<img src="/public/images/ok.png" style="float: left; margin-top: -15px;">
	<h4 style="color: #5282a5">（你所发的公益活动需要经过我们的严格审核）</h4>

	<h6 style="color: #e2e2e2; margin: 20px; font-size: 14px;">
		温馨提示：您可以点击
		<a href="@{Charities.smfabu()}">继续</a>
		添加公益活动，点击<a href="javascript:history.go(-1)">返回</a>
		上一页面
	</h6>
</div>


	 