#{extends 'main.html' /}
#{set title:'wel.html'/}
 

		
		<!--这里是内容-->
<div class="row">
	<div class="col-md-8">
		 <h3>公益活动</h3><hr>
			  #{if isAdmin}
			 	<h4><a  class="btn btn-primary gy-fb" href="@{Charities.fabu()}">发布公益</a></h4>
			  #{/if}
			 	 
			#{if !isAdmin} 	 
				 #{if !islogged}
				 		<h4><a  class="btn btn-info gy-fb"   href="Charities/smindex">发布公益</a></h4>
					 #{/if}
			 #{/if} 
				 
			 	#{list items :we,as:'ac'}
				
				<blockquote style="" class="pb0">
				  <p class="overfloat-100 mb0 pad-bottom-0 "><a class="goy-h3" href="@{Charities.welfare(ac.id)}" target="_blank">${ac.title}</a></p>
				 <small  class="pull-right"><span class="color4">来自于:</span><span class="color5">${ac.fromUser}</span></small>
				</blockquote>
			#{if isAdmin&& !ac.isChecked}
				 <a  class="btn btn-default pull-right" href="@{Charities.pass(ac.id)}">通过审核</a>
			#{/if}
						 
			<div class="row">
				<div class="col-md-4 col-sm-4 ">
					<a href="@{Charities.welfare(ac.id)}"> <img src="${ac.f}" class=" img-responsive maxh170"/></a>
				</div>
				<div class="col-md-8 col-sm-8 pl0">
			 	 	 <div class="goy-3 minh140" > 
					  	<span class="goy-a ">${ac.generalize}</span>
					 </div>		
				 	<span class="link">${ac.time}更新 </span>
			    	 <span class="ml30">
						 	<a class="link" href="@{charities.like(ac.id,pageNo)}"> +关注活动(<span class="size3 color-red">${ac.likerCount}</span>) </a>
					 	#{if isAdmin }
					 	  	<a href="@{Charities.edit(ac.id,pageNo)}">编辑</a>
					  #{/if}			
					</span>
				</div>
			</div>	
		<hr>	 
			#{/list}	
	</div>
</div>
  
	  	#{if pageCount != 1}
			  <div class="pagination">
						<ul>
							<li>
									<a href="@{Charities.pigination(1)}" class="paging">首页</a>
								</li>
						 
								<li >
									<a href="@{Charities.pigination(pageNo-1 )}" pagenum="${pageNo}"   id="shangyiye" class="paging">上一页</a>
								</li>
						  	 
						   	 %{for(int i=inter[0];i<=inter[1];i++){}%
								<li class="panduan" >
							 		<a href="@{Charities.pigination(i)}"  class="paging  ${pageNo==i?"now_page":""} "   id="page_gy"  >${i}</a>
								</li>
						 	 %{}}%
						 	<li>
									<a href="@{Charities.pigination(pageNo+1 )}" id="xiayiye" pageNumber="${pageCount}"  class="paging">下一页</a>
								</li>
							   
								<li>
									<a href="@{Charities.pigination(pageCount)}" class="paging">末页</a>
								</li>
							</ul>
								
					</div>
				 #{/if}
	 	 
	</div>	
 			
 	
 
 	 
 
 
 
 
		<!--这里是底部-->
	
		#{set 'Scripts'}
<script type="text/javascript">
 
 
	 $(document).ready(function(){
	 	
	 
		if($("#shangyiye").attr("pagenum")==1){
			$("#shangyiye").addClass("hide");
		} 
		
		if($("#xiayiye").attr("pageNumber")==${pageNo}){
			$("#xiayiye").addClass("hide");
		} 
		
		  $(".paging").click(function(){
			//var s = $(this).attr("number").val();
				//alert($(this).attr("number"));
		 

		});
	 

	
	
	});  
  </script>		
 	#{/set}
 