#{extends 'main.html' /}
#{set title:'welfare.html'/}
 
	<link rel="stylesheet" href="@{'public/stylesheets/wel.css'}" />
 
 
		
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  
 <div class="oppcontent-2"  >
	 	<!--左边部分-->
		<div class="op-left"  >
			<div class="op-1"  >	
			<h2>${w.title} </h2>
				<input type="hidden" name="w.id" value="${w.id}" />
			</div>
			<div class="op-4"  >
		<p class="p-1">${w.content.raw()}</p>

	 
		
	</div>
	
 
 		
		</div>
		
		 
	 	  <div class="float-1"></div>
	 
	 
	 </div>
	 
	 
	 
		<!--这里是底部-->
	 