#{extends 'main.html' /}
#{set title:'welfare.html'/}
 
	<link rel="stylesheet" href="@{'public/stylesheets/wel.css'}" />
 
 
		
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  
 <div class="oppcontent-2"  >
	 	<!--左边部分-->
		<div class="op-left"  >
			<div class="op-1"  >	
			<h2>${w.title} </h2>
				<input type="hidden" name="w.id" value="${w.id}" />
			</div>
			<div class="op-4"  >
		<p class="p-1">${w.content.raw()}</p>

	 
		
	</div>
 
 		
		</div>
		
		<!-- <div class="op-right"  >
		
				<span class="op-right1">公益推荐</span>
				
				 
					<img src="../../../public/images/gy.png" class="op-right2"  />
				 <div class="op-right4">
						<span class="op-right3"  >【我的公益故事】我和我的导盲犬，你是我的眼</span> 
				 </div>
					<div class="float-1"> </div>
			 
				
					
			 
					<img src="../../../public/images/gy.png" class="op-right2"  />
					 <div class="op-right4">
						<span class="op-right3"  >【我的公益故事】我和我的导盲犬</span> 
				 </div>
					<div class="float-1"> </div>
				 
				 
				
				
					
				 
					<img src="../../../public/images/gy.png" class="op-right2"  />
						 
					 <div class="op-right4">
						<span class="op-right3"  >【我的公益故事】我和我的导盲犬</span> 
				 </div>
					<div class="float-1"> </div>
				 
		 
		
		</div> 
			 -->
	 	  <div class="float-1"></div>
	 
	 
	 </div>
 
		<!--这里是底部-->
	 