#{extends 'main.html' /}
#{set title:'welfare.html'/}
 
	<link rel="stylesheet" href="@{'public/stylesheets/wel.css'}" />
 
 
		
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv='refresh' content='5;URL= javascript:history.go(-1)'>
 <div class="oppcontent-2"  >
	 	<!--左边部分-->
		<div class="op-left"  >
			<div class="op-1-1"  >	
			 
	 	
		<img src="@{'public/images/GIF_404.gif'}">
	</div>
 
 		
		</div>
 
<div id="div1"></div> <span id="div2">秒后返回上级页面</span>
			</div><div class="float-1"></div>
	
	
	#{set 'Scripts'}
    <script type="text/javascript">		
		var start = 5;
		var step = -1;
	function count()
	{
		document.getElementById("div1").innerHTML = start;
		start += step;
		if(start < 0)
			start = 5;
		setTimeout("count()",1000);
	}
	
	 $(document).ready(function(){
	 	
	 	count();
		});
		</script>
  #{/set}