#{extends 'main.html' /}
#{set title:'addVolInfo.html' /}
 <link rel="stylesheet" href="/public/stylesheets/Activity-index.css"/>
 <link href="../../public/stylesheets/user.css" rel="stylesheet" media="screen">
 <div>
<form id="puUser" action="@{Airports.doAddVolInfo}" method="POST" class="form-horizontal">


<div style="margin-top: 30px; margin-left: 50px;">
			<div style="padding-top: 10px;">
				<h1>
					<span class="pfc"> 接机服务</span>
				</h1>
			</div>
			<div style="padding-top: 20px;">
				<span>你好,请如实填写以下内容。</span>
			</div>
			<div style="text-indent: 2em; width: 895px;">
				<span> 非常感谢您的帮助！ 请留下您的基本信息和联系方式，我们会在需要时与您联系，
					确认接机事宜。我们也会根据时间安排将您留下的联系方式发给需 要帮助的新同学或学者， 他们会与您主动联系，商量具体事宜以及费用。
					接机注册表格中已注明强烈建议需要接机的同学为志愿者承担油费，具体费用请双方商议。 </span>
			</div>
		</div>
<div class="form-group"  style="padding-top:30px;">
	<label for="name" class="col-md-2 control-label"><span style="color: #FF0000;"> * </span>姓名</label>
	<div class="col-md-3 ">
		<input type="text" class="form-control" placeholder="请输入真实姓名" name="v.name" value="${flash.pkUsername}" id="pkUsername" maxlength="12">
		<input type="hidden" name="v.school" value="${schoolName}">
		<input type="hidden" name="schoolId" value="${schoolId}">
	</div>
	 <span class="suffix">*</span><span class="col-md-3 sfont">(如果可能的话请填写中文)</span><span class="col-md-3">#{error 'name' /}</span>
</div>


<div class="form-group">
	<label for="name" class="col-md-2 control-label"><span style="color: #FF0000;"> * </span>性别</label>
	<div class="col-md-3 ">
		<input type="radio"  name="v.gender" id="pkSex" value="男  ${flash.gender=="男"?"checked":""}" />男
		<input type="radio"  name="v.gender" id="pkSex" value="女  ${flash.gender=="女" ? "checked":""}" />女
	</div>
</div>


<div class="form-group">
	<label for="name" class="col-md-2 control-label"><span style="color: #FF0000;"> * </span>联系电话</label>
	<div class="col-md-3 ">
		<input type="text" class="form-control" id="pkTelphone" name="v.phone" value="${flash.pkTelphone}" placeholder="请输入电话号码" maxlength="10">
	</div>
	 <span class="suffix">*</span><span class="col-md-3 sfont"><div style="width:630px;">(请填写真实有效的电话,如:<span style="color:#428bca;"> +1(213)777-7777，+86-13777777777</span>)</span></div><span class="col-md-3">#{error 'name' /}</span>
</div>


<div class="form-group">
	<label for="name" class="col-md-2 control-label"><span style="color: #FF0000;"> * </span>Email</label>
	<div class="col-md-3 ">
		<input type="text" class="form-control" id="pkEmail" type="text" value="${flash.pkEmail}" name="v.email" placeholder="请输入邮箱" maxlength="36" />
	</div>
	 <span class="suffix">*</span><span class="col-md-3 sfont"><div style="width:630px;">(请填写真实有效的Email,如:<span style="color:#428bca;">opporlink@gmail.com</span>)</div></span><span class="col-md-3">#{error 'name' /}</span>
</div>


<div class="form-group">
	<label for="name" class="col-md-2 control-label"><span style="color: #FF0000;"> * </span>车型</label>
	<div class="col-md-3 ">
		<input type="text" class="form-control" id="pkCar" type="text" name="v.car" value="${flash.pkCar}" placeholder="请填写车型" maxlength="32" />
	</div>
	 <span class="col-md-3">#{error 'name' /}</span>
</div>

<div class="form-group">
	<label for="name" class="col-md-2 control-label"></label>
	<div class="col-md-3 " style="width:43%;">
		<span >(请务必表明车的大小，例如:<span style="color:#428bca;">SUV, SEDAN，范例 Honda Accord Sedan。我们会通过车型大小为你安排单次接机可接人数。原则是小车一人，大车两人</span>)</span>
	</div>
</div>


<div class="form-group">
	<label for="name" class="col-md-2 control-label"><span style="color: #FF0000;"> * </span>可借机时间</label>
	<div class="col-md-3 ">
		<input type="text" class="form-control" id="pkDate" name="v.date" value="${flash.pkDate}" placeholder="非常重要！请详细填写" maxlength="360" />
	</div>
	 <span class="col-md-3">#{error 'name' /}</span>
</div>


<div class="form-group">
	<label for="name" class="col-md-2 control-label"></label>
	<div class="col-md-3 " style="width:43%;">
		<span style="color:#428bca;">(范例：9月2日之前，周日上午除外，周五周六晚上除外)</span>
	</div>
</div>


<div class="form-group">
	<label for="name" class="col-md-2 control-label"><span style="color: #FF0000;"> * </span>备注</label>
	<div class="col-md-3 ">
		<textarea class="pick-inpu-tarea" rows="5" cols="36" name="v.remarks" id="pkCheat" ></textarea>
	</div>
</div>


<div class="form-group">
	<label for="name" class="col-md-2 control-label"></label>
	<div class="col-md-3 "  style="width:43%;">
		<span >再次感谢您的热心帮忙！
			<p>任何关于接机方面的问题， 请发送邮件至
				<a href="mailto:opporlink@gmail.com">opporlink@gmail.com</a>
			</p>
		</span> 
	</div>
</div>



<div class="form-group">
	<div class="col-md-offset-2 col-md-3">
		<input type="submit" class="btn btn-primary" value="提交">
		<input type="reset"  class="btn btn-primary" value="重置">
	</div>
</div>	

</form>
</div>
		