#{extends 'main.html' /}
#{set title:'doAddStuInfo.html' /}
<meta http-equiv='Content-Type' content='doAddStuInfo/html; charset=utf-8' />
<meta http-equiv='refresh' content='3;URL= http://www.opporlink.com/simple/infocenter'>
<div class="row">
<div class="span5 offset3" style="margin-top: 55px;margin-bottom: 237px;">
<img src="@{'public/images/ok.png'}" style="float:left">
<h4 style="color:#5282a5">您好，您已经建立接机所需服务，添加信息成功！<br>
<span id="div1" style="color:#5282a5"></span><span style="color:#5282a5" id="div2">秒后自动跳转个人主页</span></h4>
</div>
</div>
<script>
var start = 3;
var step = -1;
function count()
{
	document.getElementById("div1").innerHTML = start;
	start += step;
	if(start < 0)
		start = 3;
	setTimeout("count()",1000);
}
window.onload = count;
</script>

