#{extends 'main.html' /}
留学生信息

<div>
<b>姓名</b>
<a>${stu.siUsername}</a><br/>
<b>性别</b>
<a>${stu.siSex}</a><br/>
<b>邮箱</b>
<a>${stu.siEmail}</a><br/>
<b>微信号或者电话号</b>
<a>${stu.siTelphone}</a><br/>
<b>学校</b>
<a>${s.name}</a><br/>
<b>专业</b>
<a>${stu.simajor}</a><br/>
<b>机场</b>
<a>${stu.siAirport}</a><br/>
<b>日期</b>
<a>${stu.siDate}</a><br/>
<b>时间</b>
<a>${stu.siTime}</a><br/>
<b>是否接机</b>
<a>${stu.sipickup}</a><br/>
<b>是否住宿</b>
<a>${stu.siStay}</a><br/>
<b>行李</b>
<a>${stu.siLuggage}</a><br/>
<b>备注</b>
<a>${stu.siRemarks}</a><br/>
</div>
