#{set title:'pickupIndex.html' /}
#{extends 'main.html'  /}


		
		<!--这里是内容-->
<div class="opporcontent" style="height:500px;">
	<div style="float:left; width:512px; height:430px; padding-top:20px;" >
		<div style="width:500px; height:300px; padding-left:12px;">
			<img src="../public/images/GIF_airplane.gif">
		</div>
		
			
		<div style="margin-left:200px; margin-top:35px; " >
			<a  class="btn btn-info" href="@{Pickup.registerStudentInfo}"  >
				<img src="../public/images/feiji.png"> 
				我需要接机
			</a>
		</div>
		<!--  
			<div class="" style=" text-align:center; margin-top:20px;" >
			<div style="float:left; width:200px; height:60px; padding-top:20px;">
				管理员入口
			</div>
			<div style="float:left;">
				<button type="button" style="width:120px; height:50px; background:#4b7390;" >
					<a style="color:#FFFFFF;" href="@{Pickup.showStudentsInfor}">查看全部需要接机人信息</a>
				</button>
			</div>
			<div style="float:left;">
			<button type="button" style="width:120px; height:50px; background:#4b7390; margin-left:40px;" >
				<a style="color:#FFFFFF;" href="@{Pickup.expStuInfor}">导出全部需要接机人信息</a>
			</button>
			</div>
		</div>
		-->
		
	</div>
	
		
	<div style="float:left; width:512px; height:430px;  padding-top:20px;">
			<div style="width:500px; height:300px; padding-right:12px;">
				<img src="../public/images/GIF_car.gif">
			</div>
			
				
			<div style="margin-left:200px; margin-top:35px;">
				<a class="btn btn-info" href="@{Pickup.registerVolunteerInfo}" >
					<img src="../public/images/button_car.png">
					我是志愿者
				 </a>
			</div>
			
			
			<!--
			<div class="" style=" text-align:center; margin-top:20px;" >
				<div style="float:left; width:200px; height:60px; padding-top:20px;">
					管理员入口
				</div>
				<div style="float:left;">
					<button type="button" style="width:120px; height:50px; background:#4b7390;" >
						<a style="color:#FFFFFF;" href="@{Pickup.showUserInfor}">查看全部志愿者信息</a>
					</button>
				</div>
				<div style="float:left;">
					<button type="button" style="width:120px; height:50px; background:#4b7390; margin-left:40px;" >
						<a style="color:#FFFFFF;" href="@{Pickup.expUserInfor}">导出全部志愿者信息</a>
					</button>
				
				</div>
			</div>
			-->
			
	</div>		
</div>
		
		

		