#{set title:'inputPickupUserinfor.html' /}

<!DOCTYPE>
<html>
<head>
	<meta charset="gb2312">
	<title></title>
	<link rel="stylesheet" href="../public/stylesheets/bootstrap.css" />
	<link rel="stylesheet" href="../public/stylesheets/main.css" type="text/css" >
	<link rel="stylesheet" href="../public/stylesheets/optitle.css" type="text/css" >
	<link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css" type="text/css" >
	<link rel="stylesheet" href="../public/stylesheets/bootstrap-responsive.css" type="text/css" >
	<link rel="stylesheet" href="../public/stylesheets/bootstrap-responsive.min.css" type="text/css" >
	<link rel="stylesheet" href="../public/stylesheets/style.css" type="text/css" >
	
	
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.css'}">
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/optitle.css'}">
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.css'}">
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-responsive.css'}">
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-responsive.min.css'}">
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/style.css'}">
	
	
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css"></style>
</head>

<body>

	<div class="opporbody">
		<!-- 这里是标题-->
		<div class="maintitle" style="text-align:center;">
			<div class="touConten">
					<div  style="float:left; width:270px;">
						<img class="opporlinklog" src="../public/images/logo_.png">
					</div>		
					<div class="biaoti" style="float:left; width:320px;">
						<ul class="nav nav-pills" style="width:650px;">
							<li >
							<a href="#" class="biaotifont">首页</a></li>
							<li >
							<a href="#" class="biaotifont">新生接机</a></li>
							<li >
							<a href="#" class="biaotifont">活动</a></li>
							<li >
							<a href="#" class="biaotifont">问答</a></li>
							<li >
							<a href="#" class="biaotifont">公益</a></li>
						</ul>
					</div>
					
					<div class="titleSearch "  style="float:left; padding-top:8px;">
						<form >
						  <div style="float:left; width:210px;">
								<input class="span2 titleinput"  type="text" placeholder="搜索感兴趣的活动、话题或人...">
						  </div>
						  <div style="float:left; padding-top:15px;"> 
							<button type="button" style="width:20px; height:20px; background-color:#4b7390; background-image:url(img/search.png);" >
							  </button>
						  </div>
						</form>
					</div>
					<div style="float:left; padding-left:20px; padding-top:25px;">
					  <a style="color:#FFFFFF;"> 你好，刘纯阳</a>
					</div>
				
					<div  style="float:left; padding-left:30px; padding-top:25px;">
					  <a style="color:#CCCCCC;"> 退出</a>
					</div>
			</div>
		</div>
		
		
		<!--这里是内容-->
<div class="opporcontent">
	<form id="inputPickupUserinfor" action="@{userinfor.intopickuserinfor}"  method="POST"  >
			<div style="margin-top:30px; margin-left:50px;">
				<div style="padding-top:10px;">
					<h1>接机服务</h1>
				</div>
				<div style="padding-top:20px;">
					<span><a>hi,</a><a>刘纯阳</a><a>请如实填写以下内容。</a></span>
				</div>
				<div>
					<a>
						非常感谢您的帮助！
						请留下您的基本信息和联系方式，我们会在需要时与您联系，
						确认接机事宜。我们也会根据时间安排将您留下的联系方式发给需 要帮助的新同学或学者，
						他们会与您主动联系，商量具体事宜以及费用。 
						接机注册表格中已注明强烈建议需要接机的同学为志愿者承担油费，具体费用请双方商议。
					</a>
				</div>
			</div>
			
			
			<div class="pick-inpu">
						<div class="pick-inpu-border" style="padding-bottom:20px;">						
							<div class="fl malf">
								<label>姓名</label>
							</div>
							<div class="fl malfinput">
								<input type="text" class="pick-inpu-text" placeholder="请输入真实姓名" name="pkUsername" value="${flash.pkUsername}" id="pkUsername">
							</div>
							
							<div class="fl malffont">
								<label>(<a style="color:#FF0000;">*</a><a>请输入您的的姓名)</a></label>
							</div>
						</div>
			</div>
			
			<div class="pick-inpu">
				<div class="pick-inpu-border" style="padding-bottom:20px;">						
					<div class="fl malf">
						<label>性别</label>
					</div>
					<div class="fl malfinput" style="width:140px;">
						
						<div class="sexdiv" style="float:left; ">
							<a class="sexnan">男</a>
							<input type="radio" class="checkboxnan" name="pkSex" id="pkSex" value="男" ${flash.pkSex=="男"?"checked":""}>
						</div>
						
						
						<div class="sexdiv" style="float:right; ">
							<a class="sexnan">女</a>
							
							
							
							<input type="radio" class="checkboxnan"  id="pkSex" name="pkSex" value="女" ${flash.pkSex== "女" ? "checked":""}>
						</div>
						
					</div>
				</div>
			</div>
			
			<div class="pick-inpu">
						<div class="pick-inpu-border" style="padding-bottom:20px;">						
							<div class="fl malf">
								<label>电话</label>
							</div>
							<div class="fl malfinput">
								<input type="text" class="pick-inpu-text" id="pkTelphone" name="pkTelphone"
								 value="${flash.pkTelphone}" placeholder="请输入电话号码">
							</div>
							
							<div class="fl malffont">
								<label>(<a style="color:#FF0000;">*</a><a>请输入您的电话)</a></label>
							</div>
						</div>
					</div>
					
					
			<div class="pick-inpu">
						<div class="pick-inpu-border" style="padding-bottom:20px;">						
							<div class="fl malf">
								<label>Email</label>
							</div>
							<div class="fl malfinput">
								<input type="text" class="pick-inpu-text"
								 id="pkEmail" type="text" value="${flash.pkEmail}" name="pkEmail" placeholder="请输入邮箱">
							</div>
							
							<div class="fl malffont">
								<label>(<a style="color:#FF0000;">*</a><a>请输入您的邮箱)</a></label>
							</div>
						</div>
					</div>
					
					
					
		<div class="pick-inpu">
						<div class="pick-inpu-border" style="padding-bottom:20px; height:80px;">						
							<div class="fl malf">
								<label>车型</label>
							</div>
							<div class="fl malfinput" style="width:400px;">
								<input type="text" class="pick-inpu-text"
								 id="pkCar" type="text" name="pkCar"  value="${flash.pkCar}" placeholder="请填写车型">
							</div>
							<div class="fl malffont" style="width:480px; margin-left:145px;">
									<label>(<a style="color:#FF0000;">*</a><a>请务必表明车的大小，
										例如SUV, SEDAN，范例 Honda Accord Sedan。
										我们会通过车型大小为你安排单次接机可接人数。原则是小车一人，大车两人)
									</a></label>
							</div>
						</div>
					</div>		
					
					
		<div class="pick-inpu">
						<div class="pick-inpu-border" style="padding-bottom:20px;">						
							<div class="fl malf">
								<label>可接机时间</label>
							</div>
							<div class="fl malfinput">
								<input type="text" class="pick-inpu-text"  id="pkDate" type="text" name="pkDate" value="${flash.pkDate}" placeholder="非常重要！请详细填写">
							</div>
							
							<div class="fl malffont">
								<label>(<a style="color:#FF0000;">*</a><a>范例：9月2日之前，周日上午除外，周五周六晚上除外)</a></label>
							</div>
						</div>
					</div>			
			
		<div class="pick-inpu">
						<div class="pick-inpu-border" style="padding-bottom:20px; height:60px;">						
							<div class="fl malf">
								<label>备忘</label>
							</div>
							<div class="fl malfinput">
								<textarea type="text" class="pick-inpu-tarea" rows="5"  name="pkCheat" id="pkCheat" value="${flash.pkCheat}" >
								</textarea>
							</div>
						</div>
					</div>
		
		
		<div class="pick-inpu">
						<div class="pick-inpu-border" style="padding-bottom:20px;">						
							<div  style="margin-left:50px; width:500px;">
								<label>再次感谢您的热心帮忙！
										<p>
										任何关于接机方面的问题，
										请发送邮件至cssauclanewstudentarrive@gmail.com
										</p>
								</label>
							</div>
							<div class="fl malfinput" style="width:280px; margin-left:150px; padding-top:15px;">
								<div class="sexdiv" style="float:left; width:120px; height:40px; ">
									<input type="submit" style="width:120px; height:40px;" value="提交">
								</div>
								
								<div class="sexdiv" style="float:right; width:120px; height:40px; ">
									<input type="reset" style="width:120px; height:40px;" value="重置">
								</div>
							</div>
						</div>
					</div>
		
	</form>
		
</div>
		
		<!--这里是底部-->
		<div class="opporlinkbottom" style="margin-top:1%;">
			<div class="diConten">
				<div style="float:left; padding-top:5px; padding-left:235px;">
					<span ><a style="font-family:Arial;font-size:14px;color:#FFFFFF;">@2013 opporlink 奥噗</a></span>
				</div>
				<div style="float:left; padding-top:5px; padding-left:160px;">
					<span ><a style="font-family:Arial;font-size:14px;color:#FFFFFF;">关于我们 加入奥噗</a></span>
				</div>
				<div style="float:left; padding-top:5px; padding-left:200px;">
					<span >
							<img src="../public/images/share_facebook.png">
							<img src="../public/images/share_google+.png">
							<img src="../public/images/share_twitter.png">
							<img src="../public/images/share_weibo.png">
					</span>
				</div>
			</div>
		</div>
		
		
	</div>
</body>
</html>
