<!DOCTYPE HTML>
<html>
<head>
<base href="/" />
<link rel="icon" href="/public/images/favicon.ico"
	mce_href="/public/images/favicon.ico" type="image/x-icon">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8 " />
<meta name="viewport" content="width=device-width initial-scale=1.0">
<title>奥噗 - #{get 'title' /}</title>
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
#{stylesheet 'user.css' /} #{stylesheet 'op-theme.css' /} #{stylesheet
'media-queries.css' /}#{stylesheet
'font-awesome/css/font-awesome.min.css' /} #{get 'Styles' /}
</head>
<body style="background-image: url(/public/images/background.png);"
	class="text-center img-responsive">
	<header class="col-md-12  clearfix">
		<img src="../public/images/title.png" class="img-responsive" />
	</header>
	<img src="../public/images/base_top.png" class="mb-5 ml3" />
	<!--------------------------------------------------------------------------------------------------------->


	<div class="row text-center"
		style="background-image: url(images/base_center.png); margin: 0px auto;">
		<div class="col-md-8 col-md-offset-2">
			<div class="color-white row text-center">

				<div>
					<img src="/public/images/ok.png" class="di">
					<h4 class="color1 di">您好,您已经建立订餐服务，订单提交成功！</h4>
					<h5 class="color1">
						请牢记您的订单编号:<span class="color-red size3 fwb">${order.orderNumber}</span>
					</h5>
					<h6 class="text-muted ">温馨提示：商家将会按时为您送餐，请耐心等待</h6>
					<h5 class="mt40 color-red">www.opporlink.com</h5>
					<h5 class="text-danger">为中国留学生服务的活动,娱乐，知识，公益平台！</h5>
					<h3 class="text-primary">还没有账号？</h3>
					<button type="button" class="btn btn-warning btn-lg mb20">立即注册奥噗</button>
				</div>



			</div>
		</div>

	</div>
	<!--------------------------------------------------------------------------------------------------------->

	<p>

		<span class="cw size3">Through opporlink operation </span>
	</p>

</body>
</html>
