 #{extends 'main.html' /} #{set title:'wel.html'/} #{set 'Styles'}
<link rel="stylesheet" href="@{'/public/stylesheets/wel.css'}" />
#{/set} #{set 'Scripts'}
<script type="text/javascript" src="/public/javascripts/holder.js"></script>
<script type="text/javascript" src="/public/javascripts/bootstrapx-popoverx.js"></script>
<script type="text/javascript">
$(function() {
	$('a[rel="popoverx"]').popoverx({
		fire_on : 'hover',
		hover_delay_close : 0
	});
})
	

</script>

#{/set}
<!--这里是内容-->

<h3 class="sh_title">已经报名的同学</h3>
<p class="sh_explain">
	#{if isOwner} <span>（点击对方头像即可通过审核，再次点击取消）</span> #{/if} #{else} <span>（看看都有谁报名了，或许有你感兴趣的人）</span> #{/else}
</p>

<p class="sh_content">
	<span>${joiners?.size()}</span><span class="sh_4">人已报名 </span><span>${allownCount}</span><span class="sh_4">人已通过审核</span>
</p>
<div class="sh_width">
	#{if isOwner} #{list items:joiners,as:'joiner'}
	<div class="sh_head">
		#{if joiner.isAllown}
		<img src="@{'/public/images/active_detailed_shenhe.png'}" class="sh_bottom">
		<a href="@{Activities.disAllownJoiner(joiner.id)}" rel="popoverx" data-content="> ${joiner.selfIntro}"  title="" data-original-title="申请者自我介绍">
			<img src="${joiner.joiner.profile}" class="img-rounded sh_head_pic">
		</a>
		<br />
		#{/if} #{else}
		<a href="@{Activities.allownJoiner(joiner.id)}" rel="popoverx" data-content="> ${joiner.selfIntro}"  title="" data-original-title="申请者介绍">
			<img src="${joiner.joiner.profile}" class="img-rounded sh_head_pic">
		</a>
		<br />
		#{/else} #{if joiner.joiner.gender!=null && joiner.joiner.gender.equals("女")}
		<img src="@{'/public/images/active_detailed_gender-proportion_female.png'}" class="male">
		#{/if} #{elseif joiner.joiner.gender!=null}
		<img src="@{'/public/images/active_detailed_gender-proportion_male.png'}" class="male">
		#{/elseif} <span class="sh_name">${joiner.joiner.name}</span>
	</div>
	#{/list} #{/if} #{else} #{list items:joiners,as:'joiner'}
	<div class="sh_head">
		#{if joiner.isAllown}
		<img src="@{'/public/images/active_detailed_shenhe.png'}" class="sh_bottom">
		#{/if}
		<img src="${joiner.joiner.profile}" class="img-rounded sh_head_pic">
		<br />
		#{if joiner.joiner.gender!=null && joiner.joiner.gender.equals("女")}
		<img src="@{'/public/images/active_detailed_gender-proportion_female.png'}" class="male">
		#{/if} #{elseif joiner.joiner.gender!=null}
		<img src="@{'/public/images/active_detailed_gender-proportion_male.png'}" class="male">
		#{/elseif} <span class="sh_name">${joiner.joiner.name}</span>
	</div>
	#{/list} #{/else}





</div>