#{extends 'main.html' /} #{set title:'所有参与者'/}  #{set 'Scripts'}
<script type="text/javascript" src="/public/javascripts/holder.js"></script>
<script type="text/javascript" src="/public/javascripts/bootstrapx-popoverx.js"></script>
<script type="text/javascript">
	$(function() {
		$('a[rel="popoverx"]').popoverx({
			fire_on : 'hover',
			hover_delay_close : 0
		});
	})
</script>

#{/set}
<!--这里是内容-->

<h3 class="sh_title">已经报名的同学</h3>
<p class="sh_explain">
	#{if isOwner} <span>（点击对方头像查看基本资料）</span> #{/if} #{else} <span>（看看都有谁报名了，或许有你感兴趣的人）</span> #{/else}
</p>

<p class="sh_content">
	<span>${allownedJoiners?.size()+disAllownedJoiners?.size()}</span><span class="sh_4">人已报名 </span><span>${allownedJoiners?.size()}</span><span class="sh_4">人已通过审核</span>
</p>
<div class="sh_width">
	 #{list items:allownedJoiners,as:'joiner'}
	<div class="sh_head">

		<p>
			<img src="@{'/public/images/active_detailed_shenhe.png'}" class="sh_bottom">
			<a href="@{SimpleUsers.preview(joiner.joiner.id)}" rel="popoverx" title="${joiner.selfIntro}" data-toggle="modal" data-target="#modal" data-original-title="申请者自我介绍">
				<img src="${joiner.joiner.profile}" class="img-rounded sh_head_pic">
			</a>
		</p>
		<p>
			#{if joiner.joiner.eduMail!=null &&joiner.joiner.eduMailConfirmation==null} <img alt="" src="@{'public/images/edu.png'}" style="display: block;position: absolute;top: 78px;"> #{/if} #{if joiner.joiner.gender!=null && joiner.joiner.gender.equals("女")} <img src="@{'/public/images/active_detailed_gender-proportion_female.png'}" class="male"> #{/if} #{elseif joiner.joiner.gender!=null} <img src="@{'/public/images/active_detailed_gender-proportion_male.png'}" class="male"> #{/elseif} <span class="sh_name">${joiner.joiner.name}</span>
 
		</p>
		#{if isOwner}
		#{if !joiner.isAllown}
		<p>
			<a href="@{Activities.allownJoiner(joiner.id)}" class="btn btn-success ">允许参加</a>
		</p>
		#{/if} #{else}
		<p>
			<a href="@{Activities.disallownJoiner(joiner.id)}" class="btn btn-danger ">取消允许</a>
		</p>
		#{/else}
		#{/if} 
	</div>
	#{/list} 

</div>
<p class="sh_content">
	<span>${disAllownedJoiners?.size()}</span><span class="sh_4">人暂未通过审核</span>
</p>
<div class="sh_width">
	 #{list items:disAllownedJoiners,as:'joiner'}
	<div class="sh_head">

		<p>
			<a href="@{SimpleUsers.preview(joiner.joiner.id)}" rel="popoverx" title="${joiner.selfIntro}" data-toggle="modal" data-target="#modal" data-content="${joiner.selfIntro}" data-original-title="申请者自我介绍">
				<img src="${joiner.joiner.profile}" class="img-rounded sh_head_pic">
			</a>
		</p>
		<p>
			#{if joiner.joiner.eduMail!=null &&joiner.joiner.eduMailConfirmation==null} <img alt="" src="@{'public/images/edu.png'}"> #{/if} #{if joiner.joiner.gender!=null && joiner.joiner.gender.equals("女")} <img src="@{'/public/images/active_detailed_gender-proportion_female.png'}" class="male"> #{/if} #{elseif joiner.joiner.gender!=null} <img src="@{'/public/images/active_detailed_gender-proportion_male.png'}" class="male"> #{/elseif} <span class="sh_name">${joiner.joiner.name}</span>
		</p>
	
		#{if isOwner}
			<p>${joiner.contract}</p>
		#{if !joiner.isAllown}
		<p>
			<a href="@{Activities.allownJoiner(joiner.id)}" class="btn btn-success ">允许参加</a>
		</p>
		
		#{/if} #{else}
		<p>
			<a href="@{Activities.disallownJoiner(joiner.id)}" class="btn btn-danger ">取消允许</a>
		</p>
		#{/else}
		 #{/if} 
	</div>
	#{/list}

</div>


#{set 'Scripts'}

<script type="text/javascript">
$('body').on('hidden.bs.modal', '.modal', function () {
    $(this).removeData('bs.modal');
});

</script>
#{/set}
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>