#{extends 'main.html' /} #{set title:a.name /}  %{String date = new Date().format("yyyy-MM-dd")}%
<div class="row">
	<div class="col-md-9">
		#{if a.isCanceled}
		<div class="bs-callout bs-callout-info">
			<div>
				<img src="/public/images/browsers_!.png" class="pull-left" style="margin-top: -15px;">
				<h4 class="text-info">Sorry，该活动已被 ${a.publisherCSSA==null?a.publisherSU.name:(a.publisherCSSA.school?.name+"CSSA")}取消，您可以再看看其他活动</h4>

				<h6 class="text-muted" style="margin: 20px;">取消原因：${a.canceledReasion}</h6>
			</div>
		</div>	
		#{/if}
 
		<div class="row">
			<div class="col-md-3  img-w-210 mg-right-10">
				<img src="${a.poster}" >
			</div>
			<div class="col-md-8">
				<div class="activity-weight acpading">
					<h3 class="mg-top-0 height-47" >${a.name}</h3>
					<div class="details ">
						<span class="pic-leftTitle color4">时间：</span> <span class="color5  At_info ">${a.time.first().date}至${a.time.last().date} ${a.time.first().timeFrom}-${a.time.first().timeTo}</span>
					</div>
					
					<div class="details ">
						<span class="pic-leftTitle color4">地点：</span> 
						#{if isAllown || isOwner} <span class="color5  At_info ">${a.location}</span> #{/if}
						#{else}<span class="text-danger  At_info ">报名后通过审核可见哦～ </span>#{/else}
					</div>
					
					<div class="details">
						<span class="pic-leftTitle color4">费用：</span> <span class="color5  At_info">$ ${a.money}</span>
					</div>
					<div class="details">
						<span class="pic-leftTitle color4">人数：</span> <span class="color5  At_info">${a.scope.scope}</span>
					</div>
					<div class="details">
						<span class="pic-leftTitle color4">类型：</span> <span class="color5  At_info">${a.type.name}</span>
					</div>

					<div class="details">
					<span class="pic-leftTitle color4">联系方式：</span>
					#{if isAllown || isOwner} <span class="color5  At_info ">${a.contract}</span> #{/if}
						#{else}<span class="text-danger  At_info ">报名后通过审核可见哦～ </span>#{/else}
					</div>
					 
					<div class="details">
						<span class="pic-leftTitle color4">是否需要报名：</span> <span class="color5  At_info">${a.isOpen?"否":"是"}</span>
					</div>
						#{if !a.isOpen}
					<div class="details clearfix">
						<lable class="pull-left"> <span class="pic-leftTitle color4">参加者男女比例</span> 
						%{int female=0;int male=0;}%
						 #{list items:a.joiner,as:'joiner'} 
						%{joiner.joiner.gender=="女"?female++:male++;}%  
						#{/list} 
						
						%{if(a.publisherSU!=null)a.publisherSU.gender.equals("女")?female++:male++;}%
						</lable>
						%{int man = (male+female) == 0 ? 0 : male * 100 / (male + female)}% %{int women = (male+female) == 0 ? 0 : female * 100 / (male + female) }%

						<img src="@{'public/images/active_detailed_gender-proportion_male.png'}" class="pull-left male" style="">
					<div class="progress" style="">
					<div class="progress-bar progress-bar-info " style="background-color:#33a4e9;width: ${man}%"></div>

						<div class="progress-bar progress-bar-danger" style="background-color:#ff3393;width: ${women}%"></div>
						
					</div>
					<img src="@{'public/images/active_detailed_gender-proportion_female.png'}" class="female" style="" >
				</div>
				 
					#{/if} 
					 #{if date <= a.time.last().date}
					<div class="details">

				 #{if !a.isOpen && !isOwner}
						<a href="#myModal" role="button" data-toggle="modal" class="btn btn-info ${hasJoined?'disabled':''}">报名参加</a>
						#{/if}
						#{if !a.isOpen}
						<a class="btn btn-primary" href="@{Activities.allJoinner(a.id)}" target="_bank">查看参加者</a>
						#{/if}
						#{if !isOwner}
						<a href="@{Activities.like(a.id)}" class="btn btn-success ${hasLiked?'disabled':''}" title="Link后，您将收到此活动最新的动态。">
							<i class=" icon-link"></i> Link !
						</a>
						#{/if} 

					</div>
					<div id="myModal" class="modal  fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">自我介绍</h4>
								</div>
								<div class="modal-body">
									<form action="@{Activities.join}" class="form-horizontal" method="POST">
										<textarea class="form-control" name="selfIntro" rows="3"></textarea>
										<input type="hidden" name="aid" value="${a.id}">
										<br />
										<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
										<button type="submit" class="btn btn-info">提交</button>
									</form>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
					<!-- /.modal -->
					#{/if}
				</div>

			</div>
		</div>

		 
			<h3>活动介绍</h3>
			<p class="activity-intro">${a.intro.raw()}</p>
 

		<div id="comment" class="mg-top-3">
		<h2 class="text-success">讨论区</h2>
		
			
			 #{list items:a.comment,as:'comment'}
			<div style=" " class="img-w-3 pt20 pb40 activity-comment">
				<a data-toggle="modal" href="@{SimpleUsers.preview(comment.publisher.id)}" data-target="#modal"><img class="pull-left" src=${comment.publisher.profile} />
				 <span class="db pull-left mt0 ml10">${comment.publisher.name}:${comment.tag}</span></a>
				 <span class="pull-right">${comment.publishedAt}</span>
				<br />
				<span class="pl40">${comment.comment}</span>
			</div>
			#{/list}
			
			#{if connectedSimpleUser}
			 #{form @comment(), method:'get',class:'form-horizontal'}
			
			<div class="form-group ${errors.forKey('tag') ? 'has-error' : ''} mg-top-3" >
				<div class="col-sm-8">
					<textarea class="form-control " name="c.comment" rows="3"></textarea>
					<input type="hidden" name="activity" value="${a.id}" />
					<input type="submit" class="btn btn-primary mt10" value="聊聊">
				</div>
				 
				<span>#{error 'comment' /}</span>
			</div>

			#{/form} 
			#{/if}#{elseif connectedCSSA}
			
			<h4>CSSA 用户暂不能加入讨论。</h4>
			#{/elseif}
			#{else}
			<h5>请<a href="@{SimpleUsers.login}"> 登录 </a>参与讨论，或者<a href="@{SimpleUsers.signup}">注册</a></h5>
			#{/else}
			
		</div>

	</div>
	<!--  地图  -->
	<div class="col-md-3">
		<div class="right-top">
			<a href="@{Activities.Create}" class="btn btn-info btn-lg  faqi">
				<i class="icon-flag"></i> 发起活动
			</a>
		</div>
		<div class="map">
			<h4 class="activity-title3">
				活动地图 #{if isAllown || isOwner}

				<a href="https://maps.google.com/?q=${a.location.replaceAll(" ","+")}" target="_blank">点击查看详细地图 </a>
				#{/if}
			</h4>
			<img src="http://maps.googleapis.com/maps/api/staticmap?center=${a.location.replaceAll(' ','+')}&zoom=11&size=235x165&markers=color:green%7Clabel:A%7C${a.location.replaceAll( ' ','+')}&sensor=false " title="报名通过审核后才能看到详细位置哦～">
		</div>

		<div class="person row mg-left-0">
			<h4 class="activity-title3">活动组织者</h4>
			<div class="activity-userpic col-md-2 pad-left-0">
				#{if a.publisherCSSA==null}
				<a data-toggle="modal" href="@{SimpleUsers.preview(a.publisherSU.id)}" data-target="#modal" class="img-w-4">
					#{/if}#{else}
					<a data-toggle="modal" href="@{CSSAs.preview(a.publisherCSSA.id)}" data-target="#modal" class="img-w-4">
						#{/else} <img src=${a.publisherCSSA==null?a.publisherSU.profile:a.publisherCSSA.profile} >
					</a>
			</div>
			<div class="col-md-9 pad-left-0">
				<p class="mg-top-05"> ${a.publisherSU?.name}</p>
				<p class="mg-top-05">
				
						#{if a.publisherSU==null} ${a.publisherCSSA?.school.name+" CSSA"}
				<a href="@{Messaging.compose('cssa',a.publisherCSSA.id)}">
					<i class="icon-envelope-alt"></i><small class="name">发私信</small>
				</a>
				#{/if} #{else} #{if a.publisherSU.eduMail!=null && a.publisherSU.eduMailConfirmation==null}
				 <img alt="" src="@{'public/images/edu.png'}"> #{/if} 
				 
				 #{if a.publisherSU?.gender.equals("女")}<img src="@{'public/images/active_detailed_gender-proportion_female.png'}"><span class="font-12 text-muted">女</span> #{/if}#{elseif a.publisherSU?.gender.equals("男")}<img src="@{'public/images/active_detailed_gender-proportion_male.png'}"><span class="font-12 text-muted">男</span> #{/elseif}
				<a href="@{Messaging.compose('simple',a.publisherSU.id)}" class="text-muted">
					<i class="icon-envelope-alt"></i><small class="name">发私信</small>
				</a>
				#{/else}
				
				</p>
			
			
			
			</div>
		</div>
		#{if connectedSimpleUser?.isAdmin}
		<div class="mg-top-2">
			#{if !a.isTop}
			<a class="btn btn-primary" href="@{Activities.setTop(a.id)}">顶置</a>
			#{/if} #{if a.isTop}
			<a class="btn btn-primary" href="@{Activities.cancleTop(a.id)}">取消顶置</a>
			#{/if} #{if !a.isHot}
			<a class="btn btn-primary" href="@{Activities.setHot(a.id)}">热门</a>
			#{/if}#{if a.isHot}
			<a class="btn btn-primary" href="@{Activities.cancleHot(a.id)}">取消热门</a>
			#{/if} #{if !a.isFrontPage}
			<a class="btn btn-primary" href="@{Activities.setFrontPage(a.id)}">首页显示</a>
			#{/if} #{if a.isFrontPage}
			<a class="btn btn-primary" href="@{Activities.cancleFrontPage(a.id)}">取消首页显示</a>
			#{/if} #{if !a.isChecked}
			<a class="btn btn-primary" href="@{Activities.setChecked(a.id)}">认证</a>
			#{/if} #{if a.isChecked}
			<a class="btn btn-primary" href="@{Activities.cancleChecked(a.id)}">取消认证</a>
			#{/if}
		</div>
		#{/if}
		<div class="numbers">
			<h4 class="activity-title4">活动成员</h4>
			#{if !a.isOpen}
				<span class="canyuNO">${a.joiner.size()}</span>
				<span class="canyu1 color4">人报名;</span>
				<span class="canyuNO">${allownJoiner.size()}</span> 
				<span class="canyu1 color4">人已通过;</span> #{/if}
				 <span class="canyuNO">${a.liker.size()}</span>
				 <span class="canyu1 color4">人已关注;</span>
		 <div style="height: 70px; overflow: hidden; clear: both;">
			 #{list items:allownJoiner,as:'joiner'}
				<a data-toggle="modal" href="@{SimpleUsers.preview(joiner.joiner.id)}" data-target="#modal">
					<img src="${joiner.joiner.profile}" class="avatar4 mb5" alt="${joiner.joiner.name}">
				</a>
			
		 #{/list}
		 </div>
		</div>
	</div>
</div>

#{set 'Scripts'}

<script type="text/javascript">

$('body').on('hidden.bs.modal', '.modal', function () {
    $(this).removeData('bs.modal');
});

</script>
#{/set}
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>


