#{extends 'main.html' /} #{set title:'create' /} 
#{set 'Styles'} 
#{stylesheet 'bootstrap-datepicker.css' /} 
#{stylesheet 'bootstrap-timepicker.min.css' /} 
#{/set}
<div class="row">
<div class="col-md-10">
<div class="col-md-offset-1 " >
<img src="@{'public/images/active_step1.png'}" class="img-responsive">
	
	<h1 class="text-primary control-label"><i>1. </i><small class="text-primary">第一步：请填写活动信息</small></h1>
 
	<!--<h6  class="text-warning control-label">温馨提示：您需要填写的活动相关信息，其他用户浏览到您的活动信息并报名参加，请您如实填写。</h6>-->
</div>
<div class=" mg-top-3" >
<form action="@{Activities.post}" method="post" accept-charset="${_response_encoding}" class="form-horizontal " name="form1" id="form-activity">
<div class="form-group ${errors.forKey('name') ? 'has-error' : ''}">
	<label for="password" class="col-md-3 control-label"><b class="text-danger">*</b> 活动名称</label>
	<div class="col-md-5 ">
		<input id="inputEmail" type="text" name="a.name" value="${a?.name}"  class="form-control" maxlength="40"/> 
		<span class="help-block"></span>
	</div>
	
</div>
<div class="form-group ${errors.forKey('money') ? 'has-error' : ''}">
	<label for="password" class="col-md-3 control-label">开放参加</label>
	<div class="col-md-4 ">
		<input name="a.isOpen" value="true" id="open"  type="checkbox" ${flash['a.isOpen']=="true"?"checked":""}> <label for="open"> 对所有人开放，无需报名参加。</label>
		
	</div>
	<span class="col-md-5">#{error 's.money' /}</span>
</div>
<div class="form-group ${errors.forKey('name') ? 'has-error' : ''}">
	<label for="password" class="col-md-3 control-label"><b class="text-danger">*</b> 活动类型</label>
	<div class="col-md-3 ">
		<select name="type">
				#{list items:t,as:'at'}
				<option value="${at.id}"  ${a?.type?.id==at.id?'selected':''}>${at.name}</option>
				#{/list}
		</select>
	</div>
	
</div>

<div class="form-group ${errors.forKey('name') ? 'has-error' : ''}">
	<label for="password" class="col-md-3 control-label"><b class="text-danger">*</b> 人数范围</label>
	<div class="col-md-3 ">
		<select name="scope">
				#{list items:s,as:'s'}
				<option value="${s.id}" ${a?.scope?.id==s.id?'selected':''} >${s.scope}</option>
				#{/list}
			</select>
	</div>
</div>

<div class="form-group ${errors.forKey('name') ? 'has-error' : ''}" >
	<label for="password" class="col-md-3 control-label"><b class="text-danger">*</b> 活动日期</label>
	<div class="col-md-4 ">
		<div class="input-daterange input-group" id="datepicker">
    		<input type="text" class="input-sm  form-control"  name="dateFrom" />
    		 <select type="text" class="input-sm form-control" name="timeFrom"> 
            #{list items:00..23, as:'i'}
             <option value="${i<10?'0':''}${i}:00">${i<10?'0':''}${i}:00</option>
            <option value="${i<10?'0':''}${i}:30">${i<10?'0':''}${i}:30</option>
            #{/list}
            </select>
    		<span class="input-group-addon">TO</span>
    		<input type="text" class="input-sm form-control" name="dateTo" />
    		   <select  type="text" class="input-sm form-control"  name="timeTo">
             #{list items:00..23, as:'i'}
             <option value="${i<10?'0':''}${i}:00">${i<10?'0':''}${i}:00</option>
            <option value="${i<10?'0':''}${i}:30">${i<10?'0':''}${i}:30</option>
            #{/list}
            </select>
			</div>
		
	</div>
	
</div>
<!--<div class="form-group ${errors.forKey('name') ? 'has-error' : ''}" >
	<label for="password" class="col-md-3 control-label"><b class="text-danger">*</b> 活动时间</label>
	<div class="col-md-4 ">
		<div class=" bootstrap-timepicker input-group">
           
            <span class="input-group-addon">TO</span>
         
        </div>
	</div>
	
</div>
-->

<div class="form-group ${errors.forKey('money') ? 'has-error' : ''}">
	<label for="password" class="col-md-3 control-label"><b class="text-danger">*</b> 所需费用</label>
	<div class="col-md-4 input-group">
		<input class="form-control" name="a.money" value="${a.money}" id="appendedPrependedInput" type="text" maxlength="7"><span class="input-group-addon">$</span>
	</div>
</div>

<div class="form-group ${errors.forKey('money') ? 'has-error' : ''}">
	<label for="password" class="col-md-3 control-label"><b class="text-danger">*</b> 联系电话</label>
	<div class="col-md-4 ">
		<input class="form-control" type="text" name="a.contract" value="${a.contract}" maxlength="15"/>
	</div>
</div>

<div class="form-group ${errors.forKey('money') ? 'has-error' : ''}">
	<label for="password" class="col-md-3 control-label"><b class="text-danger">*</b> 活动地点</label>
	<div class="col-md-6 ">
		<input class="form-control"  type="text" name="a.location" value="${a.location}" maxlength="40"/>
	</div>
</div>
<!--
<div class="form-group ${errors.forKey('money') ? 'has-error' : ''}">
	<label for="password" class="col-md-3 control-label"><b class="text-danger">*</b>  邮编</label>
	<div class="col-md-5 ">
		<input class="form-control"  type="text" name="a.zip" value="${a.zip}" maxlength="6"/>
	</div>
</div>
-->
<div class="form-group ${errors.forKey('summary') ? 'has-error' : ''}">
	<label for="password" class="col-md-3 control-label"><b class="text-danger">*</b>  活动概要</label>
	<div class="col-md-8 ">
		<textarea name="a.summary" cols="60" rows="2" id="luggage" maxlength="40" class="form-control">${a.summary}</textarea>
		<span class="help-block">40字以内的活动概要在活动列表中显示，精彩的概要让您的活动脱颖而出。</span>
	</div>
</div>

<div class="form-group ${errors.forKey('summary') ? 'has-error' : ''}">
	<label for="password" class="col-md-3 control-label"><b class="text-danger">*</b> 活动介绍</label>
	<div class="col-md-8 ">
		<textarea name="a.intro" cols="60" rows="6" id="intro"  class="form-control">${a.intro.raw()}</textarea>
	</div>
</div>

	
	<div class="form-group">
		<div class="col-md-offset-3 col-md-3">	
		<input type="reset" class="btn btn-primary " value="重置">
		<input type="submit" class="btn btn-success  " value="提交">		
		
			
		</div>
	</div>
	
</form>
</div>
</div>
</div>

#{set 'Scripts'} 
#{script 'bootstrap-datepicker.js' /}
#{script 'bootstrap-timepicker.min.js' /}
<script type="text/javascript" src="@{'/public/javascripts/nicEdit.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/pic.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/key.js'}"></script>
 
<script type="text/javascript">
	$('.input-daterange').datepicker({
		format : "yyyy-mm-dd",
		autoclose : true,
		startDate : "${startDate}",
		todayBtn : true,
		language : "zh-CN",
		forceParse : false
	});
	
	  bkLib.onDomLoaded(function() {
        new nicEditor().panelInstance('intro');
        
  });
	
</script>
#{/set}


