#{extends 'main.html' /} #{set title:'index.html' /} #{set 'Styles'}
<link rel="stylesheet" href="/public/stylesheets/activity.css" />

#{/set}
<!-- tags -->

<p class="tags">
	<span class="tag-title"><img src="@{'public/images/number.png'}">分类</span>
	<a href="@{Activities.filterType()}" class="${type==''?'label label-primary':''}">全部</a>
	#{list items:t,as:'t'}
	<a href="@{Activities.filterType(t.name)}" class="${type==t.name?'label label-primary':''}"> ${t.name} </a>
	#{/list}
</p>
<p class="tags">
	<span class="tag-title"><img src="@{'public/images/active_category.png'}">人数</span>
	<a href="@{Activities.filterScope()}" class="${scope==''?'label label-primary':''}"> 全部</a>
	#{list items:s,as:'s'}
	<a href="@{Activities.filterScope(s.scope)}" class="${scope==s.scope?'label label-primary':''}"> ${s.scope}</a>
	#{/list}
</p>
<p class="tags">
	<span class="tag-title"><img src="@{'public/images/time.png'}">时间</span>
	<a href="@{Activities.filterPeriod(-1)}" class="${days==-1?'label label-primary':''}"> 全部</a>
	#{list items:p,as:'p'}
	<a href="@{Activities.filterPeriod(p.days)}" class="${days==p.days?'label label-primary':''}"> ${p.period}</a>
	#{/list}
	<a href="@{Activities.filterPeriodWeekend}" class="${days==-2?'label label-primary':''}" style="margin-left: 10px;"> 周末</a>
</p>
<!--  
<div class="clearfix tags">
		<span class="tag-title pull-left"><i class=" icon-map-marker"></i>地点</span>

	<form method="post" action="@{Activities.filterZip}" class="pull-left" style="margin-left:20px;margin-top: 10px;">
		<input type="text" name="zip" value="${zip}" id="" placeholder="请输入邮编" />
		<input type="submit" class="btn btn-info btn-sm" value="查询">
		<input type="reset" class="btn btn-sm" value="清空" id="reset" />
	</form>
</div>
-->
<!-- ./tags -->


<div class="btn-group order">
<a href="@{Activities.orderByDefault}">
	<button type="button" class="btn btn-default btn-sm ${orderName=='default'?'checked':''}">默认排序</button>
	</a>
	<a href="@{Activities.orderByScope} ">
	<button type="button" class="btn btn-default btn-sm ${orderName=='scope'?'checked':''}">
		参与人数 <i class=" icon-arrow-down"></i>
	</button>
	</a>
	<a href="@{Activities.orderByTime}">
	<button type="button" class="btn btn-default btn-sm  ${orderName=='time'?'checked':''}">
		发布时间 <i class=" icon-arrow-down"></i>
	</button>
	</a>
	<!-- 
	<a>
	<button type="button" class="btn btn-default btn-sm">
		距离远近 <i class=" icon-arrow-down"></i>
	</button>
	</a>
	 -->
	<a href="@{Activities.orderByCSSA} ">
	<button type="button" class="btn btn-default btn-sm ${orderName=='cssa'?'checked':''}">
		CSSA活动 <i class=" icon-arrow-down"></i>
	</button>
	</a>

</div>
<a href="@{Activities.Create}" class="btn btn-success btn-lg pull-right">发起活动</a>
</div>
<div class="container container-op1" >

#{list items:frontpageActivity,as:'fa'}
<div class="col-md-2 activity-item-frontpage ">
			<div class="thumbnail">
				<a href="@{Activities.detail(fa.id)}" target="_blank">
					<img alt="${fa.name}" src="${fa.poster}">
				</a>
				<div>
					<h5><a href="@{Activities.detail(fa.id)}">${fa.name}</a></h5>
					<div class="time">${fa.time.first().date}至${fa.time.last().date} </div>
					<div class="profile">
					<span class="pull-right mg-top-2">已有 <a href="@{Activities.alljoinner(fa.id)}"> ${fa.joiner.size()}人 </a> 报名参加</span>
						
						#{if fa.publisherCSSA==null}
					<a data-toggle="modal" href="@{SimpleUsers.preview(fa.publisherSU.id)}" data-target="#modal">
					#{/if}#{else}
					<a data-toggle="modal" href="@{CSSAs.preview(fa.publisherCSSA.id)}" data-target="#modal">
					#{/else}
						<img src="${fa.publisherCSSA?.profile}${fa.publisherSU?.profile}" class="img-polaroid ">
						</a>
						<span><a> ${fa.publisherSU==null?(fa.publisherCSSA?.school.name+" CSSA"):fa.publisherSU.name}</a></span>
						
					</div>
				</div>
			</div>
		</div>

#{/list}
</div>
<div class="container ">

	<!-- users activity -->
	<div class="row ">
		<!--下面部分-->
		%{int row=0}% #{if !a.isEmpty()} #{list items:a,as:'a'} %{row++;}%
		<div class="col-md-3 activity-item mg-top-2">

			<div style="width: 100px; height: 100px;">
				#{if a.isTop}
				<img src="@{'/public/images/active_detailed_tag.png'}">
				#{/if}
				#{elseif a.isCanceled}
				<img src="@{'/public/images/active_detailed_tag3.png'}">
				#{/elseif}
				 #{elseif a.isHot}
				<img src="@{'/public/images/active_detailed_tag1.png'}">
				#{/elseif}#{elseif a.isChecked}
				<img src="@{'/public/images/active_detailed_tag2.png'}">
				#{/elseif} 
				
			</div>
			<div class="thumbnail" style="margin-top: -100px; float: left;">
				<a href="@{Activities.detail(a.id)}" target="_blank">
					<img alt="${a.name}" src="${a.poster}">
				</a>
				<div class="caption">
					<h4 style="width: 235px;height:19px;overflow: hidden;" target="_blank">${a.name}</h4>
					<small>${a.time.first().date}至${a.time.last().date} </small>
					<div>
					<span class="pull-right mg-top-3">已有 <a href="@{Activities.alljoinner(a.id)}"> ${a.joiner.size()}人 </a> 报名参加</span>
					#{if a.publisherCSSA==null}
					<a data-toggle="modal" href="@{SimpleUsers.preview(a.publisherSU.id)}" data-target="#modal">
					#{/if}#{else}
					<a data-toggle="modal" href="@{CSSAs.preview(a.publisherCSSA.id)}" data-target="#modal">
					#{/else}
							<img src="${a.publisherCSSA?.profile}${a.publisherSU?.profile}" class="img-polaroid" style="width: 45px; height: 45px;">
						</a>
						<div><a>${a.publisherSU==null?(a.publisherCSSA?.school.name+" CSSA"):a.publisherSU.name}</a></div>
					
					</div>
				</div>
			</div>
		</div>
		#{if row%4==0}
	</div>
	<div class="row ">#{/if} #{/list} #{/if} #{if row%4!=0}</div>
	#{/if}
</div>

#{set 'Scripts'}
<script type="text/javascript">
$('body').on('hidden.bs.modal', '.modal', function () {
    $(this).removeData('bs.modal');
});
</script>
#{/set}
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

