#{extends 'main.html' /} #{set title:'create' /} #{set 'Styles'} #{stylesheet 'bootstrap-datepicker.css' /} #{/set}
<form action="@{Activities.post}" method="post" accept-charset="${_response_encoding}" class="form-horizontal " name="form1" id="form-activity">
	<div class="control-group">
		<label class="control-label">名称</label>
		<div class="controls">
			<input id="inputEmail" type="text" name="a.name" value="${flash['a.name']}" />
			<span class="error">#{error 'a.name' /}</span>
		</div>
	</div>

	<div class="control-group ">
		<label class="control-label">类型</label>
		<div class="controls">
			<select name="type">
				#{list items:t,as:'at'}
				<option value="${at.id}">${at.name}</option>
				#{/list}
			</select>
			<span class="error">#{error 'a.type' /}</span>
		</div>
	</div>
	<div class="control-group ">
		<label class="control-label">人数范围</label>
		<div class="controls">
			<select name="scope">
				#{list items:s,as:'s'}
				<option value="${s.id}" >${s.scope}</option>
				#{/list}
			</select>
			<span class="error">#{error 'a.scope' /}</span>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">活动时间</label>
		<div class="controls">
			<div class="input-append date ">
				日期:
				<input size="16" type="text" class="datepicker" name="time1.date" readonly />
				<span class="add-on"><i class="icon-th"></i></span> <span class="error"></span>

				<label class="control-label">时间</label>
				#{select 'time1.timeFrom'} 
				#{option '18:00'}18:00#{/option} 
				#{option '19:00'}19:00#{/option} 
				#{/select}
				至
				#{select 'time1.timeTo'} 
				#{option '18:00'}18:00#{/option} 
				#{option '19:00'}19:00#{/option} 
				#{/select}
			</div>
		</div>
	</div>
	<div id="">添加活动时间</div>
<div class="control-group">
		<label class="control-label">活动时间</label>
		<div class="controls">
			<div class="input-append date ">
				日期:
				<input size="16" type="text" class="datepicker" name="time2.date" readonly />
				<span class="add-on"><i class="icon-th"></i></span> <span class="error"></span>

				<label class="control-label">时间</label>
				#{select 'time2.timeFrom'} 
				#{option '18:00'}18:00#{/option} 
				#{option '19:00'}19:00#{/option} 
				#{/select}
				至
				#{select 'time2.timeTo'} 
				#{option '18:00'}18:00#{/option} 
				#{option '19:00'}19:00#{/option} 
				#{/select}
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">活动时间</label>
		<div class="controls">
			<div class="input-append date ">
				日期:
				<input size="16" type="text" class="datepicker" name="time3.date" readonly />
				<span class="add-on"><i class="icon-th"></i></span> <span class="error"></span>

				<label class="control-label">时间</label>
				#{select 'time3.timeFrom'} 
				#{option '18:00'}18:00#{/option} 
				#{option '19:00'}19:00#{/option} 
				#{/select}
				至
				#{select 'time3.timeTo'} 
				#{option '18:00'}18:00#{/option} 
				#{option '19:00'}19:00#{/option} 
				#{/select}
			</div>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">费用</label>
		<div class="controls">
			<div class="input-prepend input-append">

				<input class="form-control" name="a.money" value="${flash['a.money']}" id="appendedPrependedInput" type="text">
				<span class="add-on">$</span><span class="error">#{error 'a.money' /}</span>
			</div>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">是否公开：</label>
		<div class="controls">
			<input name="a.isOpen" value="true" type="checkbox" ${flash['a.isOpen']=="true"?"checked":""}>
			是 <span class="error"></span>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">联系方式</label>
		<div class="controls">
			<input id="inputEmail" type="text" name="a.contract" value="${flash['a.contract']}" />
			<span class="error">#{error 'a.contract' /}</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">地点</label>
		<div class="controls">
			<input id="inputEmail" type="text" name="a.location" value="${flash['a.location']}" />
			<span class="error">#{error 'a.location' /}</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">邮编</label>
		<div class="controls">
			<input id="inputEmail" type="text" name="a.zip" value="${flash['a.zip']}" />
			<span class="error">#{error 'a.zip' /}</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label"> 活动概要</label>
		<div class="controls">

			<textarea name="a.summary" cols="36" rows="3" id="luggage" maxlength="40">${flash['a.summary']}</textarea>
			<span class="error">#{error 'a.summary' /}</span>
			<p>
				<span id="progressbar1">0</span>/40
			</p>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">活动介绍</label>
		<div class="controls">
			<textarea name="a.intro" cols="36" rows="6" id="remarks">${flash['a.intro']}</textarea>
			<span class="error">#{error 'a.intro' /}</span>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<input type="submit" class="btn btn-info" value="提交">
			<input type="reset" class="btn" value="重置">
		</div>
	</div>
</form>
<div class="clearfix"></div>
#{set 'Scripts'} #{script 'bootstrap-datepicker.js' /}
<script type="text/javascript">
	$(".datepicker").datepicker({
		format : "yyyy-mm-dd",
		autoclose : true,
		startDate : "${startDate}",
		todayBtn : true,
		language : "zh-CN",
		forceParse : false
	});
</script>
#{/set}


