<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<link rel="icon" href="/public/images/favicon.ico" mce_href="/public/images/favicon.ico" type="image/x-icon">
<meta name="viewport" content="width=device-width initial-scale=1.0">
<title>欢迎来到奥噗</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/public/stylesheets/shou.css" />
 <link href="/public/stylesheets/media-queries.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="@{'public/IE/iealert/style.css'}" />
	 

#{stylesheet 'op-theme.css' /} #{stylesheet 'font-awesome/css/font-awesome.min.css' /} #{stylesheet 'index.css' /}
 

 
<body>
	 
 	
	 
<div id="banner" >
  <ul id="banner_img">
      <li class="item1"> <div class="wrapper"></div> </li>
      <li class="item2"> <div class="wrapper"></div> </li>
      <li class="item3"> <div class="wrapper"></div> </li>
      <li class="item4"> <div class="wrapper"></div> </li>
      <li class="item5"> <div class="wrapper"></div> </li>
  </ul>
 <div id="banner_ctr"   >
         <div id="drag_ctr"  > </div>
       <ul>
            <li class="styclsa"><span> </span></li>
            <li class="styclsa"><span> </span></li>
            <li class="styclsa"><span> </span></li>
            <li class="styclsa"><span> </span></li>
            <li class="styclsa"><span> </span></li>
       </ul>
	  </div> 
	 
	</div>
 
 <div class="row index_row"  >
	
			<div class="col-xs-6  col-sm-6  col-md-5  col-md-offset-1 col-sm-offset-1 col-xs-offset-1 logo" >
				<img  class="img-responsive"  src="/public/images/logo-big.png"/  >
			</div>	
	
		<div  class="login col-xs-4 col-sm-3 col-md-2  col-md-offset-1  col-sm-offset-1 col-xs-offset-1" >

			#{if isNotLogin}
			<div class="index_dl">
			  
			
			
			 
			
			
				<h5 class="pull-left">
				<img  class="img-responsive pull-right index-beta"  src="/public/images/beta.png" style=""/>
					Welcome
				</h5>
				<h5 class="pull-right">
					<a href="@{SimpleUsers.signup}" id="login-font1"> 注册<i class="icon-flag "></i>
					</a>
				</h5>
			</div>
		
			<div class="clearfix"></div>
			<form class="login-form fm" method="post" action="@{SimpleUsers.authenticate}">


				<div class="form-group">
					<input type="email" class="form-control" id="email" name="email" placeholder="邮箱">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" id="password" name="password" placeholder="密码">
				</div>

				<button type="submit" class="btn btn-primary btn-block">登录</button>
				<div class="checkbox">
					<label> <input type="checkbox"> 记住我 | #{a @SimpleUsers.forgetPassword()}忘记密码？#{/a}
					</label>
				</div>
			</form>
			#{/if} #{else} #{if isSimpleUser}
			<div  class="user_exit text-center" > 
				 
					<img src="${userprofile}" class="img-circle" >
				 
			</div>
			<div class="user_exit_infocenter text-center"  ><a type="button" class="btn btn-default btn-sm" href="@{SimpleUsers.infoCenter()}">个人中心</a> <a type="button" class="btn btn-default btn-sm" href="@{SimpleUsers.logout}">退出登录</a></div> #{/if} #{elseif isCssa}
			<ul  class="user_exit">
				<li>
					<img src="${userprofile}" class="img-circle" >
				</li>
			</ul>
			<div  class="user_exit_infocenter"><a type="button" class="btn btn-default btn-sm" href="@{CSSAs.infoCenter()}">个人中心</a> <a type="button" class="btn btn-default btn-sm" href="@{CSSAs.logout}">退出登录</a></div> #{/elseif} #{/else}
		</div>
	</div>
 
	<div class="container hot-list"  >
		<div class="mg-top-3">
			<h3 class="text-primary">
				最新活动<small class="text-info">ACTIVITY</small><small class="pull-right hd_small">进行着<span class="text-info">${AcNum}</span>个活动
				</small>
			</h3>
			
			<div class="row">
				#{list items:activities,as:'a'}
				<div class="col-xs-6 col-sm-4 col-md-2 activity" style="padding-right: 0px;" >

					<div class="poster">
						<a href="@{Activities.detail(a.id)}" target="_blank"> <img alt=""  src="${a.poster}" class="img-responsive ">
						</a>
					</div>
					<div class="titles text-center">${a.name}</div>
					<div class="detail " onclick="window.location.href='/activity/detail/${a.id}'">
						<p>
							<em>${a.publisherCSSA==null?a.publisherSU.name:(a.publisherCSSA.school.name+"CSSA")}:</em>
						</p>
						<p>${a.summary}</p>
						<p>
							<small>${a.time.first().date}至${a.time.last().date}</small><br /> 已有<b> ${a.joiner.size()}</b>人报名参加
						</p>

					</div>

				</div>

				#{/list}


			</div>
			
			
			<p class="text-right">
				<a href="@{Activities.index}" class="btn  btn-primary">Read More</a>
			</p>

		</div>

		<div class="row">
			<div class="col-md-6 ">
				<h3 class="text-primary">
					最热话题<small class="text-warning  hd_small" style="color:#ff3300">QUESTION</small><small class="pull-right  hd_small">活跃着<span class="text-info">${QuesNum}</span>个话题
					</small>
				</h3>
				<hr />
				<ul class="index-content-ul"  >
				#{list items:ques,as:'q'}
				<li>
					<span class="label"  >${q.views}</span> <a href="@{QuestAnsw.showQuesInfo(q.id)}" target="_blank">${q.title}</a>
				</li>
				#{/list}
				<p class="text-right">
					<a href="@{QuestAnsw.searchPage}" class="btn  btn-primary">Read More</a>
				</p>

			</div>
			<div class="col-md-5 col-md-offset-1">

				<h3 class="text-primary">
					爱心公益<small class="text-success  hd_small" style="color:#00cc00">COMMOMWEAL</small><small class="pull-right  hd_small">认证过<span class="text-info">${WelNum}</span>个公益行动
					</small>
				</h3>
				<hr />
				<ul class="index-content-ul">
				#{list items:wel,as:'w'}
				
					<li>
					<span class="label">${w.views}</span> <a href="@{Charities.welfare(w.id)}" target="_blank">${w.title}</a>
					</li>
				#{/list}
				</ul>
				<p class="text-right">
					<a href="@{Charities.pigination(1)}" class="btn btn-primary">Read More</a>
				</p>
			</div>
		</div>
	 </div>
	<footer class="navbar-op-footer  col-md-12 ">
		<div class="container col-md-offset-4" >
		
			<ul class="nav navbar-nav">
				<li><a href="@{Info.about}" class="list3 pull-left" >&copy; opporlink&nbsp; 奥噗</a></li>
				<li><a href="@{Info.contact}" class="list3 pull-left">联系我们</a></li>
				<li><a href="@{Info.jobs}" class="list3 pull-left">加入奥噗</a></li>
				<li><a href="http://weibo.com/u/3630148044" target="view_window" class="list3 pull-left"> <img src="/public/images/share_weibo.png"   class="list-3"/></a> </li>
				 		</ul>
		
		 
		</div>
	</footer>
 

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="public/javascripts/jquery.validate.js"></script>
		<script type="text/javascript" src="public/javascripts/banner.js"></script>
	
  	<script type="text/javascript" src="@{'public/javascripts/jquery.js'}"></script>
  	 <script src="@{'public/IE/iealert.js'}" type="text/javascript"></script>

 <script type="text/javascript">
	$(document).ready(function() {
		$("body").iealert();
	});
 
		$(function() {

			$(".btn-denglu").click(function() {
				$(".fm").submit()
			});

			$(".fm").validate({
				rules : {
					'email' : {
						required : true,
						email : true
					},
					'password' : {
						required : true,
						rangelength : [ 7, 18 ]
					}
				},
				messages : {
					email : {
						required : '请输入电子邮件地址',
						email : '电子邮件格式错误'
					},
					password : {
						required : "请输入密码",
						rangelength : "密码长度为7~18位"
					}

				}
			});
		});

		function change() {
			$("#fir").fadeOut(1000);
			$("#denglu_page").addClass("hide");
			$("#send").fadeIn(1000);
			$("#zuce_page").removeClass("hide");

		}
		function change_page() {
			$("#fir").fadeIn();
			$("#denglu_page").removeClass("hide");
			$("#send").fadeOut();
			$("#zuce_page").addClass("hide");
		}
		$(".activity").hover(function() {
			$(this).children().last().clearQueue();
			$(this).children().last().stop(true, true).animate({
				top : '0'
			}, "slow");

		}, function() {
			$(this).children().last().clearQueue();
			$(this).children().last().stop(true, true).animate({
				top : '165'
			});

		});
	</script>
</body>
</html>