
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width initial-scale=1.0"> 
	<title></title>
	<link rel="stylesheet" href="@{/public/stylesheets/bootstrap.css}" />
	
	<link rel="stylesheet" href="@{/public/stylesheets/style.css}" />

	<link href="@{/public/stylesheets/media-queries.css}" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="@{/public/javascripts/jquery.js}"></script>
    <script src="js/validate.js"></script>
	<script type="text/javascript" src="@{/public/javascripts/style.js}"></script>
	<script type="text/javascript"></script>	
</head>
<body>

		
		<div class="title-pic" style="width:100%">
			
		
		
		
			<div  id="login" class="login">
			 
				<div id="send">
					<form id="zuce_page" class="hide" method="post" style="margin-left:3%;">
						<label id="login-font2">注册奥噗</label>
							<label><a href="#" id="login-font3" onClick="change_page()"><span id="font">登录</span><img src="img/flag.png" style="margin-right:20px;" alt="" /></a></label>
							<input type="text" id="email" name="email" class="inputBox" value="邮箱" onclick="this.value=''"  onblur="this.value='邮箱'">
							<input type="text" id="username"  name="username" value="请输入昵称" onclick="this.value=''"  onblur="this.value='请输入昵称'">
							<input type="text" id="password2" name="password2" value="请输入密码" onclick="this.value=''"   onblur="this.value='请输入密码'">
							<input type="text" id="password" name="password" value=" " onclick="this.value=''"   onblur="this.value='请再次输入密码'">
							<button class="btn btn-large btn-block btn-info"   type="button" id="btn"><span id="font">注册</span></button>
						
					</form>
				</div>
					
				
			</div>
		</div>
		
	
		<div class="containers">
			<div class="left1">
				<div class="high1">
					<span class="small-title">新生接机</span>
					<span class="small-title2" style="color:red;">WELCOME</span>
						<span style="float:right;margin-top:25px;" class="small-title3">
							<span style="color:#B0C4DE;">已有
							<span style="color:skyblue;font-size:16px;">1212</span>
							<span style="color:#B0C4DE">名同学被顺利接到</span>
						</span>	
					</span>	
						
				</div>
				
					<ul>
						<div class="list1">
							<div class="test">
									<span class="left_title" style="background-color:red;"><span class="wenzi">2<span></span>
									
							</div>
							
							<div class="student1">
								<a href="#" class="student"><span style="color:red">【最新】</span>同学们，旧金山机场暑期接机活动正在招募中，机会难得，赶紧下手报名吧</a>
							</div>
							
						</div>
						
						<div class="list1">
							<div class="test">
									<span class="left_title"><span class="wenzi">215<span></span>
									
							</div>
							
							<div class="student">
								<a href="#" class="student">同学们，旧金山机场暑期接机活动正在招募中，机会难得，赶紧下手报名吧</a>
							</div>
							
						</div>
						<div class="list1">
							
							<div class="test">
									<span class="left_title"><span class="wenzi">22144<span></span>
									
							</div>
							
							<div class="student">
								<a href="#" class="student">同学们，旧金山机场暑期接机活动正在招募中，机会难得，赶紧下手报名吧</a>
							</div>
							
						</div>
						
						
							<button class="btn btn-large  btn-warning" type="button" style="float:right;margin-right:20px;position:relative;" id="btn"><img src="img/feiji.png" alt="" />新生接机快速通道</button>
						
						
					</ul>			
				
			</div>
			
			
			<div>
				<img src="img/5.png"   style="float:right;" class="pic-5"  alt="" />
			</div>
			
			<div class="right1">
				<div class="high1">
				
					
					
					<span class="small-title">最新活动</span>
					<span class="small-title2" style="color:#0072ff">ACTIVITY</span>
						<span style="float:right;margin-top:25px;" class="small-title3">
					
							<span style="color:skyblue;font-size:16px;">188</span>
							<span style="color:#B0C4DE">次认证活动，</span>
							<span style="color:skyblue;font-size:16px;">31176</span>
							<span style="color:#B0C4DE">次结交机会</span>
						</span>	
					</span>	
				</div>
				
					<ul>
						<div class="list1">
								<div class="list1">
							<div class="test">
									<span class="left_title" style="background-color:#0072ff"><span class="wenzi">2<span></span>
									
							</div>
								<a href="#" class="student"><span style="color:#0072ff">【学生会】</span>同学们，旧金山机场暑期接机活动正在招募中，机会难得，赶紧下手报名吧</a>
						</div>
						
						<div class="list1">
								<div class="list1">
							<div class="test">
									<span class="left_title"><span class="wenzi">218<span></span>
									
							</div>
								<a href="#" class="student">同学们，旧金山机场暑期接机活动正在招募中，机会难得，赶紧下手报名吧</a>
						</div>
						
						<div class="list1">
								<div class="list1">
							<div class="test">
									<span class="left_title"><span class="wenzi">2211<span></span>
									
							</div>
								<a href="#" class="student">同学们，旧金山机场暑期接机活动正在招募中，机会难得，赶紧下手报名吧</a>
						</div>
						
							<button class="btn btn-info" style="float:right;margin-right:20px;" type="button">Read More</button>						
						
					</ul>			
				
			</div>
			<div class="left2">
				<div class="high1">
				
				
					
					<span class="small-title">最热话题</span>
					<span class="small-title2" style="color:#ff9600">QUESTION</span>
						<span style="float:right;margin-top:25px;" class="small-title3">
							<span style="color:skyblue;font-size:16px;">243</span>
							<span style="color:#B0C4DE">个日常话题，</span>
							<span style="color:skyblue;font-size:16px;">31176</span>
							<span style="color:#B0C4DE">个精华回答</span>
						</span>	
					</span>	
				</div>
				
					<ul>
						<div class="list1">
								<div class="list1">
							<div class="test">
									<span class="left_title" style="background-color:#ff9600;"><span class="wenzi">2<span></span>
									
							</div>
								<a href="#" class="student"><span style="color:#ff9600">【最热】</span>同学们，旧金山机场暑期接机活动正在招募中，机会难得，赶紧下手报名吧</a>
						</div>
						
						<div class="list1">
								<div class="list1">
							<div class="test">
									<span class="left_title"><span class="wenzi">218<span></span>
									
							</div>
								<a href="#" class="student">同学们，旧金山机场暑期接机活动正在招募中，机会难得，赶紧下手报名吧</a>
						</div>
						
						<div class="list1">
								<div class="list1">
							<div class="test">
									<span class="left_title"><span class="wenzi">2211<span></span>
									
							</div>
								<a href="#" class="student">同学们，旧金山机场暑期接机活动正在招募中，机会难得，赶紧下手报名吧</a>
						</div>
						
							<button class="btn btn-info" style="float:right;margin-right:20px;" type="button">Read More</button>						
						
					</ul>	
			
			</div>
			
			
			
				
			
			
			
			
			
			<div class="right2">
				<div class="high1">
				
					<span class="small-title" >爱心公益</span>
					<span class="small-title2" style="color:#17bb06;">COMMOMWEAL</span>
						<span style="float:right;margin-top:25px;" class="small-title3">
							<span style="color:skyblue;font-size:16px;">4</span>
							<span style="color:#B0C4DE">个认证公益行动，</span>
							<span style="color:skyblue;font-size:16px;">1</span>
							<span style="color:#B0C4DE">份希望援助</span>
						</span>	
					</span>	
				</div>
				
					<ul>
						<div class="list1">
								<div class="list1">
							<div class="test">
									<span class="left_title" style="background-color:#17bb06"><span class="wenzi">2<span></span>
									
							</div>
								<a href="#" class="student"><span style="color:#17bb06">【认证】</span>同学们，旧金山机场暑期接机活动正在招募中，机会难得，赶紧下手报名吧</a>
						</div>
						
						<div class="list1">
								<div class="list1">
							<div class="test">
									<span class="left_title"><span class="wenzi">218<span></span>
									
							</div>
								<a href="#" class="student">同学们，旧金山机场暑期接机活动正在招募中，机会难得，赶紧下手报名吧</a>
						</div>
						
						<div class="list1">
								<div class="list1">
							<div class="test">
									<span class="left_title"><span class="wenzi">2211<span></span>
									
							</div>
								<a href="#" class="student">同学们，旧金山机场暑期接机活动正在招募中，机会难得，赶紧下手报名吧</a>
						</div>
						
							<button class="btn btn-info" style="float:right;margin-right:20px;margin-bottom:40px;" type="button">Read More</button>						
						
					</ul>			
			</div>
			<div>
				<img src="img/6.png" alt="" style="float:left;" class="pic-6" />
			</div>	
				
		</div>
			
			
			
			
	</div>	
	<div class="row-fluid">
			
					<div class="span12">
					
						
					
						<div class="navbar navbar-inverse navbar-static-bottom">
							<div class="navbar">
								<div class="container-fluid" style="background-color:#5282a5;">
									
									<div class="nav-collapse collapse navbar-responsive-collapse">
										
										<ul class="nav"  id="bottom-nav">
											<li>
												<a href="#" class="list3" style="color:white;">&copy; opperlike&nbsp; 奥噗</a>
											</li>
											<li>
												<a href="#" class="list3" style="color:white;">关于我们</a>
											</li>
											<li>
												<a href="#" class="list3" style="color:white;">加入奥噗</a>
											</li>
											
											<li>
											<img src="img/share_facebook.png" class="bottom_pic"/>
											</li>
											<li>
											<img src="img/share_google+.png" class="bottom_pic" alt="" />
											</li>
											<li>
											<img src="img/share_twitter.png" class="bottom_pic" alt="" />
											</li>
											<li>
											<img src="img/share_weibo.png" class="bottom_pic" alt="" />
											</li>
											
										</ul>
										
									
									</div>
									
								</div>
							</div>
							
						</div>
					</div>
				</div>
		
		<script type="text/javascript" src="@{/public/javascripts/jquery.js}"></script>
	 <script src="js/validate.js"></script>
		<script type="text/javascript" src="@{/public/javascripts/style.js}"></script>
		<script type="text/javascript"></script>	
</body>
</html>