<!DOCTYPE HTML>
<html>
<head>
<base href="/" />
<link rel="icon" href="/public/images/favicon.ico" mce_href="/public/images/favicon.ico" type="image/x-icon">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8 " />
<meta name="viewport" content="width=device-width initial-scale=1.0">
<title>奥噗 - #{get 'title' /}</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<script type="text/javascript" src="@{'public/javascripts/jquery.js'}"></script>
<script type="text/javascript" src="@{'public/javascripts/allunivlist.js'}"></script>
<script type="text/javascript" src="@{'public/javascripts/nicEdit.js'}"></script>
#{stylesheet 'user.css' /} #{stylesheet 'op-theme.css' /} #{stylesheet 'main.css' /} #{stylesheet 'media-queries.css' /}#{stylesheet 'font-awesome/css/font-awesome.min.css' /} #{get 'Styles' /}
</head>
<body>
	<header class="navbar  navbar-op" role="navigation" style="min-height: 40px;height: 40px !important;">
		<div class="container" style="min-height: 40px;height: 40px !important;">
			<div class="navbar-header">
			 <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
				
			</div>
			
			<a class="navbar-brand" href="/"> <img class="opporlinklog" src="@{'/public/images/logo.png'}"></a>
				<img  class="img-responsive pull-left  main-beta"  src="/public/images/beta.png" />
			<div class="navbar-collapse collapse bs-navbar-collapse" style="background-color:#336699;" >
			
	 	<ul class="nav navbar-nav ">
	 	<li>
					<li><a class="${request?.controller == 'Application' ? 'active' : ''} " href="@{Application.index}">首页</a></li>
					<li><a class="${request?.controller == 'Airports' ? 'active' : ''} " href="@{Airports.index}">接机</a></li>
					<li><a class="${request?.controller == 'Activities' ? 'active' : ''} " href="@{Activities.index}">活动</a></li>
					<li><a class="${request?.controller == 'QuestAnsw' ? 'active' : ''} " href="@{QuestAnsw.searchPage}">问答</a></li>
					<li><a class="${request?.controller == 'Charities' ? 'active' : ''} " href="@{Charities.pigination(1)}">公益</a></li>
				</ul>
<!--  
				<form class="navbar-form navbar-left global-search" role="search">
					<div class="form-group">
						<input class="form-control" type="text" placeholder="搜索感兴趣的活动、话题或人...">
					</div>

					<button type="submit" class="btn">
						<i class=" icon-search"></i>
					</button>
				</form>
-->
				<ul class="nav navbar-nav navbar-right navbar-no-bg">
					#{if connectedSimpleUser}
					<li><a href="@{SimpleUsers.infoCenter()}"> ${connectedSimpleUser.name}</a></li>
					<li><a href="@{Messaging.index}"> <i class=" icon-envelope"> <span id="mailCount">#{if mailCount+notificationCount>0}${mailCount+notificationCount}#{/if}</span></i>
					</a></li>
					<li><a href="@{SimpleUsers.logout}"> <i class=" icon-off"></i>
					</a></li> #{/if} #{elseif connectedCSSA}
					<li><a href="@{CSSAs.infoCenter()}"> ${connectedCSSA.school.name} CSSA</a></li>
					<li><a href="@{Messaging.index}"> <i class=" icon-envelope"> <span id="mailCount">#{if mailCount+notificationCount>0}${mailCount+notificationCount}#{/if}</span></i>
					</a></li>
					<li><a href="@{CSSAs.logout}"> <i class=" icon-off"></i>
					</a></li> #{/elseif} #{else}

					<li><a href="@{SimpleUsers.signup}" class="cssa_1">注册</a></li>
					<li><a href="@{SimpleUsers.login}" class="cssa_1">登录</a></li> #{/else}

				</ul>
			</div>

		</div>
	</header>

	<!-- container begin -->
	<div class="container container-op clearfix">
		#{if flash?.error}
		<div class="alert alert-danger fade in">
			<a class="close" data-dismiss="alert" href="#">&times;</a> ${flash.error}
		</div>
		#{/if} #{if flash?.success}
		<div class="alert alert-success fade in">
			<a class="close" data-dismiss="alert" href="#">&times;</a> ${flash.success}
		</div>
		#{/if} #{doLayout /}
	</div>
	<!-- container end -->
	<div class="gobackTop" id="gobackTop">
		<div id="gotop" ><img src="/public/images/button_top_.png" id="Top" onmouseout="onmouseoutTop()" onmouseover="onmouseoverTop()"> </div>
		<div style="margin-top:2px;"  data-toggle="modal" data-target="#myModa2"><img src="/public/images/button_suggest_.png" id="opinion"  onmouseout="mouseout()" onmouseover="mouseover()"> </div>
	</div>
	
<div class="modal fade" id="myModa2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">意见反馈</h4>
      </div>
      <div class="modal-body">
				<h5>有了您的建议奥噗才能更好.我们希望收集更多用户对奥噗的意见和看法，不断优化产品，为您更好的服务</h5>
				
<form id="pickupStudentsUserinfor" action="@{UserSurvey.index}" class="form-horizontal" method="POST">
<div class="form-group">
	<label for="name" class="col-md-2 control-label" style="width:18%"><span style="color: #FF0000;"> * </span>您的称呼</label>
	<div class="col-md-3 " style="width:76%">
		<input	class="form-control"  id="name" type="text" name="name" value="${flash.name}" placeholder="请输入您的昵称" maxlength="24">
	</div>
</div>
<div class="form-group">
	<label for="name" class="col-md-2 control-label" style="width:18%"><span style="color: #FF0000;"> * </span>问题类型</label>
	<div class="col-md-3 " style="width:80%">
		<input type="radio" name="type"  value="账号问题"  ${type== "账号问题"?"checked":""} >账号问题
		<input type="radio" name="type"  value="搜索问题"  ${type== "搜索问题"?"checked":""} >搜索问题
		<input type="radio" name="type"  value="活动相关问题" ${type== "活动相关问题"?"checked":""} >活动相关问题
		<input type="radio" name="type"  value="问答相关问题" ${type== "问答相关问题"?"checked":""} >问答相关问题
		<input type="radio" name="type"  value="其他" ${type== "其他"?"checked":""} >其他
	</div>
</div>
<div class="form-group">
	<label for="name" class="col-md-2 control-label" style="width:18%"><span style="color: #FF0000;"> * </span>问题描述</label>
	<div class="col-md-3 " style="width:80%;">
		<textarea id="area1" name="content" value="${flash.content}"  style="width:400px; height:100px;" rows="10"  ></textarea>
	</div>
</div>

<div class="form-group">
	<label for="name" class="col-md-2 control-label" style="width:18%"><span style="color: #FF0000;"> * </span>联系方式</label>
	<div class="col-md-3 " style="width:76%">
		<input	class="form-control"  id="contact" type="text" name="contact" value="${flash.contact}" placeholder="请输入填写您的联系方式" maxlength="24">
	</div>
</div>


	<div class="modal-footer" style="text-align:center;">
        <input type="submit" class="btn btn-primary" value="提交意见">
      </div>

</from>	
				
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
	
	
	
	
	<footer class="navbar-op-footer  col-md-12 ">
		<div class="container col-md-offset-4" >
		
			<ul class="nav navbar-nav">
				<li><a href="@{Info.about}" class="list3 pull-left" >&copy; opporlink&nbsp; 奥噗</a></li>
				<li><a href="@{Info.contact}" class="list3 pull-left">联系我们</a></li>
				<li><a href="@{Info.jobs}" class="list3 pull-left">加入奥噗</a></li>
				<li><a href="http://weibo.com/u/3630148044" target="view_window" class="list3 pull-left"> <img src="/public/images/share_weibo.png"   class="list-3"/></a> </li>
				 		</ul>
		
		 
		</div>
	</footer>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-git.min.js"></script>
	<script src="@{'public/jcrop/js/jquery.Jcrop.min.js'}"></script>
	<script src="@{'public/jcrop/js/script.js'}"></script>

	#{get 'Scripts' /}
	<script type="text/javascript">
		$(document).ready(function() {
			$(".alert").delay(30000).slideUp("slow");
		});
		
		var start = 5;
		var step = -1;
	function count()
	{
		document.getElementById("div1").innerHTML = start;
		start += step;
		if(start < 0)
			start = 5;
		setTimeout("count()",1000);
	}
	
	 $(document).ready(function(){
	 	
	 	count();
		});
		
 
    //点击回到顶部的元素
    $("#gotop").click(function(e) {
            //以1秒的间隔返回顶部
            $('body,html').animate({scrollTop:0},1000);
    });
    $("#gotop").mouseover(function(e) {
        $(this).css("background","url(images/backtop2013.png) no-repeat 0px 0px");
    });
    $("#gotop").mouseout(function(e) {
        $(this).css("background","url(images/backtop2013.png) no-repeat -70px 0px");
    });
    gobackTop();//实现回到顶部元素的渐显与渐隐
 
	
	
function onmouseoutTop(){
 document.all.Top.src = "/public/images/button_top_.png";
}
function onmouseoverTop(){
 document.all.Top.src = "/public/images/button_top__.png";
}

function mouseout(){
 document.all.opinion.src = "/public/images/button_suggest_.png";
}
function mouseover(){
 document.all.opinion.src = "/public/images/button_suggest__.png";
}

bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });


	</script>
	
	
</body>
</html>

