<!DOCTYPE HTML>
<html>
<head>
<base href="/" />
<link rel="icon" href="/public/images/favicon.ico" mce_href="/public/images/favicon.ico" type="image/x-icon">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8 " />
<meta name="viewport" content="width=device-width initial-scale=1.0">
<title>奥噗 - #{get 'title' /}</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<script type="text/javascript" src="@{'public/javascripts/jquery.js'}"></script>
<script type="text/javascript" src="@{'public/javascripts/allunivlist.js'}"></script>
#{stylesheet 'user.css' /} #{stylesheet 'op-theme.css' /} #{stylesheet 'main.css' /} #{stylesheet 'font-awesome/css/font-awesome.min.css' /} #{get 'Styles' /}
</head>
<body>
	<header class="navbar  navbar-op navbar-fixed-top"  role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"> <img class="opporlinklog" src="@{'/public/images/logo.png'}">
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav ">
					<li><a class="${request?.controller == 'Application' ? 'active' : ''} " href="@{Application.index}">首页</a></li>
					<li><a class="${request?.controller == 'Airports' ? 'active' : ''} " href="@{Airports.index}">接机</a></li>
					<li><a class="${request?.controller == 'Activities' ? 'active' : ''} " href="@{Activities.index}">活动</a></li>
					<li><a class="${request?.controller == 'QuestAnsw' ? 'active' : ''} " href="@{QuestAnsw.searchPage}">问答</a></li>
					<li><a class="${request?.controller == 'Charities' ? 'active' : ''} " href="@{Charities.pigination(1)}">公益</a></li>
				</ul>
<!--  
				<form class="navbar-form navbar-left global-search" role="search">
					<div class="form-group">
						<input class="form-control" type="text" placeholder="搜索感兴趣的活动、话题或人...">
					</div>

					<button type="submit" class="btn">
						<i class=" icon-search"></i>
					</button>
				</form>
-->
				<ul class="nav navbar-nav navbar-right navbar-no-bg">
					#{if connectedSimpleUser}
					<li><a href="@{SimpleUsers.infoCenter()}"> ${connectedSimpleUser.name}</a></li>
					<li><a href="@{Messaging.index}"> <i class=" icon-envelope"> <span id="mailCount">#{if mailCount+notificationCount>0}${mailCount+notificationCount}#{/if}</span></i>
					</a></li>
					<li><a href="@{SimpleUsers.logout}"> <i class=" icon-off"></i>
					</a></li> #{/if} #{elseif connectedCSSA}
					<li><a href="@{CSSAs.infoCenter()}"> ${connectedCSSA.school.name} CSSA</a></li>
					<li><a href="@{Messaging.index}"> <i class=" icon-envelope"> <span id="mailCount">#{if mailCount+notificationCount>0}${mailCount+notificationCount}#{/if}</span></i>
					</a></li>
					<li><a href="@{CSSAs.logout}"> <i class=" icon-off"></i>
					</a></li> #{/elseif} #{else}

					<li><a href="@{SimpleUsers.signup}" class="cssa_1">注册</a></li>
					<li><a href="@{SimpleUsers.login}" class="cssa_1">登录</a></li> #{/else}

				</ul>
			</div>

		</div>
	</header>

	<!-- container begin -->
	<div class="container container-op clearfix">
		#{if flash?.error}
		<div class="alert alert-danger fade in">
			<a class="close" data-dismiss="alert" href="#">&times;</a> ${flash.error}
		</div>
		#{/if} #{if flash?.success}
		<div class="alert alert-success fade in">
			<a class="close" data-dismiss="alert" href="#">&times;</a> ${flash.success}
		</div>
		#{/if} #{doLayout /}
	</div>
	<!-- container end -->
	<footer class="navbar-op-footer  col-md-12 ">
		<div class="container col-md-offset-4" >
		
			<ul class="nav navbar-nav">
				<li><a href="@{Info.about}" class="list3 pull-left" >&copy; opporlink&nbsp; 奥噗</a></li>
				<li><a href="@{Info.contact}" class="list3 pull-left">联系我们</a></li>
				<li><a href="@{Info.jobs}" class="list3 pull-left">加入奥噗</a></li>
				 	<li><a href="http://weibo.com/u/3630148044" target="view_window" class="list3 pull-left"> <img src="/public/images/share_weibo.png"   class="list-3" alt="" /></a></li>
			</ul>
		
		 
		</div>
	</footer>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-git.min.js"></script>
	<script src="@{'public/jcrop/js/jquery.Jcrop.min.js'}"></script>
	<script src="@{'public/jcrop/js/script.js'}"></script>

	#{get 'Scripts' /}
	<script type="text/javascript">
		$(document).ready(function() {
			$(".alert").delay(3000).slideUp("slow");
		});
	</script>
</body>
</html>
