 <!DOCTYPE HTML>
 <html>
 <head>
 	<meta charset="UTF-8">
 	<title></title>
	<link rel="stylesheet" href="../../public/stylesheets/bootstrap.min.css">
	<style type="text/css">
	.center-block {
	  
	  text-align:center;
	  line-height:53px;
	  
	}
	.Web-color{
	color:#3276b1;
	
	}
	 img{margin:10px;}
	 </style>
	
 </head>
 <body>
 
 <div class="center-block">
 <h3 class="Web-color"><img src="../../public/images/browsers_!.png" alt="" />您的浏览器版本过低，为了正常浏览页面，建议您升级到最新版本</h3>
 系统检测出您的浏览器版本内核为 <a href="#"> 
 <script type="text/javascript">
        var Sys = {};
        var ua = navigator.userAgent.toLowerCase();
        if (window.ActiveXObject)
            Sys.ie = ua.match(/msie ([\d.]+)/)[1]
        else if (ua.indexOf("firefox")>-1)
            Sys.firefox = ua.match(/firefox\/([\d.]+)/)[1]
        else if (window.MessageEvent && !document.getBoxObjectFor)
            Sys.chrome = ua.match(/chrome\/([\d.]+)/)[1]
        else if (window.opera)
            Sys.opera = ua.match(/opera.([\d.]+)/)[1]
        else if (window.openDatabase)
            Sys.safari = ua.match(/version\/([\d.]+)/)[1];
        
        
        if(Sys.ie) document.write('IE: '+Sys.ie);
        if(Sys.firefox) document.write('Firefox: '+Sys.firefox);
        if(Sys.chrome) document.write('Chrome: '+Sys.chrome);
        if(Sys.opera) document.write('Opera: '+Sys.opera);
        if(Sys.safari) document.write('Safari: '+Sys.safari);
    </script>
</a>
<br/>
 该浏览器内核版本过低，为保持正常浏览页面，<br/>
 我们建议您升级至<a href="#">IE10.0</a> 及以上版本。<br/>
 <a type="button" class="btn btn-primary btn-lg" href="http://windows.microsoft.com/zh-cn/internet-explorer/ie-10-worldwide-languages">点此快速下载IE10.0</a><br/>
 为了保证更出色的页面效果和更好的浏览体验，<br/>
 我们建议您不妨实施其他浏览器的最新版本。<br/>
  
  <a href="http://www.google.cn/intl/zh-CN/chrome/browser/index.html" target="view_window">
	<img src="../../public/images/browser_chrome_.png" alt="Chrome 29.0" title="Chrome 29.0" />
  </a>
  
  <a href="http://windows.microsoft.com/zh-cn/internet-explorer/ie-10-worldwide-languages" target="view_window">
  <img src="../../public/images/browser_IE_.png" alt="" title="IE 10.0" />
  </a>
  <a href="http://extensions.apple.com/" target="view_window">
  <img src="../../public/images/browser_safari_.png" alt=""  title="Safari 5.0"/>
  </a>
  <a href="http://www.firefox.com.cn/" target="view_window">
  <img src="../../public/images/browser_firefox_.png" alt=""  title="Firefox 24.0"/>
  </a>
  <a href="http://www.opera.com/zh-cn" target="view_window">
  <img src="../../public/images/browser_opera_.png" alt="" title="Opera 17.0" />
  </a>
  
 
  
 
 </div>
 	
 </body>
 </html>