#{extends 'main.html' /} #{set 'Styles'}
<link rel="stylesheet" href="@{'/public/stylesheets/info.css'}" />
#{/set}

<!-- 左侧导航 -->
<div class="info-left-nav">
	<ul class="info-nav">
		<a href="@{Info.about}"><li>关于奥噗</li></a>
		<a href="@{Info.contact}"><li class="selected">联系我们</li></a>
		<a href="@{Info.jobs}"><li>加入奥噗</li></a>
	</ul>
</div>

<!-- 内容 -->
<div class="info-wrapper">
	<p class="sub-title">Opporlink 奥噗科技有限公司</p>
	<p class="info">
		地址：郑州市经三路农科路金城广场A座1706-A<br/>
		邮编：450000<br/>
		客服热线：0371-55555555<br/>
		商务合作：0371-51111111<br/>
	</p>
	<div class="map-wrapper">
		地图
	</div>
	<div class="contact-wrapper">
		<div class="contact-cell">
			<img src="/public/images/about/contact_mail.png"/>
			<p>邮件发送至<br/>opporlink@gmail.com</p>
		</div>
		<div class="contact-cell">
			<img src="/public/images/about/contact_weixin.png"/>
			<p>微信公共平台<br/>opporlink</p>
		</div>
		<div class="contact-cell">
			<img src="/public/images/about/contact_weibo.png"/>
			<p>关注新浪微博<br/>奥噗</p>
		</div>
	</div>
</div>