#{extends 'main.html' /} #{set 'Styles'}
<link rel="stylesheet" href="@{'/public/stylesheets/info.css'}" />
#{/set}

<!-- 左侧导航 -->
<div class="info-left-nav">
	<ul class="info-nav">
		<a href="@{Info.about}"><li>关于奥噗</li></a>
		<a href="@{Info.contact}"><li>联系我们</li></a>
		<a href="@{Info.jobs}"><li class="selected">加入奥噗</li></a>
	</ul>
</div>

<!-- 内容 -->
<div class="info-wrapper">
	<p class="sub-title">加入奥噗</p>
	<p class="info">
		在这个世界上，唯一媲美于上帝的，我们称之为<span class="info-highlight">创造。</span><br/>
		因团队发展壮大，现在急需一批<span class="info-highlight">少年</span>加入我们。
	</p>
	
	<!-- Java -->
	<hr class="jobs-hline"/>
	<div class="jobs-grid">
		<div class="jobs-icon-and-name jobs-java">
			<img src="/public/images/about/jobs_java.png"/>
			<p>Java<br/>
			工程师</p>
		</div>
		<div class="jobs-desc">
			<h3>岗位职责：</h3>
			<p>
				1. 产品需求分析与设计。<br/>
				2. 系统编码实现及测试。<br/>
			</p>
			<h3>岗位要求：</h3>
			<p>
				1. 计算机软件或相关专业。<br/>
				2. 精通Java、Java script、CSS、Html、XML、json开发语言，有web/Java开发经验。<br/>
				3. 熟悉J2EE体系架构，熟悉设计模式，熟悉Java主流开发框架（如：spring、struts、hibernate等）。<br/>
				4. 熟悉ORACLE、MYSQL等关系型数据库，有数据库设计经验。<br/>
				5. 熟悉MVC架构模式和J2EE设计模式。<br/>
				6. 熟悉应用服务器，如websphere、Tomcat、WebLogic等。<br/>
			</p>
		</div>
	</div>
	
	<!-- Android -->
	<hr class="jobs-hline"/>
	<div class="jobs-grid">
		<div class="jobs-icon-and-name jobs-android">
			<img src="/public/images/about/jobs_android.png"/>
			<p>Android<br/>
			工程师</p>
		</div>
		<div class="jobs-desc">
			<h3>岗位职责：</h3>
			<p>
				1. 从事android相关功能开发。<br/>
				2. 根据产品需求完成架构和模块设计、编码、测试工作。<br/>
				3. 能按照项目计划，按时提交高质量的代码，完成开发任务。<br/>
				4. 改善软件的易用性，提升用户使用体验。<br/>
			</p>
			<h3>岗位要求：</h3>
			<p>
				1. 大学本科及以上学历，计算机相关专业毕业，良好的编程习惯,有一门面向对象语言的编程经验(java、C#等)。<br/>
				2. 一年以上基于Android平台应用软件开发经验或者多个项目经验，能独立承担开发任务。<br/>
				3. 熟悉Android系统架构及相关技术和API的调用，熟练使用JAVA。<br/>
				4. 精通Android开发平台及框架原理，能独立进行Android应用程序开发和Framework开发，精通Android的基本组件使用。<br/>
				5. 熟悉Android平台下的底层应用程序开发、网络应用程序开发、UI界面开发等，必须有实战项目经验。<br/>
				6. 熟悉android框架原理及Activity生命周期，熟练运用android UI布局。<br/>
				7. 熟悉android各种widget组件，能根据项目需求开发自定义控件。<br/>
				8. 能独立承担android产品开发工作。<br/>
				9. 思路清晰、思维敏捷、学习能力强、具备良好的英文资料阅读能力。<br/>
				10. 能按照项目计划，按时提交高质量的代码，完成开发任务。<br/>
				11. 有在移动应用软件市场发布作品者优先考虑。<br/>
			</p>
		</div>
	</div>
	
	<!-- 设计 -->
	<hr class="jobs-hline"/>
	<div class="jobs-grid">
		<div class="jobs-icon-and-name jobs-design">
			<img src="/public/images/about/jobs_design.png"/>
			<p>设计师</p>
		</div>
		<div class="jobs-desc">
			<h3>岗位职责：</h3>
			<p>
				您将参与研究、概念与交互设计，并以此为基础负责主要视觉创新设计，和相对应的互动设计的输出与定义。 并确保最终输出交付物的品质。
			</p>
			<h3>岗位要求：</h3>
			<p>
				1. 不限背景，我们只关注您的能力。<br/>
				2. 曾参与完整设计项目，优秀的团队协同与独立工作能力。主动热情的工作态度。<br/>
				3. 若有包括概念，界面视觉，平面广告，互动/动画能力，我们更加欢迎。<br/>
			</p>
		</div>
	</div>
	
	<hr class="jobs-hline"/>
	
	<p class="info-slogan">
		哪怕只有萤火虫一般微弱的光亮，也要竭尽可能地在这世界<span class="info-highlight">一闪，</span><br/>
		这才是我们<span class="info-highlight">存在</span>的价值。<br/>
		如果你有这光亮，并试图证明。<br/>
		请加入我们，<br/>
		成为和我们一样，让光亮不断<span class="info-highlight">聚拢</span>和<span class="info-highlight">增强</span>的一份子。
	</p>
	
	<p class="jobs-contact-info">
		请将简历/作品集发送至邮箱<br/>
		<span class="info-highlight">opporlink@gmail.com</span>
	</p>
</div>